---
title: Search that matters - SearchTap
description:
layout: layout-blog
index: true
permalink: blog/
---

<div class="blog-section pt40">
    <div class="container">

        <!--<div align="center" class="mb10">-->
            <!--<button class="btn filter-button" data-filter="all">All</button>-->
            <!--<button class="btn filter-button" data-filter="personalization">Personalization</button>-->
            <!--<button class="btn filter-button" data-filter="ecommercetips">Ecommerce Tips</button>-->
            <!--<button class="btn filter-button" data-filter="analytics">Analytics</button>-->
            <!--<button class="btn filter-button" data-filter="sitesearch">Site Search</button>-->
            <!--<button class="btn filter-button" data-filter="casestudies">Case Studies</button>-->
        <!--</div>-->

        <!--<br/>-->

        <div class="row masonry masonryFlyIn fadeIn">

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter analytics ecommercetips">
                <div class="blog-box">

                    <div class="small-blog" style="max-height:250px;">
                        <a href="5-reasons-to-track-revenue-with-enhanced-e-commerce-tracking/">
                            <img alt="5 Reasons to track revenue with enhanced e-commerce
                                            tracking" src="../img/blog/track-revenue-enhanced-e-com.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="5-reasons-to-track-revenue-with-enhanced-e-commerce-tracking/">
                                        <span class="inline-block date">
                                            <i class="ti-calendar"></i>
                                                    31st Oct, 2018</span>
                            <h5 class="mb0">5 Reasons to track revenue with enhanced e-commerce
                                tracking</h5>

                            <p>Google Analytics’ goal tracking itself is an important metric. That is not
                                under contention...</p>
                            <hr>

                            <div class="btn btn-sm">Read More</div>

                        </a>

                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter site-search ecommercetips">

                <div class="blog-box">

                    <div class="small-blog">
                        <a href="10-tips-on-dealing-with-zero-search-results/">
                            <img alt="10 tips on dealing with Zero Search Results"
                                 src="../img/blog/zero-search-results.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="10-tips-on-dealing-with-zero-search-results/">
                                         <span class="inline-block date">
                                            <i class="ti-calendar"></i>
                                                06th Nov, 2018</span>
                            <h5 class="mb0">10 tips on dealing with Zero Search Results</h5>

                            <p>Nothing is more frustrating for a visitor to when their browsing
                                experience...</p>
                            <hr>

                            <div class="btn btn-sm">Read More</div>
                        </a>

                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter sitesearch">

                <div class="blog-box">

                    <div class="small-blog">
                        <a href="ignoring-e-commerce-search-can-cost-you-sales/">
                            <img alt="Ignoring e-commerce search can cost you sales"
                                 src="../img/blog/search-can-cost-you-sales.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="ignoring-e-commerce-search-can-cost-you-sales/">
                                         <span class="inline-block date">
                                            <i class="ti-calendar"></i>
                                                09th Nov, 2018</span>

                            <h5 class="mb0">Ignoring e-commerce search can cost you sales </h5>

                            <p>15 seconds is all the time that an e-commerce business has to successfully
                                engage a visitor. All the time, energy and effort spent on your...</p>

                            <hr>

                            <div class="btn btn-sm">Read More</div>
                        </a>

                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter site-search ecommercetips">

                <div class="blog-box">

                    <div class="small-blog">
                        <a href="get-higher-conversions-with-a-competent-site-search/">
                            <img alt="Get higher conversions with a competent site search"
                                 src="../img/blog/higher-conversions-with-site-search.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="get-higher-conversions-with-a-competent-site-search/">
                                        <span class="inline-block date">
                                            <i class="ti-calendar"></i>
                                                14th Nov, 2018</span>
                            <h5 class="mb0">Get higher conversions with a competent site search</h5>
                            <p>One of the most ignored segments of an e-commerce site is their search users.
                                These shoppers are generally at the...</p>
                            <hr>

                            <div class="btn btn-sm">Read More</div>
                        </a>

                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter  casestudy sitesearch">

                <div class="blog-box">

                    <div class="small-blog">
                        <a href="pre-and-post-implementation-magento-1/">
                            <img alt="How can you improve your Magento 1.x search"
                                 src="../img/blog/implementation-magento-1.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="pre-and-post-implementation-magento-1/">
                                         <span class="inline-block date">
                                            <i class="ti-calendar"></i>
                                             19th Nov, 2018</span>
                            <h5 class="mb0">How can you improve your Magento 1.x search</h5>
                            <p>Search is a critical feature for any e-commerce store. It helps visitors cut
                                through...</p>

                            <hr>

                            <div class="btn btn-sm">Read More</div>
                        </a>

                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter  sitesearch analytics">

                <div class="blog-box">

                    <div class="small-blog">
                        <a href="improve-conversions-with-search-analytics/">
                            <img alt="Improve conversions with search analytics"
                                 src="../img/blog/search-analytics.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="improve-conversions-with-search-analytics/">
                                         <span class="inline-block date">
                                            <i class="ti-calendar"></i>
                                                16th Nov, 2018</span>
                            <h5 class="mb0">Improve conversions with search analytics</h5>

                            <p>Using search is the first interaction that 25% of visitors make on an
                                e-commerce website...</p>

                            <hr>

                            <div class="btn btn-sm">Read More</div>
                        </a>
                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter ecommercetips">
                <div class="blog-box">

                    <div class="small-blog">
                        <a href="10-tips-for-a-better-mobile-search-ux/">
                            <img alt="10 tips for a better mobile search UX" src="../img/blog/mobile-search-UX.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="10-tips-for-a-better-mobile-search-ux/">
                                        <span class="inline-block date">
                                            <i class="ti-calendar"></i>
                                                01st Nov, 2018</span>
                            <h5 class="mb0">10 tips for a better mobile search UX </h5>

                            <p>With the growth in the mobile sphere, e-commerce businesses have shifted
                                their focus to serving this sort...</p>

                            <hr>

                            <div class="btn btn-sm">Read More</div>
                        </a>
                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter personalization">

                <div class="blog-box">

                    <div class="small-blog">
                        <a href="personalization-is-not-improving-your-customer-engagement/">
                            <img alt="Personalization Isn’t Improving Your Customer Engagement"
                                 src="../img/blog/customer-engagement.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="personalization-is-not-improving-your-customer-engagement/">

                            <span class="inline-block date">
                                <i class="ti-calendar"></i>
                                    27th Oct, 2018</span>
                            <h5 class="mb0">Personalization Isn’t Improving Your Customer Engagement: Here’s
                                Why
                            </h5>

                            <p>A big misstep small e-commerce companies make is thinking that
                                personalization can help them achieve more conversions...</p>

                            <hr>

                            <div class="btn btn-sm">Read More</div>
                        </a>

                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter casestudy sitesearch">

                <div class="blog-box">

                    <div class="small-blog">
                        <a href="pre-and-post-implementation-magento-2/">
                            <img alt="Get better results with Magento 2.x search"
                                 src="../img/blog/implementation-magento-2.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="pre-and-post-implementation-magento-2/">
                                        <span class="inline-block date">
                                            <i class="ti-calendar"></i>
                                                04th Nov, 2018</span>
                            <h5 class="mb0">Get better results with Magento 2.x search</h5>
                            <p>Search users have contributed up to 30% of revenues to an e-commerce
                                business. Your platform needs...</p>

                        <hr>

                        <div class="btn btn-sm">Read More</div>
                        </a>

                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter casestudy sitesearch">

                <div class="blog-box">

                    <div class="small-blog">
                        <a href="pre-and-post-implementation-shopify/">
                            <img alt="Is Shopify's search costing you sales"
                                 src="../img/blog/shopify-implementation.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="pre-and-post-implementation-shopify/">
                                         <span class="inline-block date">
                                            <i class="ti-calendar"></i>
                                                27th Nov, 2018</span>
                            <h5 class="mb0">Is Shopify's search costing you sales</h5>
                            <p>Shopify has enabled many entrepreneurs to take the first steps...</p>

                        <hr>

                        <div class="btn btn-sm">Read More</div>
                        </a>

                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter sitesearch ecommercetips">

                <div class="blog-box">

                    <div class="small-blog">
                        <a href="searchtap-vs-searchanise/">
                            <img alt="SearchTap vs. Searchanise" src="../img/blog/searchtap-vs-searchanise.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="searchtap-vs-searchanise/">
                                        <span class="inline-block date">
                                            <i class="ti-calendar"></i>
                                                07th Dec, 2018</span>
                            <h5 class="mb0">SearchTap vs. Searchanise</h5>
                            <p>Shopify has enabled many entrepreneurs to take the first steps in their
                                e-commerce journey. With setting up a store...</p>

                        <hr>

                        <div class="btn btn-sm">Read More</div>
                        </a>

                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter ecommercetips">

                <div class="blog-box">

                    <div class="small-blog">
                        <a href="22-ways-to-increase-conversions/">
                            <img alt="22 ways to increase conversions" src="../img/blog/increase-conversions.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="22-ways-to-increase-conversions/">
                                        <span class="inline-block date">
                                            <i class="ti-calendar"></i>
                                                03rd Dec, 2018</span>
                            <h5 class="mb0">22 ways to increase conversions </h5>
                            <p>You are no doubt thinking about how to increase your e-commerce stores
                                conversion rates a lot of the times...</p>

                        <hr>

                        <div class="btn btn-sm">Read More</div>
                        </a>

                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="gallery_product col-sm-4 post-snippet masonry-item fadeIn filter site-search">

                <div class="blog-box">

                    <div class="small-blog">
                        <a href="evolution-of-search-as-you-type/">
                            <img alt="Evolution of search as you type"
                                 src="../img/blog/evolution-of-search-as-you-type.jpg">
                        </a>
                    </div>

                    <div class="inner">
                        <a href="evolution-of-search-as-you-type/">
                                        <span class="inline-block date">
                                            <i class="ti-calendar"></i>
                                                27th Oct, 2018</span>
                            <h5 class="mb0">Evolution of search as you type </h5>
                            <p>E-commerce search users don’t just want to see results for their search
                                queries, they want to see...</p>

                        <hr>

                        <div class="btn btn-sm">Read More</div>
                        </a>

                        <ul class="social-share pull-right">
                            <li>
                                <a href="https://twitter.com/share" class="twitter"><i
                                            class="fa fa-twitter jssocials-share-logo"></i></a>
                            </li>

                            <li>
                                <a href="http://www.linkedin.com/shareArticle" class="linkedin">
                                    <i class="fa fa-linkedin jssocials-share-logo"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.facebook.com/sharer" class="facebook">
                                    <i class="fa fa-facebook jssocials-share-logo"></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
