---
permalink: coming-soon/
---
<section class="image-edge bg-secondar">
    <div class="col-md-6 col-sm-4 p0">
        <img alt="Screenshot" class="mb-xs-24" src="/img/products/Features-Covered/Full-text-search.png"/>
    </div>
    <div class="container">
        <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
            <h3 class="uppercase mb40 mb-xs-24">Launching Soon</h3>

            <p>
                We'll be launching this page in the coming weeks. Hit the form below to get notified as we launch.
                Thanks for your interest!
            </p>


            <form name="Coming Soon" id="comingSoonForm" class="halves form-newsletter" data-netlify="true">

                <div class="alert alert-success" id="notificationCreated" style="display: none">
                                <span class="text-center">
                 Thanks! We will get back to you shortly.</span></div>

                <div id="input-hide">

                    <input type="email" id="email"
                           class="mb16 validate-required validate-email signup-email-field" placeholder="Email Address"
                           name="Email" style="height:49px; padding-right:16px;" required />

                    <button id="comingSoonFormSubmit" class="mb16" type="submit">Notify Me</button>

                </div>
            </form>
        </div>
    </div>
</section>

<section class="hidden bg-gray pt16 pb10 bg-border hidden-xs">
    <div class="container-fluid2">
        <div class="row  md-offset-2">

            <div class="col-sm-2 text-center">
                <h4 class="text-center mb0   _600 text-green "> 4ms </h4>
                <p class="mb16 mb-xs-24 font-noraml">
                    Average search speed
                </p>
            </div>
            <div class="col-sm-2 text-center">
                <h4 class="text-center mb0  _600  text-green"> 42 </h4>
                <p class="mb16 mb-xs-24 font-noraml">
                    Geo distributed data centers
                </p>
            </div>

            <div class="col-sm-2 text-center">
                <h4 class="text-center mb0  _600 text-green ">2.3mm+ </h4>
                <p class="mb16 mb-xs-24 font-noraml">
                    Search queries served
                </p>
            </div>

            <div class="col-sm-2 text-center ">
                <h4 class="text-center mb0  _600 text-green"> 560k </h4>
                <p class=" mb16 mb-xs-24 font-noraml">
                    Web pages indexed
                </p>
            </div>

            <div class="col-sm-2 text-center ">
                <h4 class="text-center mb0  _600 text-green"> 99.99% </h4>
                <p class=" mb16 mb-xs-24 font-noraml">
                    Uptime of the servers
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>