---
title: Try SearchTap free trial
description: Learn why online stores are choosing SearchTap for all their search & discovery needs. Sign up for our 14-day free trial today.
layout: layout-empty
permalink: free-trial/
---

<section class="free-bg pt16 pb32" style="height: 100vh">

    <div class="container">

        <div class="row">

            <a href="/" class="logo-light-m">
                <img src="/img/searchtap_logo.png" alt="SearchTap Logo"
                     class="img-responsive center-block pb16 mt16 logo-light-m mb24"></a>

            <div class="signup">


                <div class="col-sm-6">
                    <div class="feature bordered text-center" style="padding-bottom:0px !important;">


                        <h3 class="mt0 mb10 mt-xs-0 text-dark">Let's get started
                        </h3>


                        <hr class="mb6">

                        <h5 class="text-dark text-green">No credit card required.

                        </h5>
                        <form id="trailSignUpForm" class="text-left">
                            <div class="alert alert-danger" id="accountExistError" style="display: none">
                                <span>An account already exists for given email address. If you have problems logging in or signing up, please reach out to us via the contact page. </span>
                            </div>
                            <div class="alert alert-danger" id="signUpFailed" style="display: none">
                                <span>An account already exists for given email address. If you have problems logging in or signing up, please reach out to us via the contact page.</span>
                            </div>
                            <input type="text" name="name" id="name" placeholder="Name" class="bg-none" required/>

                            <input type="tel" id="number" name="phone"
                                   class="col-md-12 validate-required field-error" placeholder="Phone" required="">

                            <input type="text" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="email"
                                   placeholder="Company Email" class=" mt16 bg-none" required/>

                            <input type="password" id="password" name="pass" placeholder="Password" required
                                   style="height:50px;">

                            <input type="submit" id="trailSignUpFormSubmit" style="border-radius:4px !important;"
                                   value="Unleash the power of my search" class=" mb16"/>
                        </form>
                        <p class="mb0 text-dark">By signing up you agree to our

                            <a href="#" class="text-info" style="color:#0073FC;">Terms </a> & <a href="#"
                                                                                                 class="text-info"
                                                                                                 style="color:#0073FC;">Privacy
                                Policy.</a>
                        </p>


                    </div>
                </div>

                <div class="col-sm-6"
                     style="padding-right:0px; padding-left:0px; border-left:1px solid #f1f1f1; padding-bottom:0px !important; background:#fbfbfb; margin-bottom:0px; overflow:hidden;">

                    <div class="text-center">

                        <div class="gray-bg feature bordered sign-up pd what-in " style=" ">
                            <h5 class="uppercase text-dark _600 mb5">WHAT’S INCLUDED
                            </h5>
                            <p class="text-dark">
                                Everything!! All features of SearchTap for 14 days<br>
                                <!---Unlimited Records and Analytics--->
                                1,000 searches/1,000 pages & products
                                <br>
                                UX Guidance & Email Support


                            </p>
                            <hr class=" brd2 text-dark">
                            <h5 class=" uppercase _600 text-dark mb5">14 day free API access</h5>

                            <p class="text-dark mb5 text-green">

                            </p>

                            <p class="text-dark">We are happy to hand hold you and get you up and running during the
                                trial period. <br><br>
                                <b> Requires credit card signup</b>
                                <!---You can upgrade the trial account directly to a paid account after your trial expires without any search data being lost.-->

                            </p>

                            <hr class=" brd2 text-dark">

                            <h5 class=" uppercase _600 text-dark mb5">CUSTOMERS <i class="ti-heart"></i> SEARCHTAP
                            </h5>

                            <div class="my-testimonial-item text-center center-block">
                                <p class="my-testimonial-text text-dark">
                                    SearchTap's hosted Search as a Service is amazingly powerful. It’s like, having
                                    search on steroids.

                                </p>

                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                <div class="testimonial-user text-center center-block">
                                    <img src="/img/testi/2.jpg"
                                         class="thumb testimonial-photo center-block text-center"
                                         alt="Split Testing Software - Customer Testimonial" style="float:left;">
                                    <div class="details">
                                        <div class="name ellipsis">Ajay Khanda</div>
                                        <small class="f10">CEO, Glen Appliances</small>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
