---
title: Magento Search Extension by SearchTap
description: Boost conversions for your Magento store by delivering a fast & relevant search experience with SearchTap's Magento Search Extension.
date: 2017-11-23 10:54:45
permalink: magento-search/
---

<div class="ecom-banner">

    <section class="image-edge pt37 pb0 pt-xs-40 pb-xs-40 m-bg ">

        <div class="col-md-6 col-sm-7 pt88 pl40 tt-p">


            <h5 class="mb6 mb-xs-16 text-white pt50"><span class="pull-left" style="position:relative; top:-2px;"><img
                            src="/img/magento-sml.png"></span>&nbsp;Magento Search by SearchTap</h5>
            <div class="clearfix"></div>
            <hr class="mb16" style="width:45.5%; border-color:#fff;">


            <h3 class="mb16 text-white _400">
                Upgrade your Magento store with SearchTap's ultra fast &amp; highly relevant Magento Search Extension
            </h3>

            <a class="btn btn-lg btn-filled btn-r mt10 mb10" href="/request-demo" style="border-radius:4px;">Request a
                Demo</a>
        </div>

        <div class="col-md-6 col-sm-4 p0 ">
            <img alt="Magento Ecommerce Search Extension" class="mb-xs-24 img-responsive center-block"
                 src="/img/products/Features-Covered/magento_ecommerce_search_extension.png">
        </div>

        <!--end of container-->
    </section>

</div>

<section class=" pt24 pb32 ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="pt6 mb30 mb-xs-24" style="color:#292929 !important;">Almost 30% of eCommerce site visitors use
                    the search box. These high intent customers convert up to 5-6X higher than average non-site search
                    visitors.
                </h3>
            </div>
            <div class="col-md-12 col-sm-12 text-center">
                <div class="tabbed-content icon-tabs">
                    <ul class="tabs mb0 magento">
                        <li class=" active">
                            <div class="tab-title">
                                <i class="ti-bolt icon"></i>
                                <span>
Search Results in Milliseconds
</span>
                            </div>

                        </li>
                        <li class="">
                            <div class="tab-title">
                                <i class="ti-zoom-in icon"></i>
                                <span>Contextually <br>
Relevant</span>
                            </div>

                        </li>
                        <li class="">
                            <div class="tab-title">
                                <i class="ti-eye icon"></i>
                                <span>Tailored to your <br>
needs
</span>
                            </div>

                        </li>

                    </ul>
                    <ul class="content">

                        <li class="active">
                            <div class="tab-content">
                                <p>
                                    SearchTap helps you build the best search experience for your customers by delivering relevant
                                    results at lightning fast speed. Under the hood, we use advanced predictive analytics and
                                    adaptive machine learning algorithms to help customers find relevant results from the very first
                                    keystroke.
                                </p>
                            </div>
                        </li>
                        <li class="">
                            <div class="tab-content">
                                <p>
                                    SearchTap automatically completes search queries by delivering rich, insightful and intuitive
                                    product suggestions to customers, moving them from search box to checkout. With superior
                                    language modeling techniques such as full text search, n-gram matching and stemming, customers
                                    find relevant products in no time.
                                </p>
                            </div>
                        </li>
                        <li class="">
                            <div class="tab-content">
                                <p>
                                    SearchTap allows merchandisers to control which information is indexed and offers the
                                    flexibility to influence search result rankings. Clients can increase engagement on specific
                                    products by "boosting" certain content or using custom attributes such as ratings, monthly
                                    sales, margins, etc.

                                </p>
                            </div>
                        </li>


                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>

<hr>

<div class="container2 features-t">


    <section class="pt48 pb0">

        <div class="row">

            <div class="col-md-6 col-md-push-6">
                <img class=" img-responsive center-block " alt="Instant Search Results Magento"
                     src="/img/products/Features-Covered/instant_search_results_magento.png"/>

            </div>

            <div class="col-md-6 col-md-pull-6">
                <div class="feature">

                    <div class="right pt120">
                        <h3 class=" mb5">See search results as you type
                        </h3>
                        <p>
                            With investments in unrivalled technology and best in class cloud infrastructure, SearchTap offers
                            world class speed and reliability at each keystroke. Search results appear as users type and are
                            displayed as a combination of images and text, offering a rich user experience that helps improve
                            product discovery.


                        </p>


                    </div>
                </div>
            </div>
        </div>


    </section>

    <section class="pt64 pb0">

        <div class="col-md-6">
            <img class="img-responsive pull-left "
                 src="/img/products/Features-Covered/faceting_filtering_magento_search.png"
                 style="margin-top:10px;">
        </div>


        <div class="">
            <div class="col-md-6">

                <div class="feature ">

                    <div class="right pt88">
                        <h3 class="mb5">Help visitors narrow down their choices using dynamic filters
                        </h3>
                        <p>
                            SearchTap’s dynamic faceting feature allows users to refine search results across multiple product
                            attributes such as category, price, size, color, brand and more. Filters are updated dynamically
                            at each keystroke and arranged automatically based on user search patterns making product
                            selection easier for visitors with a high purchase intent.

                        </p>
                    </div>
                </div>


            </div>
        </div>

    </section>

    <section class="pt64 pb0">

        <div class="col-md-6 col-md-push-6">
            <img class="img-responsive pull-left " alt="Synonyms Magento Site Search"
                 src="/img/products/Features-Covered/synonyms_magento_site_search.png" style="margin-top:10px;">
        </div>

        <div class="col-md-6 col-md-pull-6">
            <div class="feature ">

                <div class="right pt64">
                    <h3 class="mb5">Use synonyms to deliver right products</h3>
                    <p>

                        There exists a serious concern knowing what exactly a visitor would search for, will it be ‘denims’
                        or ‘jeans’? SearchTap enables merchandisers to create associations between similar meaning search
                        terms relevant to their industry, so that keywords within a synonym set will return same results.
                        For instance, an ecommerce website that sells sunglasses can create custom synonym sets for
                        ‘wayfarer’ and ‘retro square’ to show similar results for these queries.
                    </p>


                </div>
            </div>


        </div>


    </section>

    <section class="pt64 pb0">

        <div class="col-md-6">
            <img class="img-responsive center-block img-ss " alt="Typo Tolerance Feature Magento Search"
                 src="/img/products/Features-Covered/typo_tolerance_feature_magento_search.png">
        </div>

        <div class="">
            <div class="col-md-6">
                <div class="feature ">

                    <div class="right pt104">
                        <h3 class="mb5">Reduce exit rates with typo-tolerant search</h3>
                        <p>
                            Users often make spelling mistakes as they type and land on "no results" page. Typically this
                            leads them to leave a website disappointed and increases bounce rate. SearchTap's typo-tolerant
                            algorithm automatically handles typos and shows corrected results for misspelled queries thus
                            reducing website exit rates.


                        </p>
                    </div>
                </div>


            </div>
        </div>


        <!--end of container-->
    </section>


    <section class="pt64 pb0">

        <div class="col-md-6 col-md-push-6">
            <img class="img-responsive pull-left " alt="Search Relevance"
                 src="/img/products/Features-Covered/search_relevance.png" style="margin-top:10px;">
        </div>

        <div class="col-md-6 col-md-pull-6">
            <div class="feature ">

                <div class="right pt120">
                    <h3 class="mb5">Influence search result rankings
                    </h3>
                    <p>

                        SearchTap allows merchandisers to influence search result rankings by promoting specific products
                        without compromising on search speed or reliability. Our clients get complete control over search
                        results to increase product engagement on selected brands, higher margin products, new arrivals or
                        stuck inventory by using attributes such as product ratings, monthly sales, margins, popularity,
                        etc.

                    </p>


                </div>
            </div>


        </div>


    </section>

    <section class="pt64 pb0">

        <div class="col-md-6">
            <img class="img-responsive center-block img-ss " alt="Mobile Search Magento Searchtap"
                 src="/img/products/Features-Covered/mobile_search_magento_searchtap.png">
        </div>

        <div class="">
            <div class="col-md-6">
                <div class="feature ">

                    <div class="right pt150">
                        <h3 class="mb5">Optimised for mobile devices
                        </h3>
                        <p>
                            45% of all eCommerce traffic come from mobile devices. Searchtap offers the same search experience
                            on mobile phone and tablets as it does on desktops and laptops. Product images, filters, and other
                            information is carefully optimized and presented on mobile responsive layouts to increase user
                            engagement and conversions. Our search-as-you-type and typo-tolerance features help customers find
                            whatever they fancy on any device of their choice.


                        </p>
                    </div>
                </div>


            </div>
        </div>


        <!--end of container-->
    </section>


    <section class="pt64 pb0">

        <div class="col-md-6 col-md-push-6">
            <img class="img-responsive pull-left " alt="Real Time Indexing Site Search"
                 src="/img/products/Features-Covered/real_time_indexing_site_search.png"
                 style="margin-top:10px;">
        </div>

        <div class="col-md-6 col-md-pull-6">
            <div class="feature ">

                <div class="right pt120">
                    <h3 class="mb5">Seamless live-indexing with auto-sync

                    </h3>
                    <p>

                        SearchTap always keeps your catalog up to date by automatically indexing products in real-time as
                        they are are created or updated. It’s auto-sync & real-time indexing capabilities instantly capture
                        any latest product additions, price changes and inventory updates ensuring that customers are always
                        searching across an up to date catalogue.


                    </p>


                </div>
            </div>


        </div>


    </section>

    <section class="pt64 pb48">

        <div class="col-md-6">
            <img class="img-responsive center-block img-ss " alt="Site Search Analytics Searchtap" src="/img/products/Features-Covered/site_search_analytics_searchtap.png">
        </div>

        <div class="">
            <div class="col-md-6">
                <div class="feature ">

                    <div class="right pt104">
                        <h3 class="mb5">Understand visitor intent with real-time search analytics

                        </h3>
                        <p>
                            SearchTap offers data-driven insights that help store owners drive crucial merchandising
                            decisions. Our all-in-one intuitive dashboard provides real time reporting and detailed insights
                            on most searched products and zero result queries. Behavioral analytics help merchandisers better
                            understand customer intent and deliver relevant search results.


                        </p>
                    </div>
                </div>


            </div>
        </div>


        <!--end of container-->
    </section>


</div>

<section class="bg-dark pt32 pb32 pt-xs-40 pb-xs-40">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 text-center mb10 mb-xs-24 pt31">
                <h3 class="mb32 mb-xs-24 text-white ">Easy, 3 step integration</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="feature">
                    <i class="ti-link icon  inline-block mb16 text-white"
                       style="color:#fff !important; font-size:40px;"></i>
                    <h5 style="">Create your SearchTap account and get <br>
                        a link to download the extension</h5>

                </div>

                <span class="pull-right m-arrow hidden-xs"><img src="/img/flags/60924-200.png"
                                                                class="img-responsive"></span>
            </div>


            <div class="col-sm-4 text-center ins-m" style="">
                <div class="feature ">
                    <i class="ti-download icon  inline-block mb16 text-white"
                       style="color:#fff !important; font-size:40px;"></i>
                    <h5>Install & configure the SearchTap <br>
                        Magento Extension

                    </h5>

                </div>

                <span class="pull-right m-arrow hidden-xs"><img src="/img/flags/60924-200.png" class="img-responsive"
                                                                style=" position: relative; right:15px !important;"></span>

            </div>
            <div class="col-sm-4 text-center">
                <div class="feature">
                    <i class="ti-rocket icon  inline-block mb16 " style="color:#fff !important; font-size:40px;"></i>
                    <h5>Go live!</h5>

                </div>
            </div>
        </div>

    </div>

</section>


<hr>

<section class="pb64 pt32 mt30 love">

    <div class="container">
        <div class="row v-align-children">
            <div class="col-sm-5 sm-bullet">
                <h3 class="pt6">Guided setup by search experts </h3>


                <p class="mb40">
                    Hundreds of clients around the globe trust SearchTap as their search partner. If you're considering to
                    offer your users a better search experience or just want more information, we're happy to help you.
                </p>


                <ul class="list-unstyled f-tp">

                    <li class="pb16"><i class="ti-light-bulb icon-xs pull-left"></i>
                        <h6 class="uppercase mb0  p32 text-left">Passionate Support

                        </h6></li>

                    <li class="pb16"><i class="ti-user icon-xs pull-left"></i>
                        <h6 class="uppercase mb0  p32 text-left">DEDICATED ACCOUNT MANAGERS</h6></li>


                    <li class="pb16"><i class="ti-write icon-xs pull-left"></i>
                        <h6 class="uppercase mb0 p32 text-left">UNIQUE ONBOARDING &amp; TRAINING PROCESSES</h6></li>


                    <li class="pb16">
                        <i class="ti-eye icon-xs pull-left"></i>
                        <h6 class="uppercase mb0 p32 text-left">MONTHLY ACCOUNT REVIEWS </h6>

                    </li>

                </ul>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-1 text-center emphasis bg-green2">
                    <h5 class="uppercase">Plans Starting</h5>
                    <span class="price">$59</span>
                    <p class="lead">per month</p>
                    <a class="btn btn-white btn-lg" href="/request-demo" style="border-radius:4px;">request a demo</a>
                    <p style="line-height:normal;">
                        <a href="#">We’re always here &amp; ready to help.</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>