---
title: "Portfolio | SearchTap"
description: Our Privacy Policy describes the updated privacy practices of BitQit Pvt. Ltd. regarding collection of information from the user of SearchTap.
testimonial: false
permalink: portfolio/
---


<div class="portfolio-bg success-stories">

    <div class="container-fluid">

        <section class="image-edge pl64 pr64 pt20 pb90">

        <div class="row pt-2 pb-3 py-sm-3 py-md-2 py-lg-4 py-xl-4">
            <div class="col-lg-6">
                <h1 class="mb-1 mb-md-1 _700 font-60">Enhancing eCommerce Search</h1>

                <p class="text-16">

                    SearchTap works with stores across all platforms and industries to build better search experiences. Our work helps eCommerce business
                    from established brands to fresh startups. Our uncompromising work-ethic delivers great ideas and high quality.

                </p>




            </div>

            <div class="port-right">
                <div class="right-portfolio">

                    <img src="../img/portfolio/img/top-banner.jpg" alt="Searchtap portfolio">

                </div>
            </div>

        </div>


            <div class="row pb-xl-6 work-clients">

                <div class="col-md-11 portfolio">
                    <ul class="list list-icons list-split">

                        <li class="icon-apparel"><a href="#Apparel">Apparel</a></li>
                        <li class="icon-accessories"><a href="#Accessories">Computer Peripherals</a></li>
                        <li class="icon-skincare"><a href="#Cosmetics">Cosmetics &amp; Skincare</a></li>
                        <li class="icon-organic"><a href="#Organic">FMCG</a></li>
                        <li class="icon-footware"><a href="#Footware">Footwear</a></li>
                        <li class="icon-gifts"><a href="#Gifts">Gifting &amp; Toys</a></li>
                        <li class="icon-supplements"><a href="#Supplements">Health Supplements</a></li>
                        <li class="icon-kitchenware"><a href="#Kitchenware">Home &amp; Kitchen</a></li>
                        <li class="icon-home-decor"><a href="#Home">Home Decor</a></li>
                        <li class="icon-jewellery"><a href="#Jewellery">Jewellery</a></li>
                        <li class="icon-pet"><a href="#Pet">Pet Care</a></li>

                    </ul>
                </div>
            </div>


        </section>

        <!--end of container-->
    </div>


    <div class="break-out dark-bg pb-0 pt-sm-2 pb-sm-1 pt-md-4 pb-md-3 py-lg-5 py-xl-9" style="padding-bottom: 50px !important;" id="section2">
        <div class="container-fluid">
            <div class="masonry-row d-flex flex-wrap justify-content-between">

                <div class="project" style="background-color: rgb(179, 183, 188); will-change: transform; transform: perspective(5000px) rotateX(0deg) rotateY(0deg);">
                    <a href="https://www.searchtap.io/portfolio/wforwomen/" id="Apparel">
                        <div class="project-header">
                            <h3 class="">Apparel</h3>
                            <small>Web &amp; Mobile Search</small>
                        </div>
                        <div class="image">
                            <img class="lazyfade lazyloaded" src="../img/portfolio/img/desktop-grid.jpg" />
                            <div class="sub-heading">
                                <div>
                                    <p class="font-sm"><b>Explore Apparel</b></p>
                                </div>
                                <div class="symbol open-in-new">
                                    ↗
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                        <div
                                class="js-tilt-glare-inner"
                                style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
                            width: 1348.38px;
                            height: 1348.38px;
                            transform: rotate(180deg) translate(-50%, -50%);
                            transform-origin: 0% 0%;
                            opacity: 0;
                        "
                        ></div>
                    </div>
                </div>

                <div class="project" style="background-color: rgb(132, 146, 149); will-change: transform; transform: perspective(5000px) rotateX(0deg) rotateY(0deg);">
                    <a href="https://www.searchtap.io/portfolio/portronics/" id="Accessories">
                        <div class="project-header">
                            <h3 class="">Computer Peripherals</h3>
                            <small>Web &amp; Mobile Search</small>
                        </div>
                        <div class="image">
                            <img class="lazyfade lazyloaded" src="../img/portfolio/img/mobile-grid-2.jpg" />
                            <div class="sub-heading">
                                <div>
                                    <p class="font-sm"><b>Explore Accessories</b></p>
                                </div>
                                <div class="symbol open-in-new">
                                    ↗
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                        <div
                                class="js-tilt-glare-inner"
                                style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
                            width: 1348.38px;
                            height: 1348.38px;
                            transform: rotate(180deg) translate(-50%, -50%);
                            transform-origin: 0% 0%;
                            opacity: 0;
                        "
                        ></div>
                    </div>
                </div>

                <div class="project" style="background-color: rgb(143, 151, 160); will-change: transform; transform: perspective(5000px) rotateX(0deg) rotateY(0deg);">
                    <a href="https://www.searchtap.io/portfolio/sugarcosmetics/" id="Cosmetics">
                        <div class="project-header">
                            <h3 class="">Cosmetics &amp; Skincare</h3>
                            <small>Web &amp; Mobile Search</small>
                        </div>
                        <div class="image">
                            <img class="lazyfade lazyloaded" src="../img/portfolio/img/mobile-grid.jpg" />
                            <div class="sub-heading">
                                <div>
                                    <p class="font-sm"><b>Explore Cosmetics &amp; Skincare </b></p>
                                </div>
                                <div class="symbol open-in-new">
                                    ↗
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                        <div
                                class="js-tilt-glare-inner"
                                style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
                            width: 1348.38px;
                            height: 1348.38px;
                            transform: rotate(180deg) translate(-50%, -50%);
                            transform-origin: 0% 0%;
                            opacity: 0;
                        "
                        ></div>
                    </div>
                </div>

                <div class="project" style="background-color: rgb(61, 78, 105); will-change: transform; transform: perspective(5000px) rotateX(0deg) rotateY(0deg);">
                    <a href="https://www.searchtap.io/portfolio/srisri/" id="Organic">
                        <div class="project-header">
                            <h3 class="">FMCG</h3>
                            <small>Web &amp; Mobile Search</small>
                        </div>
                        <div class="image">
                            <img class="lazyfade lazyloaded" src="../img/portfolio/img/laptop-grid.jpg" />
                            <div class="sub-heading">
                                <div>
                                    <p class="font-sm"><b>Explore more Organicre Projects</b></p>
                                </div>
                                <div class="symbol open-in-new">
                                    ↗
                                </div>
                            </div>

                            <div class="sub-heading">
                                <div>
                                    <p class="font-sm"><b>Explore Organic</b></p>
                                </div>
                                <div class="symbol open-in-new">
                                    ↗
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                        <div
                                class="js-tilt-glare-inner"
                                style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
                            width: 1348.38px;
                            height: 1348.38px;
                            transform: rotate(180deg) translate(-50%, -50%);
                            transform-origin: 0% 0%;
                            opacity: 0;
                        "
                        ></div>
                    </div>
                </div>

                <div class="project" style="background-color: rgb(122, 123, 144); will-change: transform; transform: perspective(5000px) rotateX(0deg) rotateY(0deg);">
                    <a href="https://www.searchtap.io/portfolio/libertyshoes/" id="Footware">
                        <div class="project-header">
                            <h3 class="">Footwear</h3>
                            <small>Web &amp; Mobile Search</small>
                        </div>
                        <div class="image">
                            <img class="lazyfade lazyloaded" src="../img/portfolio/img/thumbnail.jpg" />
                            <div class="sub-heading">
                                <div>
                                    <p class="font-sm"><b>Explore Footwear</b></p>
                                </div>
                                <div class="symbol open-in-new">
                                    ↗
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                        <div
                                class="js-tilt-glare-inner"
                                style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
                            width: 1348.38px;
                            height: 1348.38px;
                            transform: rotate(180deg) translate(-50%, -50%);
                            transform-origin: 0% 0%;
                            opacity: 0;
                        "
                        ></div>
                    </div>
                </div>

                <div class="project" style="background-color: rgb(182, 187, 194); will-change: transform; transform: perspective(5000px) rotateX(0deg) rotateY(0deg);">
                    <a href="https://www.searchtap.io/portfolio/propshop24/" id="Gifts">
                        <div class="project-header">
                            <h3 class="">Gifting &amp; Toys</h3>
                            <small>Web &amp; Mobile Search</small>
                        </div>
                        <div class="image">
                            <img class="lazyfade lazyloaded" src="../img/portfolio/img/desktop2.jpg" />
                            <div class="sub-heading">
                                <div>
                                    <p class="font-sm"><b>Explore Gifts</b></p>
                                </div>
                                <div class="symbol open-in-new">
                                    ↗
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                        <div
                                class="js-tilt-glare-inner"
                                style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
                            width: 1348.38px;
                            height: 1348.38px;
                            transform: rotate(180deg) translate(-50%, -50%);
                            transform-origin: 0% 0%;
                            opacity: 0;
                        "
                        ></div>
                    </div>
                </div>

                <div class="project" style="background-color: #131317;">
                    <a href="https://www.searchtap.io/portfolio/healthxp/" id="Supplements">
                        <div class="project-header">
                            <h3 class="">Health Supplements</h3>
                            <small>Web &amp; Mobile Search</small>
                        </div>
                        <div class="image">
                            <img class="lazyfade lazyloaded" src="../img/portfolio/img/laptop-grid2.jpg" />
                            <div class="sub-heading">
                                <div>
                                    <p class="font-sm"><b>Explore Health Supplements</b></p>
                                </div>
                                <div class="symbol open-in-new">
                                    ↗
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                        <div
                                class="js-tilt-glare-inner"
                                style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
                            width: 1348.38px;
                            height: 1348.38px;
                            transform: rotate(180deg) translate(-50%, -50%);
                            transform-origin: 0% 0%;
                            opacity: 0;
                        "
                        ></div>
                    </div>
                </div>

                <div class="project" style="background-color: #131317;">
                    <a href="https://www.searchtap.io/portfolio/glen/" id="Kitchenware">
                        <div class="project-header">
                            <h3 class="">Home &amp; Kitchen</h3>
                            <small>Web &amp; Mobile Search</small>
                        </div>
                        <div class="image">
                            <img class="lazyfade lazyloaded" src="../img/portfolio/img/portfolius-thumbnail.jpg" />
                            <div class="sub-heading">
                                <div>
                                    <p class="font-sm"><b>Explore Kitchenware</b></p>
                                </div>
                                <div class="symbol open-in-new">
                                    ↗
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                        <div
                                class="js-tilt-glare-inner"
                                style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
                            width: 1348.38px;
                            height: 1348.38px;
                            transform: rotate(180deg) translate(-50%, -50%);
                            transform-origin: 0% 0%;
                            opacity: 0;
                        "
                        ></div>
                    </div>
                </div>

                <div class="project" style="background-color: #5a656e;">
                    <a href="https://www.searchtap.io/portfolio/hipvan/" id="Home">
                        <div class="project-header">
                            <h3 class="">Home Decor</h3>
                            <small>Web &amp; Mobile Search</small>
                        </div>
                        <div class="image">
                            <img class="lazyfade lazyloaded" src="../img/portfolio/img/tablet.jpg" />
                            <div class="sub-heading">
                                <div>
                                    <p class="font-sm"><b>Explore Home</b></p>
                                </div>
                                <div class="symbol open-in-new">
                                    ↗
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                        <div
                                class="js-tilt-glare-inner"
                                style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
                            width: 1348.38px;
                            height: 1348.38px;
                            transform: rotate(180deg) translate(-50%, -50%);
                            transform-origin: 0% 0%;
                            opacity: 0;
                        "
                        ></div>
                    </div>
                </div>

                <div class="project" style="background-color: rgb(143, 151, 160); will-change: transform; transform: perspective(5000px) rotateX(0deg) rotateY(0deg);">
                    <a href="https://www.searchtap.io/portfolio/jewelmaze/" id="Jewellery">
                        <div class="project-header">
                            <h3 class="">Jewellery</h3>
                            <small>Web &amp; Mobile Search</small>
                        </div>
                        <div class="image">
                            <img class="lazyfade lazyloaded" src="../img/portfolio/img/mobile-grid3.jpg" />
                            <div class="sub-heading">
                                <div>
                                    <p class="font-sm"><b>Explore Jewellery </b></p>
                                </div>
                                <div class="symbol open-in-new">
                                    ↗
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                        <div
                                class="js-tilt-glare-inner"
                                style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
                            width: 1348.38px;
                            height: 1348.38px;
                            transform: rotate(180deg) translate(-50%, -50%);
                            transform-origin: 0% 0%;
                            opacity: 0;
                        "
                        ></div>
                    </div>
                </div>

                <div class="project" style="background-color: rgb(182, 187, 194); will-change: transform; transform: perspective(5000px) rotateX(0deg) rotateY(0deg);">
                    <a href="https://www.searchtap.io/portfolio/huft/" id="Pet">
                        <div class="project-header">
                            <h3 class="">Pet Care</h3>
                            <small>Web &amp; Mobile Search</small>
                        </div>
                        <div class="image">
                            <img class="lazyfade lazyloaded" src="../img/portfolio/img/desktop3.jpg" />
                            <div class="sub-heading">
                                <div>
                                    <p class="font-sm"><b>Explore Pet Care</b></p>
                                </div>
                                <div class="symbol open-in-new">
                                    ↗
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                        <div
                                class="js-tilt-glare-inner"
                                style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
                            width: 1348.38px;
                            height: 1348.38px;
                            transform: rotate(180deg) translate(-50%, -50%);
                            transform-origin: 0% 0%;
                            opacity: 0;
                        "
                        ></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

