---
title: Hosted Search as a Service Pricing - SearchTap
description: Site search pricing & plans for that meet every businesses' unique needs. Starting at just $59/month.
date: 2017-11-23 10:55:24
permalink: pricing/
---

<section class="pt64 pb32 bg-secondary2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">

                <h2 class=" mb16 text-white">Startup, SME or Enterprise, we've got you covered! </h2>
                <p class="lead mb64 text-white">
                    Everything you need to create a fantastic search journey
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">

            <div class="col-md-6">
                <div class="border-box" style="padding-left:0px !important;">
                    <div class="col-md-6 col-sm-6 padding-left0 padding-right0 mb24 bg-white mobmt">
                        <div class="pricing-table pt-1 text-center premium">

                            <div class="price-bg">

                                <h5 class="uppercase mb0"><strong>Startup</strong></h5>
                            </div>
                            <div class="price_price _100 mt10" id="premium-price-text" style="display: block;">
                                <span class="_100 pr3 " style="">$ </span>
                                <p id="business-price-text" class="odometer odometer-auto-theme"
                                   style="overflow:hidden;">
                                    59
                                <div class="odometer-inside">
                                    <small class="pr4">/ month</small>
                                </div>

                                </p>

                            </div>

                            <div class="pr5">
                                <small class="uppercase clearfix ">billed monthly</small>

                                <small class="text-green _600 hidden">OR <strong>$ <span id="business-price-monthly"
                                                                                         class="_600">99</span>
                                        month-to-month</strong></small>

                                <div class="clearfix"></div>

                                <small class=" _600"><strong><span id="business-price-monthly-pages"
                                                                   class="_600 text-green">10K</span>
                                        records/products</strong></small>
                            </div>


                            <div class="pslider ml20 mr20 mt10" style="">
                                <div id="pricing-slider" class="pricing-slider">

                                </div>


                                <h5 class="subscribers-text mt39 mb0  _600">
                                    Searches
                                </h5>


                                <div class="mb10"></div>


                                <a class="btn btn-filled btn-lg mb10 mt0" style=" border-radius:4px;"
                                   href="/contact">Get
                                    Started</a>

                                <p class=" mb0 text-green _600">Best for</p>
                            </div>
                            <p class="plr17">
                                Individuals, Listing websites &
                                Small eCommerce stores
                            </p>
                        </div>


                    </div>

                    <div class="col-md-6 col-sm-6 padding-left0 padding-right0 mb24 bg-white mobmt">
                        <div class="pricing-table pt-1 text-center premium">

                            <div class="price-bg">

                                <h5 class="uppercase mb0"><strong>BUSINESS</strong></h5>
                            </div>
                            <div class="price_price _100 mt10" id="premium-price-textt" style="display: block;">
                                <span class="_100 pr3 " style="">$ </span>
                                <p id="startup-price-text" class="odometer odometer-auto-theme"
                                   style="overflow:hidden;">
                                    159
                                <div class="odometer-inside">
                                    <small class="pr4">/ month</small>
                                </div>

                                </p>

                            </div>

                            <div class="pr5">
                                <small class="uppercase clearfix ">billed monthly</small>

                                <small class="text-green _600 hidden">OR <strong>$ <span id="startup-price-monthly"
                                                                                         class="_600">159</span>
                                        month-to-month</strong></small>

                                <div class="clearfix"></div>

                                <small class=" _600"><strong><span id="startup-price-monthly-pages"
                                                                   class="_600 text-green">10K</span> records/products</strong>
                                </small>
                            </div>


                            <div class="pslider ml20 mr20 mt10" style="">
                                <div id="pricing-slider-right" class="pricing-slider">

                                </div>


                                <h5 class="subscribers-text mt39 mb0  _600">
                                    Searches
                                </h5>


                                <div class="mb10"></div>


                                <a class="btn btn-filled btn-lg mb10 mt0" style=" border-radius:4px;"
                                   href="/contact">Get
                                    Started</a>

                                <p class=" mb0 text-green _600">Best for</p>


                            </div>
                            <p class="plr17">
                                High Traffic Websites, Ecommerce Businesses & Agencies
                            </p>

                        </div>

                        <style>
                            .plr17 {
                                padding-left: 27px;
                                padding-right: 27px;
                            }
                        </style>
                    </div>

                    <hr class=" mb10 wd70">

                    <div class="col-md-12">


                        <h5 class=" text-center _600 mt16">What's Included</h5>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="whatin-in">

                                    <ul class="list-unstyled whatin-li ">
                                        <li><i class="ti-bolt icon-xs"></i> Search as you Type</li>
                                        <li><i class="ti-filter icon-xs"></i> Smart Dynamic Filters</li>
                                        <li><i class="ti-mobile icon-xs"></i> Mobile Device Support</li>
                                        <li><i class="ti-marker-alt icon-xs"></i> Smart Highlighting</li>
                                        <li><i class="ti-loop icon-xs"></i> Synonyms - 250</li>
                                        <li><i class="ti-check-box icon-xs"></i> Typo tolerance</li>
                                        <li><i class="ti-time icon-xs"></i> 7 Days Analytics History</li>

                                        <li><i class="ti-shine icon-xs"></i> One time Onboarding support</li>
                                        <li><i class="ti-infinite icon-xs"></i> Automatic Reindexing</li>

                                        <li><i class="ti-google icon-xs"></i> Integration with Google Analytics</li>
                                        <li><i class="ti-email icon-xs"></i> Email support</li>
                                        <li><i class="icon-xs"><img src="https://www.searchtap.io/img/st-gray-icon.svg" width="15"> </i> Mandatory: Powered by SearchTap</li>
                                    </ul>
                                </div>


                            </div>

                            <div class="col-md-6">

                                <p class="text-center mb0" style="font-weight: 700; text-align: left; border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px !important; margin-top: -1px;">Everything in Startup Plan
                                    <span class="font14" style="font-size: 24px; font-weight: 600; position: relative; top: 3px; left: 4px;">+</span></p>

                                <div class="whatin-in">
                                    <ul class="list-unstyled whatin-li ">

                                        <li><i class="ti-fullscreen icon-xs"></i> Multi store support (upto 3)</li>
                                        <li><i class="ti-location-pin icon-xs"></i> Geo-distributed Datacenters</li>
                                        <li><i class="ti-harddrives icon-xs"></i> Sandbox environment</li>
                                        <li><i class="ti-loop icon-xs"></i>Synonyms - 2000</li>
                                        <li><i class="ti-time icon-xs"></i> 30 Days Analytics History</li>
                                        <li><i class="ti-key icon-xs"></i> Developer API Access</li>
                                        <li><i class="ti-headphone-alt icon-xs"></i> Email &amp; Phone support</li>
                                        <li><i class="ti-pin-alt icon-xs"></i> Custom Result Ranking <span class="beta">BETA</span>
                                        </li>
                                        <li><i class="ti-direction icon-xs"></i> Extensions &amp; Plugin Support</li>
                                        <li><i class="ti-layout-media-right icon-xs"></i> UI/UX Customization</li>
                                        <li><i class="ti-id-badge icon-xs"></i> Dedicated Customer Success Team</li>


                                    </ul>
                                </div>

                            </div>


                        </div>

                    </div>


                </div>


            </div>

            <div class="col-md-6 col-sm-6 ">
                <div class="pricing-table pt-1 text-center emphasis" style="min-height:944px;">

                    <div class="price-bg mb10 emphasis" style="background:#47b475; border-bottom:1px solid #fff;">
                        <h5 class="uppercase"><strong>Enterprise</strong></h5>

                    </div>

                    <small class=" clearfix mb0  mt0 uppercase">Starts from</small>


                    <span class="price mb0 mt0 mmt">$999<small
                                style="font-size:16px; line-height: normal;">/ month</small></span>

                    <small class="uppercase clearfix mt0 pb64 mmts">billed monthly</small>
                    <div class="mt16 mb16"></div>

                    <hr class="mb0 mt64 wd70 light-green">
                    <div class="clearfix"></div>

                    <h5 class="mb10 text-center  mt16" style=" font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;">Email us at:

                        <a href="mailto:sales@searchtap.io" class="">sales@searchtap.io</a>
                    </h5>

                    <div class="clearfix"></div>
                    <a class="btn btn-white btn-lg mb10 mt64 " style=" border-radius:4px; margin-top:70px;"
                       href="/contact">Get Started</a>
                    <p class="mb0 _600">Best for</p>

                    <p class="" style="margin-bottom:20px;">
                        Enterprises & Large Agencies
                    </p>


                    <hr class=" mb10 mt0 wd70 light-green">

                    <div class="col-md-12 text-left">


                        <h5 class=" text-center _600 mt16 mb0">What's Included</h5>
                        <p class="text-center mb0">Everything in Startup &amp; Business Plans<br>
                            <span class="_600 font14" style="font-size:20px;">+</span></p>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="whatin-in">
                                    <ul class="list-unstyled whatin-li">

                                        <li><i class="ti-thumb-up icon-xs"></i> Premium Onboarding</li>
                                        <li><i class="ti-world icon-xs"></i> Dedicated infrastructure</li>
                                        <li><i class="ti-id-badge icon-xs"></i> Dedicated Account Manager</li>
                                        <li><i class="ti-shield icon-xs"></i> Enterprise Security</li>

                                        <li><i class="ti-infinite icon-xs"></i> On Demand Indexing</li>
                                        <li><i class="ti-server icon-xs"></i> Server Redundancy</li>
                                        <li><i class="ti-time icon-xs"></i> 365 days Analytics History</li>
                                        <li><i class="ti-mobile icon-xs"></i> Priority Phone Support</li>

                                        <li><i class="ti-pencil-alt icon-xs"></i> Query Suggestions &amp; Rules</li>

                                        <li><i class="ti-search icon-xs"></i> Rule based Search Redirects</li>
                                        <li><i class="ti-shield  icon-xs"></i> Spike protection</li>
                                        <li><i class="ti-location-pin icon-xs"></i> Geo-location Search</li>

                                    </ul>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="whatin-in">
                                    <ul class="list-unstyled whatin-li ">
                                        <li><i class="ti-world icon-xs icon-xs"></i> Multiple Language Support</li>
                                        <li><i class="ti-cloud icon-xs"></i> Onsite Hosting Option</li>
                                        <li><i class="ti-write icon-xs icon-xs"></i> Monthly Account Review</li>
                                        <li><i class="ti-blackboard icon-xs"></i> Product Training</li>
                                        <li><i class="ti-bookmark-alt icon-xs"></i> Commercial Terms of Use</li>
                                        <li><i class="ti-write icon-xs"></i> Service Level Agreement (SLA)</li>
                                        <li><i class="ti-receipt icon-xs"></i> Custom billing and invoicing</li>
                                        <li><i class="ti-alert icon-xs"></i> Alerting and monitoring</li>
                                        <li><i class="ti-direction icon-xs"></i> Product Roadmap Briefings</li>
                                        <li><i class="ti-package icon-xs"></i> Beta features access</li>



                                    </ul>
                                </div>

                            </div>

                            <div class="text-center" style="margin:0 auto;">


                            </div>
                            <div class="clearfix"></div>
                            <!--<h5 class="mb10 text-center" style="font-size:14px; position:relative; top:-15px; margin-bottom:0px;">Email us at: <a href="mailto:sales@searchtap.io" class=" " style="">sales@searchtap.io</a>-->


                            <div class="row mr20">

                                <!--<a class="btn btn-lg btn-white mr20" href="request-demo.html" style=" width:100%; border-radius:4px; height:48px; ">Contact sales</a>-->
                            </div>

                        </div>

                    </div>

                </div>
                <!--end of pricing table-->
            </div>
            <!--end of row-->
            <div class="clearfix"></div>

            <div class="col-md-12">
                <p class="mt10">
                    <small>
                        <strong>
                            <b>Please note:</b>
                            <br>
                            1. Limits apply to all plans based on search traffic, pages and objects indexed, frequency of indexing, and other core operations.
                            <br>
                            2. All prices are in US Dollars unless specified.
                            <br>
                            3. Business and Enterprise plan users can also avail conversion optimisation services at an additional cost. To know more, please email at
                            <a href="mailto:support@searchtap.io">support@searchtap.io</a>.
                        </strong>
                    </small>
                </p>
            </div>

        </div>
    </div>
    <!--end of container-->
</section>

<hr/>

<section class="pt0 pb0">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class=" mb0 mt10">
                    Trusted by leading brands</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/searchtap_for_liberty.png" alt="SearchTap for Liberty" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6"><img src="/img/clients/searchtap_for_gocoop.png"
                                                         alt="SearchTap for GoCoop" class="img-responsive center-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/searchtap_for_jaypore.png" alt="SearchTap for Jaypore" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/searchtap_for_rentsher.png" alt="SearchTap for Rentsher" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/searchtap_for_qtrove.png" alt="SearchTap for Qtrove" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/searchtap_for_portronics.png" alt="SearchTap for Portronics" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6"><img src="/img/clients/searchtap_for_glen.png"
                                                         alt="SearchTap for Glen India" class="img-responsive center-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/searchtap_for_voxpop.png" alt="SearchTap for VoxPop" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/searchtap_for_coverscart.png" alt="SearchTap for CoversCart" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6"><img src="/img/clients/searchtap_for_mywaitlist.png"
                                                         alt="SearchTap for MyWaitlist" class="img-responsive center-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-6"><img src="/img/clients/searchtap_for_headsupfortails.png"
                                                         alt="SearchTap for HeadsUpForTails" class="img-responsive center-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/searchtap_for_femella.png" alt="SearchTap for Femella" class="img-responsive center-block">
            </div>


        </div>
        <!--end of row-->
    </div>

</section>
