---
title: Hosted Search as a Service Pricing - SearchTap
description: Site search pricing & plans for that meet every businesses' unique needs. Starting at just $59/month.
date: 2017-11-23 10:55:24
permalink: pricing-new/
---

<section class="pt64 pb32 bg-secondary2 pricing-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">

                <h2 class=" mb16 text-white">Startup, SME or Enterprise, we've got you covered! </h2>
                <p class="lead mb64 text-white">
                    Everything you need to create a fantastic search journey
                </p>
            </div>
        </div>


        <!--end of row-->


        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="bg-white pos-relative d-flex sticky hidden-lg hidden-md hidden-sm hidden-xs">

                        <div class="st-w-30p"></div>

                        <div class="st-css-28l21e">

                            <div class="ph-8 ta-center uil-bxs-default no-shadow">

                                <div class="w-40h-40">

                                    <img class="img-responsive center-block" loading="lazy" src="/img/startup_icon.png" alt="">
                                </div>

                                <span class="uil-tt-upper uil-fw-semibold uil-lsp-big uil-ff-poppins uil-color-telluric uil-fsz-14 ff d-block mt-10">Startup</span>


                                <div class="pricing-table pt-1 text-center premium ">

                                    <div class="price_price _100">
                                        <span class=" pr3 ">USD </span>
                                        <p class="mb0" style="">
                                            69
                                            <small class="pr4">/ month</small>

                                        </p>

                                        <div class="d-flex ai-center font-size14 mb15" style="font-weight: 600; color: #333;">Starups processing &lt; 500 orders per month

                                        </div>


                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="st-css-28l21e">

                            <div class="ph-8 ta-center uil-bxs-default no-shadow">

                                <div class="w-40h-40">

                                    <img class="img-responsive center-block" loading="lazy" src="/img/essential_icon.png" alt="">
                                </div>

                                <span class="uil-tt-upper uil-fw-semibold uil-lsp-big uil-ff-poppins uil-color-telluric uil-fsz-14 ff d-block mt-10">Startup</span>


                                <div class="pricing-table pt-1 text-center premium ">

                                    <div class="price_price _100">
                                        <span class=" pr3 ">USD </span>
                                        <p class="mb0" style="">
                                          129
                                            <small class="pr4">/ month</small>

                                        </p>

                                        <div class="d-flex ai-center font-size14 mb15" style="font-weight: 600; color: #333;">Ecommerce Businesses processing 500 to 1000 orders per month

                                        </div>


                                    </div>


                                </div>

                            </div>

                        </div>


                        <div class="st-css-28l21e">

                            <div class="ph-8 ta-center uil-bxs-default no-shadow">

                                <div class="w-40h-40">

                                    <img class="img-responsive center-block" loading="lazy" src="/img/business_icon.png" alt="">
                                </div>

                                <span class="uil-tt-upper uil-fw-semibold uil-lsp-big uil-ff-poppins uil-color-telluric uil-fsz-14 ff d-block mt-10">Startup</span>


                                <div class="pricing-table pt-1 text-center premium ">

                                    <div class="price_price _100">
                                        <span class=" pr3 ">USD </span>
                                        <p class="mb0" style="">
                                         199
                                            <small class="pr4">/ month</small>

                                        </p>

                                        <div class="d-flex ai-center font-size14 mb15" style="font-weight: 600; color: #333;">High Traffic Websites processing over 1000 orders per month

                                        </div>


                                    </div>


                                </div>

                            </div>

                        </div>

                        <div class="st-css-28l21e">

                            <div class="ph-8 ta-center uil-bxs-default no-shadow">



                                <h2 class="uil-fsz-24 uil-lh-small uil-fw-normal font36  mt-24 mb-8">Enterprise</h2>
                                <p class="uil-tt-upper uil-fw-semibold uil-lsp-big uil-ff-poppins  ff d-block mt-0 mb-20">
                                    All Business Plan Features <span style="font-size: 30px; position: relative; top: 6px;">+</span>
                                </p>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>


        <div class="row">


            <div class="col-md-10 col-xs-12 prl0">

              <div class="table-responsive" style="overflow-x: unset;">


                  <table class="uil-bxs-default uil-bdr-2  pos-relative d-none md:d-block w-100p css-qthtot-root-light-Card">
                      <thead class="d-block css-16fj05f">
                      <tr class="d-flex ai-start pl-24 pv-24 pos-relative price-pb0">
                          <th class="w-30p min230 ai-center d-flex aling_end ">

                              <span class="hidden-sm hidden-xs uil-tt-upper uil-fw-semibold uil-lsp-big uil-ff-poppins uil-color-telluric uil-fsz-14 text-green relative top40 ff d-block mt-10">Best For</span>

                          </th>

                          <th class="ph-8 css-28l21e ta-center mob-col-xs-4">

                              <div class="w-40h-40">

                                  <img class="img-responsive center-block" loading="lazy" src="/img/startup_icon.png" alt="">
                              </div>

                              <span class="uil-tt-upper uil-fw-semibold uil-lsp-big uil-ff-poppins uil-color-telluric uil-fsz-14 ff d-block mt-10">Startup</span>


                              <div class="pricing-table pt-1 text-center premium">

                                  <div class="price_price _100" id="premium-price-text" style="display: block;">
                                      <span class=" pr3 ">USD </span>
                                      <p id="business-price-text" class="odometer odometer-auto-theme mb0"
                                         style="overflow:hidden;">
                                          69
                                      <div class="odometer-inside">
                                          <small class="pr4">/ month</small>
                                      </div>

                                      <span class="d-flex ai-center font-size14 mb15" style="font-weight: 600; color: #333;
">Starups processing &lt; 500 orders per month

</span>

                                      </p>



                                  </div>


                              </div>

                          </th>

                          <th class="ph-8 css-28l21e ta-center mob-col-xs-4">

                              <div class="w-40h-40">
                                  <img class="img-responsive center-block" loading="lazy" src="/img/essential_icon.png" alt="">

                              </div>


                              <span class="uil-tt-upper uil-fw-semibold uil-lsp-big uil-ff-poppins uil-color-telluric uil-fsz-14 ff d-block mt-10">Essential</span>


                              <div class="pricing-table pt-1 text-center premium">

                                  <div class="price_price _100" id="premium-price-text" style="display: block;">
                                      <span class=" pr3 ">USD </span>
                                      <p id="business-price-text" class="odometer odometer-auto-theme mb0"
                                         style="overflow:hidden;">
                                          129
                                      <div class="odometer-inside">
                                          <small class="pr4">/ month</small>
                                      </div>

                                      <span class="d-flex ai-center font-size14" style="font-weight: 600; color: #333;">
                                        Ecommerce Businesses processing 500 to 1000 orders per month


</span>

                                      </p>

                                  </div>



                              </div>


                          </th>

                          <th class="ph-8 css-28l21e ta-center mob-col-xs-4">

                              <div class="w-40h-40">

                                  <img class="img-responsive center-block" loading="lazy" src="/img/business_icon.png" alt="">
                              </div>

                              <span class="uil-tt-upper uil-fw-semibold uil-lsp-big uil-ff-poppins uil-color-telluric uil-fsz-14 ff d-block mt-10">Business</span>

                              <div class="pricing-table pt-1 text-center premium">

                                  <div class="price_price _100" id="premium-price-text" style="display: block;">
                                      <span class="pr3">USD</span>
                                      <p id="business-price-text" class="odometer odometer-auto-theme mb0"
                                         style="overflow:hidden;">
                                          199
                                      <div class="odometer-inside">
                                          <small class="pr4">/ month</small>
                                      </div>

                                      <span class="d-flex ai-center font-size14" style="font-weight: 600; color: #333;">
                                    High Traffic Websites processing over 1000 orders per month

                                    </span>

                                      </p>

                                  </div>



                              </div>


                          </th>

                      </tr>

                      </thead>
                      <tbody class="d-block">




                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">



                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Product count (excluding variants)</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">1,000</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">10,000</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">25,000</span></td>
                      </tr>
                      <tr class="uil-tt-upper uil-fw-semibold uil-lsp-big uil-ff-poppins uil-color-telluric uil-fsz-11 lg:uil-fsz-12 pos-relative ph-24 pv-12 d-flex css-1tgmbu2">
                          <td>Features</td>
                      </tr><tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Search as you Type</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>
                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Product and Category search</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>

                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Custom Attributes search</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>
                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Smart Dynamic Filters</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>
                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Custom Price Range filter</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>
                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Mobile Device Support</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>
                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f css-1tgmbu2">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Smart Highlighting</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>
                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Typo-tolerance</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>
                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Automatic Reindexing</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>
                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Revenue Tracking Integration with Google Analytics</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>
                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Support</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">Email only</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">Email only</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">Email &amp; Phone</span></td>
                      </tr>






                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Extensions &amp; Plugin Support</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>

                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">UI/UX Customization</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">Basic</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">Advanced</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">Advanced</span></td>
                      </tr>
                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">"Powered by SearchTap" Branding</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">Mandatory
</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">Optional</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">Optional</span></td>
                      </tr><tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f css-1tgmbu2">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Remove SearchTap Branding</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>


                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Search Terms Analytics history</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">7 Days</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">30 Days</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">90 Days</span></td>
                      </tr>


                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Custom Synonyms</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">100</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">1,000</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">2,500</span></td>
                      </tr>

                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">API request limit (Data Syncing + Search)</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">
100,000
</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">
1,000,000
</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">
2,500,000
</span></td>
                      </tr>

                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Add to cart integration</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>

                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Variant information on search page listing</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>

                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Empty Result page customisation</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>

                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Reviews integration with Third party apps</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>

                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Custom Result Ranking</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>

                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Sandbox environment</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>


                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Customer Success Team</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>


                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Geo-distributed Datacenters</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>

                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">On Demand Indexing</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr><tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Multi store support</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">Upto 2</span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center">Upto 3</span></td>
                      </tr>

                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Query Suggestions &amp; Rules for 2 step search</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>


                      <tr class="pos-relative pl-24 d-flex ai-center fxw-wrap css-16fj05f">
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-telluric w-30p ta-left pv-12 pr-8">Developer API Access (Mobile App integration, Marketing Automation etc)</td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"></span></td>
                          <td class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-nova pv-12 ph-8 ta-center d-flex ai-center jc-center css-28l21e"><span class="d-flex ai-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#47b475bf" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z"></path></svg></span></td>
                      </tr>

                      </tbody>
                  </table>

                  </div>



              </div>


            <div class="col-md-2 col-xs-12 prl0">
                <div class="uil-bxs-default uil-bdr-2  uil-p-48 ta-center css-d9btgd-root-dark-Card pp-absolute">
                    <h2 class="uil-fsz-24 uil-lh-small uil-fw-normal font36  uil-color-white mt-24 mb-8">Enterprise</h2>
                    <p class="uil-tt-upper uil-fw-semibold uil-lsp-big uil-ff-poppins text-white ff d-block mt-0 mb-20">
                        All Business Plan Features <span style="font-size: 30px; position: relative; top: 6px;">+</span>
                    </p>


                    <div class="mt-20 d-grid xs:g-2 gvgap-48 ghgap-32 pos-relative">
                        <div class="ta-center lighting-broder-bottom">

                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Premium Onboarding</h3>

                        </div>
                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Dedicated infrastructure</h3>
                        </div>
                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Dedicated Account Manager</h3>
                        </div>
                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Enterprise Grade Security</h3>
                        </div>
                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Server Redundancy</h3>
                        </div>
                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                365 days Analytics History</h3>
                        </div>

                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Multiple Language Support</h3>
                        </div>

                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Product Training</h3>
                        </div>


                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Commercial Terms of Use</h3>
                        </div>

                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Service Level Agreement (SLA)</h3>
                        </div>

                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Alerting and Monitoring</h3>
                        </div>
                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Account Reviews</h3>
                        </div>

                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Geo-location Search</h3>
                        </div>

                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Priority Phone Support</h3>
                        </div>

                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8">
                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Product Roadmap Briefings</h3>
                        </div>

                        <div class="ta-center lighting-broder-bottom">
                            <h3 class="fnt-f fw500 uil-color-white uil-fsz-14 mt-0 mb-8 ">

                                 <span class="svg-check-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#fff" fill-rule="evenodd" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.32-10.733L6.634 9.618l-1.807-1.77a1 1 0 1 0-1.4 1.429l2.489 2.437a1 1 0 0 0 1.38.019l5.384-5a1 1 0 1 0-1.36-1.466z">

                                        </path>
                                    </svg>
                                </span>
                                Beta features access</h3>
                        </div>

                    </div>
                    <p class="uil-tt-upper uil-fw-semibold uil-lsp-big uil-ff-poppins uil-color-white uil-fsz-11 lg:uil-fsz-12 mt-48 mb-8">And more</p>

                    <a class="uil-app-none uil-bdw-0 uil-d-inline-flex uil-ai-center uil-bdr-max uil-jc-center uil-cursor-pointer  uil-td-none hover:uil-td-none uil-color-telluric uil-ph-24 lg:uil-ph-32 w-200 root-secondary-Button" href="">

                        <span class="uil-tt-upper uil-fw-semibold uil-lsp-big  uil-color-telluric uil-fsz-11 lg:uil-fsz-12 uil-fw-semibold">Contact us</span></a>

                    <p class="uil-fw-normal  uil-fsz-14 uil-lh-big uil-color-proton mt-8 mb-0">Annual commitment  Get in touch to learn more</p>
                </div>

            </div>


            </div>

         <!--end of row-->

            <div class="clearfix"></div>


        <div class="col-md-12">
            <p class="mt10">
                <small>
                    <strong>
                        <b>Please note:</b>
                        <br>
                        1. Limits apply to all plans based on search traffic, pages and objects indexed, frequency of indexing, and other core operations.
                        <br>
                        2. All prices are in US Dollars unless specified.
                        <br>
                        3. Business and Enterprise plan users can also avail conversion optimisation services at an additional cost. To know more, please email at
                        <a href="mailto:support@searchtap.io" target="_blank" rel="noopener">support@searchtap.io</a>.
                    </strong>
                </small>
            </p>
        </div>



        </div>




        <div class="row">

            </div>
        </div>

    </div>
    <!--end of container-->
</section>

<hr style="opacity: .5;">

<section class="pt0 pb0">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="mb0 mt-20">
                    Trusted by leading brands</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">





            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-w.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6"><img src="/img/clients/st-sugar.png"
                                                         alt="" class="img-responsive center-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-liberty.png" alt="SearchTap for Liberty" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-jaypore.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/qtrove-logo.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/bollywoo-logo.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6"><img src="/img/clients/st-glen.png"
                                                         alt="" class="img-responsive center-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-mamaearth.png" alt="" class="img-responsive center-block">
            </div>


            <!--New logo-->

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-themancompany.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-healthxp.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-metroshoes.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-amydus.png" alt="" class="img-responsive center-block">
            </div>




            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-khinkhwab.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-brownliving.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-themomstore.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-lapgadgets.png" alt="" class="img-responsive center-block">
            </div>

            <!--end new logo-->




            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-jadeblue.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6"><img src="/img/clients/st-hipvan.png"
                                                         alt="" class="img-responsive center-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-6"><img src="/img/clients/st-femella.png"
                                                         alt="" class="img-responsive center-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-koskii.png" alt="" class="img-responsive center-block">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-headsupfortails.png" alt="" class="img-responsive center-block">
            </div>



            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-srstore.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-mywaitlist.png" alt="" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/st-propshop.png" alt="" class="img-responsive center-block">
            </div>


        </div>
        <!--end of row-->
    </div>

</section>
