---
title: "Privacy Policy | SearchTap"
description: Our Privacy Policy describes the updated privacy practices of BitQit Pvt. Ltd. regarding collection of information from the user of SearchTap.
testimonial: false
permalink: privacy-policy/
---

<section class=" mb32 pb64 pt16 mt16">
    <div class="container">
        <div class="row mb24 mb-xs-24">
            <div class="col-md-12 col-sm-12 ">
                <h2 class="text-center">Privacy Policy</h2>

                <h4>Summary</h4>

                <ol style="">
                    <li>BitQit Pvt. Ltd. operates https://www.searchtap.io.
                    </li>
                    <li>This policy specifies the data collected by us, the manner of collection and your rights with respect to your personal data.
                    </li>
                    <li>You provide your personal information (name, email, phone number) to us while creating an account with us. We store that information reliably and use it to serve you.
                    </li>
                    <li>When you install SearchTap on your website / mobile app, we collect some personally identifiable data to serve you.
                    </li>
                </ol>


                <h4>Privacy Statement</h4>

                <p style="margin-bottom:12px;">
                    BitQit Pvt. Ltd. is committed towards protecting the privacy of users who visit our website and
                    register with us to use our Product. This Privacy Statement describes our privacy practices in
                    relation to the use of SearchTap site, product and services (support).

                </p>

                <p style="margin-bottom:12px;">BitQit collects your information to operate effectively and provide you
                    the best services, and experiences possible. We collect information when you register, sign in,
                    and use our site and product. We collect this information in a variety of ways, including through
                    web forms, technologies like cookies, etc.

                </p>

                <p>We will collect and use information we receive directly from you through our website only in the ways
                    disclosed in this Privacy Policy.
                </p>

                <p>By visiting the Web Site, you acknowledge that you accept the practices and policies outlined in this
                    Privacy Policy. We recognize the importance of privacy to our customers and we strive to safeguard
                    any personal information we receive and may need to use in support of our customers.
                </p>

                <h4>Information Collection And Use</h4>

                <ol style="">
                    <Li> BitQit does not collect personal information from you as a visitor. However, we do collect domain
                    information from your visit to customize and improve your experience on our website. <br>
                        The type of information we may collect includes: </Li>
                    <ol style="margin-left:30px;">
                            <li> the date and time of your access </li>
                            <li> the pages you have accessed </li>
                            <li> the Internet Protocol (IP) address that you use to access the Internet </li>

                    </ol>
                    </li>
                    <li>BitQit may collect your personal information which may include your name, email address, phone number,
                        and other contact information (browser type and version, country, etc). Ways in which we may collect
                        information from you are:
                     <ol style="margin-left:30px;">
                        <li> Subscription to newsletters or other content-related materials </li>
                        <li> Services purchases or trials (either on your own or on behalf of your company) </li>
                     </li>
                     </ol>
                </ol>

                <h4>Communications</h4>

                <p style="margin-bottom:12px;">
                    You can opt out of receiving certain promotional or marketing communications from us at any time by
                    clicking the Unsubscribe link in the emails communications we send or by contacting us at support@searchtap.io.
                    If you have any account for our Services, we will still send you non-promotional communications,
                    like service-related emails.
                </p>

                <h4>Cookies</h4>

                <p style="margin-bottom:12px;">
                    Cookies are small files stored on your computer, which enable the browser to remember user specific
                    information. Cookies are placed in a customer’s browser to identify the customer. You can instruct your
                    browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept
                    cookies, you may still use our Websites and Services; however, your access to some functionalities and
                    areas of our Websites or Services may be severely restricted.
                </p>

                <p>You can reset their cookie preferences by clearing their browser cookies. Reference link:
                    <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en" target="_blank">https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en</a>
                </p>

                <h4>Security</h4>

                <p style="margin-bottom:12px;">
                    At BitQit, we strive to use commercially acceptable means to protect your personal information.
                    We have taken appropriate measures to protect your data from any loss, misuse, unauthorized access,
                    disclosure or alteration. Contact us at <strong>support@searchtap.io </strong> for more details on how BitQit secures
                    information.
                </p>

                <h4>Changes To This Privacy Policy</h4>

                <p style="margin-bottom:12px;">
                    This Privacy Policy is effective as of and will remain in effect except with respect to any changes
                    in its provisions in the future, which will be in effect immediately after being posted on this page. </p>

                    <p> We reserve the right to update or change our Privacy Policy at any time without prior notice and you
                should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications
                to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to
                abide and be bound by the modified Privacy Policy. </p>


                <h4>Have questions about this policy?</h4>

                <p style="margin-bottom:12px;">
                    If you have any questions or concerns regarding our privacy policies, please send us a detailed message
                    to <strong> support@searchtap.io </strong>, and we will try to resolve your concerns.
                </p>
            </div>
        </div>
    </div>
    <!--end of container-->
</section>