---
title: Request a Demo | SearchTap
description: Discover how SearchTap can help you deliver instant, relevant results, with the minimal IT involvement and no infrastructure investment.
layout: layout-empty
permalink: request-demo/
---
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-push-6 bg-white white-frm right-div"
             style="background:#fff !important; overflow: visible;">
            <div class=" bg-white" style="background:#fff !important;">
                <div class="re-right pt88 pb90">

                    <form name="Request Demo Page" class="text-center form-email" id="requestDemoForm" netlify-honeypot="bot-field" data-netlify="true">

                        <a href="/"><img src="/img/logo-dark.png" style="height: 40px;"
                                         class="img-responsive center-block mb48"></a>

                        <h3 class="mb10 text-dark">Looking for a personalised demo?
                        </h3>
                        <div class="brd4"></div>
                        <p class="lead mb-xs-12 text-green mt10">
                            Speak with a Search expert so we can learn about your unique goals.
                        </p>

                        <div class=" mt32">
                            <div class="alert alert-success" id="leadCreated" style="display: none">
                                <span class="text-center">Thank you for your interest in SearchTap. Our search experts will contact you to schedule a demo shortly!</span>
                            </div>
                            <div class="alert alert-danger" id="leadNotCreated" style="display: none">
                                <span class="text-center">Please enter valid details.</span></div>

                            <label>
                                <input name="bot-field"/>
                            </label>

                            <input type="text" id="name" name="Name"
                                   class=" col-md-12 validate-required field-error"
                                   placeholder="Name" required />

                            <input type="hidden" name="Country Code" id="country_code" />
                            <input type="number" id="number" name="Phone"
                                   class="col-md-12 validate-required field-error"
                                   placeholder="Phone" required />


                            <input type="email" id="email" name="Email" class="bg-none col-md-12 mt8 validate-required" placeholder="Company Email" required/>

                            <div data-netlify-recaptcha></div>

                            <div class="col-sm-6 col-sm-offset-3">

                                <button type="submit" id="requestDemoFormSubmit"
                                        style=" border-radius:4px !important; margin-top: 10px">Schedule demo
                                </button>
                            </div>


                        </div>

                        <div class="overflow-hidden">

                        </div>
                    </form>

                </div>

            </div>

        </div>


        <div class="col-md-6 col-md-pull-6 left-div-1">
            <div class="re-left pt64 pb64 bg-blue">


                <P class="ddd lead">Discover how you can use SearchTap to customize, analyze and build an amazingly
                    effective
                    search experience for your users with minimal IT involvement and no infrastructure investment.</P>

                <hr>

                <h4 class="mt16 mt-xs-0 text-white">Features</h4>


                <div class="row">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <ul class="list-unstyled icons-list pull-left">
                                    <li><i class="ti-search icon-xs"></i> Autocomplete</li>
                                    <li><i class="ti-pin-alt icon-xs"></i> Custom Result Ranking<span
                                                style="color:#fff; font-size:9.5px; position: absolute; margin-top:-4px; margin-left:3px; ">BETA</span>

                                    </li>
                                    <li><i class="ti-marker-alt icon-xs"></i> Smart Highlighting</li>
                                    <li><i class="ti-loop icon-xs"></i> Synonyms
                                    </li>
                                    <li><i class="ti-map-alt icon-xs"></i> Geo-Location Search
                                    </li>
                                    <li><i class="ti-blackboard icon-xs"></i>Intuitive Dashboards</li>
                                    <li><i class="ti-wand icon-xs"></i> Code Free Setup
                                    </li>
                                </ul>

                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                                <ul class="list-unstyled icons-list2">
                                    <li><i class="ti-check-box icon-xs"></i> Autocorrect</li>
                                    <li><i class="ti-panel icon-xs"></i> Weights</li>
                                    <li><i class="ti-filter icon-xs"></i> Faceting</li>
                                    <li><i class="ti-loop icon-xs"></i> Stopwords
                                    </li>
                                    <li><i class="ti-world icon-xs"></i> Multiple Language Support</li>
                                    <li><i class="ti-infinite icon-xs"></i> Seamless Indexing</li>
                                    <li><i class="ti-link icon-xs"></i> Multiple Integrations
                                    </li>

                                </ul>

                            </div>


                        </div>

                    </div>
                </div>


                <h4 class="mt16 mt-xs-0 text-white ">The Proof is in the Numbers</h4>

                <div class="row">

                    <div class="col-md-4">
                        <div class="box text-center">
                            <h2 class="text-white mb6 text-light-gray">73
                                <small class="text-white">%</small>
                            </h2>
                            <p class="text-white mb0 normal-line pf">Increase in <br>
                                Enquiries</p>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="box text-center">
                            <h2 class="text-white mb6 text-light-gray">40
                                <small class="text-white">%</small>
                            </h2>
                            <p class="text-white mb0 normal-line pf">Increase in Online <br>
                                Sales</p>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="box text-center">
                            <h2 class="text-white mb6 text-light-gray">65
                                <small class="text-white">%</small>
                            </h2>
                            <p class="text-white mb0 normal-line pf">Increase in Monthly <br>
                                Searches</p>
                        </div>
                    </div>


                </div>


            </div>

        </div>


    </div>
</div>
