---
title: Success Stories - SearchTap
description: Fast & accurate search solution for Magento. Sign up for a free trial today.
layout: success-stories-thumbnails
permalink: success-stories/
---

<div class="bg-blue-c success-stories">

    <h2 class="mb0 _700 case-title text-center">
        We have Stories to inspire you
    </h2>
    <p class="text-center lead">Businesses across industries have trusted SearchTap improve search optimization. <br>
        Read about how our search made a difference.</p>

    <div class="mobile-client-logo hidden-md hidden-lg">
        <img src="../img/clients/client-mobile-logo.png" class="img-responsive">
    </div>

    <div class="client-logo-wrapper hidden-sm hidden-xs">

        <div class="client-column">

            <div class="column"><span class="client-logo-column">
                            <img src="../img/clients/searchtap_for_voxpop.png" alt="Voxpop">
                        </span></div>
            <div class="column"><span class="client-logo-column">
                            <img src="../img/clients/searchtap_for_glen.png" alt="Glen">
                        </span></div>
            <div class="column">    <span class="client-logo-column">
                            <img src="../img/clients/searchtap_for_jadeblue.png" alt="Jade Blue">
                        </span></div>

        </div>

        <div class="client-column">
            <div class="column">
                        <span class="client-logo-column">
                            <img src="../img/clients/searchtap_for_liberty.png" alt="Liberty">
                        </span>
            </div>
            <div class="column">
                        <span class="client-logo-column">
                            <img src="../img/clients/searchtap_for_gocoop.png" alt="Gocoop">
                        </span>
            </div>
            <div class="column">
                        <span class="client-logo-column">
                            <img src="../img/clients/searchtap_for_portronics.png" alt="Portronics">
                        </span>
            </div>
            <div class="column">
                        <span class="client-logo-column">
                            <img src="../img/clients/searchtap_for_hipvan.png" alt="Hipvan">
                        </span>
            </div>

        </div>

        <div class="client-column">
            <div class="column"></div>

            <div class="column">
                        <span class="client-logo-column">
                            <img src="../img/clients/searchtap_for_jaypore.png" alt="Jaypore">
                        </span>
            </div>
            <div class="column">
                        <span class="client-logo-column">
                            <img src="../img/clients/searchtap_for_femella.png" alt="Femella">
                        </span>
            </div>
            <div class="column">
                        <span class="client-logo-column">
                            <img src="../img/clients/searchtap_for_amydus.png" alt="Amydus">
                        </span>
            </div>
            <div class="column"></div>
        </div>

        <div class="client-column">
            <div class="column"></div>
            <div class="column">
                        <span class="client-logo-column">
                            <img src="../img/clients/searchtap_for_mamaearth.png" alt="Mamaearth">
                        </span>
            </div>
            <div class="column">
                        <span class="client-logo-column">
                            <img src="../img/clients/searchtap_for_propshop24.png" alt="Propshop24">
                        </span>
            </div>
            <div class="column"></div>
        </div>


    </div>

</div>