---
title: Success Stories - SearchTap
description: Fast & accurate search solution for Magento. Sign up for a free trial today.
layout: success-stories-thumbnails
permalink: success-stories/
---

<section class="bg-blue-c success-stories pt0 pb0">

    <h2 class="mb0 _700 case-title text-center">
        We have Stories to inspire you
    </h2>
    <p class="text-center lead">Businesses across industries have trusted SearchTap improve search optimization. <br>
        Read about how our search made a difference.</p>

    <div class="mobile-client-logo hidden-md hidden-lg">
        <img src="../img/success-stories/client-logos.png" class="img-responsive">
    </div>

    <div class="client-logo-wrapper hidden-sm hidden-xs">

        <img src="../img/success-stories/client-logos.png" class="img-responsive center-block">


    </div>

</section>