---
title: "Contact SearchTap Sales Team | SearchTap"
description: How can we help? Get in touch with the SearchTap team for product or sales related queries. We're always happy to help.
testimonial: false
permalink: terms/
---

<section class=" mb32 pb64 pt16 mt16">
    <div class="container">
        <div class="row mb24 mb-xs-24">
            <div class="col-md-12 col-sm-12 ">
                <h2 class="text-center">Terms of Service</h2>

                <h4></h4>


                <p style="margin-bottom:12px;">
                    This agreement is entered between BitQit Private Limited, a company registered under Companies Act 1956 in India, having its office at A - 11, Vikas Puri, New Delhi, India - 110018, India (hereinafter referred to as “SearchTap“ and the payer or/and the recipient of services hereunder identified as part of the subscription process for BitQit Services, hereinafter referred to as “You” or “Customer”.

                </p>

                <p style="margin-bottom:12px;">Please understand that by accepting these terms and conditions, Customer represents and warrants that Customer is major and thus legally capable to enter into a contract and in case Customer is acting on behalf of some business entity, Customer is duly authorized to enter into agreement on behalf of the entity Customer is representing. Customer also represents and warrants that Customer is not a competitor of BitQit or it’s Product - SearchTap.

                </p>

                <p>Therefore, by clicking “I agree”, ordering, and/or using BitQit’s services, Customer agrees to be bound by all of the terms and conditions of this agreement (hereinafter referred to as the agreement).</p>
                <p>Now whereas Customer and BitQit both hereby agree to the terms & conditions hereinafter mentioned as well as all the additional terms and conditions mentioned on the “Trial registration” web page, “Terms of Service”, “Privacy Policy” page of SearchTap’s website www.searchtap.io which may be updated from time to time.
                </p>

                <h4>Scope of Service</h4>


                <p style="margin-bottom:12px;">
                    SearchTap offers search software as a service (the Service) which includes the following:

                </p>

                <p style="margin-bottom:12px;"> Product’s application interface (the “Admin Panel”) and its search technology API service which is hosted at a domain managed by BitQit.

                </p>

                <p>SearchTap will offer reasonable Technical Support for the Service. For any issue relating to the Service, Customer may contact SearchTap’s technical support by sending an email to support@searchtap.io. Only Customer or Customer’s authorized user may contact SearchTap’s technical support.</p>
                </p>

                <h4>Free Trial</h4>


                <p style="margin-bottom:12px;">
                    Customer can request for a free trial of the services. SearchTap will make the services available on a trial basis and free of charge to Customer until the earlier of (a) the end of the free trial period (14 days from date of signing of this agreement) or (b) the start date of Customer’s subscription.
                </p>
                <p> During the free trial period,</p>
                <ol style="">
                    <li>the Services are provided “as is” and without a warranty of any kind,</li>
                    <li>SearchTap may suspend, limit, or terminate the Services for any reason at any time without notice and</li>
                    <li>SearchTap will not be liable toward Customer for damages of any kind related to Customer’s  use of the Services. Unless Customer subscribes to the Services before the end of the free trial, all of its data on the Service may be permanently deleted at the end of the trial and SearchTap may not be able to recover it.</li>
                </ol>

                <h4>Lawful use of the services</h4>


                <p style="margin-bottom:12px;">
                    Customer hereby agrees to use the Services of SearchTap only in an authorized manner as per the terms of this Agreement. In case it is found that Customer’s use of Services violates the terms of this Agreement or any other law, rule or regulation enacted by the concerned authorities from time to time, SearchTap reserves the right to terminate the Agreement with immediate effect.

                </p>

                <h4>SearchTap's Responsibilities, Representations and Warranties</h4>

                <ol>
                    <li> In the performance of Services, SearchTap agrees to:</li>

                        <ol style="margin-left:30px;">
                           <li> perform the Services to the best of its ability and with the degree of care, diligence and skill that a reasonably prudent person would exercise in comparable circumstances; </li>
                           <li> liaise with Customer through Customer’s coordinator on matters related to the use of, and the identification and resolution of errors in the Service; however, this shall not include the provision of training services; </li>
                           <li> invoice Customer according to the terms of this Agreement for the Services performed; and</li>
                           <li> proceed according to Customer’s reasonable instructions for the disposition of Customer’s data and supplies on the termination of the Agreement.</li>
                        </ol>

                    <li> Reasonable attempts to correct errors on notice: SearchTap warrants that it will, at its expense, make commercially reasonable attempts to correct any errors for which SearchTap is directly and solely responsible, provided that the data necessary to correct such errors is available to SearchTap; or at SearchTap’s discretion, provide Service credit to Customer equivalent to the charge that would have been applicable for correcting the portion of the Service that is an error; such Service credit will be only for errors solely due to malfunctioning of a system or software provided by SearchTap or any error made by SearchTap’s personnel during the performance of the Service. For SearchTap to correct the errors or obtain the Service credit, Customer must notify SearchTap in writing of such errors within 30 days of receipt of the Services believed to contain the errors.</li>

                </ol>

                <h4>Customer's Responsibilities, Representations and Warranties</h4>

                <ol>
                    <li> Customer agrees to:</li>

                    <ol style="margin-left:30px;">
                        <li> provide all necessary data and any special forms or other required materials or information to SearchTap on schedule or in a timely fashion to enable SearchTap to provide the Services;
                        <li> ensure accuracy, legibility and completeness of all data supplied to SearchTap and be solely responsible for the results obtained from Customer’s use of any of the Services;
                        <li> liaise with SearchTap through a coordinator Customer will identify, on matters related to the Services, and authorize that coordinator to make decisions on behalf of Customer in relation to the implementation of this Agreement and the Services and any changes thereto; and
                        <li> control, and be responsible for the use of, account information, user ids and passwords related to the Services, where required
                    </ol>

                    <li> Customer Representations: Customer represents and warrants to SearchTap that: </li>

                    <ol style="margin-left:30px;">
                        <li> the information Customer has provided for the purpose of establishing an account with SearchTap is accurate and </li>
                        <li> Customer has complied with and will continue to comply with all applicable laws, including privacy laws, and has obtained and will continue to obtain the requisite privacy consents in the collection and use of all information that may be collected on any website or maintained on any server hosted by SearchTap.</li>
                    </ol>

                </ol>

                <h4>Term, Termination and Suspension of Service</h4>

                <ol>
                    <li> Initial Term: The initial subscription term shall begin on the effective date of Customer subscription or signing of this agreement and expire at the end of the period selected during the subscription process or end of free trial period.</li>
                    <li>Renewal of Term: Unless one of us gives the other a written notice that it does not intend to renew the subscription, the paid subscription and this Agreement will automatically renew for the period selected by the customer in its latest term ("Renewal Subscription Term"). The written notice of non-renewal must be sent at least 15 days before the end of the Subscription Term. The Renewal Subscription Term will be on the current terms and conditions of this Agreement, and subject to the renewal pricing provided in our standard pricing available at www.searchtap.io. Should you decide not to renew, you may send the notice of non-renewal by email to support@searchtap.io or use the cancellation option within the product interface.</li>
                    <li>Termination by Customer: Customer may terminate this Agreement before the end of the Term without liability (except for amounts due for Services provided up to the effective date of termination) if SearchTap:</li>
                    <ol style="margin-left:30px;">
                        <li> Fails to provide the Services in accordance with the terms of this Agreement, such failure causes material harm to Customer and SearchTap does not cure the failure within 10 days of receipt of the notice in writing from Customer describing the failure in reasonable detail.</li>
                        <li> Materially violates any other provision of this Agreement and fails to cure the violation within 30 days of receipt of the notice in writing from Customer describing the violation in reasonable detail.</li>
                       In the event that this Agreement is terminated pursuant to this Section, SearchTap will return the fees paid to it for Services not yet performed pro rata.
                    </ol>
                    <li> Termination/Suspension by SearchTap:</li>

                    SearchTap may terminate this Agreement or suspend the Services before the end of the Term without liability:

                    <ol style="margin-left:30px;">
                        <li> On 30 days’ notice to Customer, if Customer is overdue on the payment of any amount due under this Agreement;
                        </li>
                        <li>If Customer materially violates any other provision of this Agreement and fails to cure the violation within 10 days’ notice in writing from SearchTap, describing the violation in reasonable detail; or </li>
                        <li>Immediately on written notice upon Customer becoming insolvent or bankrupt within the meaning of the Bankruptcy and Insolvency Laws.</li>
                   During suspension, Customer will not be able to access the Services. SearchTap will use commercially reasonable efforts to give Customer an advance notice in writing of suspension of Service unless a law enforcement or governmental agency directs otherwise or suspension without notice is necessary to protect SearchTap or its other customers.
                    </ol>
                    <li>Following suspension: SearchTap shall keep the account of Customer suspended for the reasons stated above for a maximum period of 1 year; thereafter, the account stands deleted and Customer’s data/information shall be deleted from the database of SearchTap. But on special request and on being assured in time by Customer about resumption of Service, SearchTap may extend the period of suspension and retain the data/information for further specified period of time as agreed.
                    </li>
                    <li>Following termination: It is agreed that in case of termination, the fees owed to SearchTap as per this Agreement will not be cancelled or waived. Customer’s data and account settings shall be irrevocably deleted within 30 days from the date of termination. It shall be Customer’s exclusive responsibility to secure all necessary data from Customer’s account prior to termination.
                    </li>

                </ol>

                <h4>Fees, Billing, Taxes, Charges</h4>

                <ol style="">
                    <li>Fees: The fees set forth in the order form created at the outset of Customer’s account shall be effective for the Initial Term and each renewal Term of this Agreement, provided that SearchTap shall have the right to revise these fees at any time upon thirty (30) days’ written notice to Customer. In the event that Customer does not agree with such fee revision, Customer shall have the right to terminate this Agreement upon fifteen (15) days’ written notice, provided that such notice of termination must be received within thirty (30) days from the date of notice of fee increase.

                    </li>
                    <li>Billing and Payment Arrangements: SearchTap will bill Customer on an annual/monthly/quarterly/half-yearly or any other mutually agreed period basis for all recurring fees (refer SearchTap website). For recurring fees, no refund or adjustment for plan downgrades, upgrades or elimination of plan features within the current billing term shall be issued. Invoices/payments are irrevocably deemed final and accepted by Customer unless disputed or sought clarification before subscribing to the Service. Customer shall at all times provide and keep current and up‐to‐date Customer’s contact, credit card, if applicable, and billing information on the administrative control panel.
                    </li>
                    <li>Payment by Payment by Credit Card/Wire Transfer/Cheque: If Customer is paying by credit card, Customer shall at all times provide and keep current and updated Customer’s contact, credit card, if applicable, and billing information on the administrative control panel. Customer authorizes SearchTap to charge the Customer credit card or bank account for all fees payable at the beginning of the Initial Subscription Term and all subsequent Billing Periods, including upgrades. Customer further authorizes SearchTap to use a third party to process payments and to consent to the disclosure of Customer payment information to such third party.
                    </li>
                    <li>Taxes: Customer acknowledges that the all applicable taxes, duties or government levies whatsoever are not included in the fees and expenses charged under this Agreement. Customer will make timely payment of all such taxes, duties or government levies related to this Agreement.
                    </li>
                </ol>

                <h4>Modification of Terms and Conditions</h4>

                <p> SearchTap may update, amend, modify or supplement the terms and conditions of this Agreement from time to
                    time and will use reasonable efforts to notify Customer regarding the same. Customer is responsible for regularly
                    reviewing the most current version of this Agreement at any time at www.searchtap.io. If at any time Customer does
                    not agree with any amendment, modification or supplement to the terms and conditions of this Agreement, Customer
                    may terminate this Agreement for convenience, as per Clause 7 mentioned aforesaid. Customer’s continued use of
                    Customer’s account and/or the services after the notice period will be conclusively deemed to be acceptance by
                    Customer of any such modifications or amendment. </p>

                <h4> Limited Warranty: Limitation of Damages</h4>

                <ol style="">
                    <li>SearchTap provides the Service “as is”. Customer expressly agrees that use of the Service is at Customer’s sole risk. SearchTap and its subsidiaries, affiliates, officers, employees, agents, partners, vendors and licensors expressly disclaim all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement. Customer hereby agrees that the terms of this Agreement shall not be altered due to custom or usage or due to the parties’ course of dealing or course of performance under this Agreement.</li>
                    <li>SearchTap and its subsidiaries, affiliates, officers, employees, agents, partners, vendors and licensors shall not be liable for any indirect, incidental, special, punitive or consequential damages, including but not limited to damages for lost profits, business interruption, loss of programs or information, and the like, that result from the use or inability to use the Service or from mistakes, omissions, interruptions, deletion of files or directories, errors, defects, delays in operation, or transmission, regardless of whether SearchTap has been advised of such damages or their possibility.</li>
                    <li>Customer is fully responsible for the content of the information and data passing through SearchTap's network or using the Services and for all activities that Customer conducts with the assistance of the Services.</li>
                    <li>Notwithstanding anything to the contrary contained in this Agreement, SearchTap’s aggregate liability under or in connection with the Agreement, whether arising from contract, negligence or otherwise, shall in any event not exceed the amount paid by Customer under the Agreement in the preceding 12 months.</li>
                </ol>

                <h4> Software and Intellectual Property Rights</h4>

                <ol style="">
                    <li>Ownership of Intellectual Property Rights: All Intellectual Property Rights, including any Software, owned by a party, its licensors or subcontractors as on the effective date of this Agreement shall continue to be owned by such party, its licensors or subcontractors and, except as expressly provided in this Agreement, the other party shall not acquire any right, title or interest in or to such Intellectual Property Rights. SearchTap shall own all rights, titles and interests in and to any materials created or developed by SearchTap or its subcontractors for its internal use or for assisting Customer in the provision of the Services; and Customer shall own all rights, titles and interests in and to any Intellectual Property Rights resulting or based on any work product created or developed exclusively for Customer under this Agreement, if fully paid for by Customer.
                    <li>Right to use logo: Customer agrees to let SearchTap use its organization's logo in SearchTap’s customer list and at other places on its website (including but not limited to SearchTap.io).
                    <li>License of Customer Software and Intellectual Property: Customer agrees to grant to SearchTap, solely for SearchTap’s provision of the Services, access to any tool or application used by Customer and required by SearchTap in order to troubleshoot and perform its Services, license during the Term to use any Intellectual Property Rights, including any Software, owned by or licensed to Customer by third parties and that is necessary for providing the Services to Customer and otherwise, performing its obligations under this Agreement. With respect to any Intellectual Property Rights and Software used by SearchTap to provide the Services, Customer represents and warrants that: (a) Customer is either the owner of such Intellectual Property Rights or Software or is authorized by its owner to include it under this Agreement; and (b) SearchTap has the right during the Term to use such Intellectual Property Rights and Software for the purpose of providing the Services to Customer as contemplated by this Agreement.
                    <li>No Assurance of Compatibility: Customer acknowledges that SearchTap makes no representation, warranty or assurance that Customer’s equipment and software will be compatible with SearchTap’s equipment, software and systems or the Services.</li>
                </ol>


                <h4>Confidentiality</h4>

                <ol>

                <li> SearchTap will not use any of Customer’s Confidential Information except in connection with the performance of the Services or the exercise of its rights under this Agreement and will take all reasonable precautions to maintain the confidentiality of Customer’s Confidential Information and to prevent unauthorized disclosure to others of the Confidential Information. SearchTap shall implement industry standard security procedures, such as appropriate firewall, encryption and access security measures to safeguard the Confidential Information. </li>

                    The obligation of confidentiality shall not apply to information which is (a) in the public domain (b) Available on Customer’s website other any other public website, (c) lawfully in SearchTap’s possession, and not acquired directly or indirectly from a party associated with Customer, or a third party under an obligation of confidentiality, (d) furnished to SearchTap without restriction by a third party having a bona fide right to do so, (e) or becomes, public knowledge by act or acts other than those of SearchTap, or (f)  required to be disclosed by SearchTap by operation of law or statute, or by court of competent jurisdiction, regulatory body or recognized stock exchange. </br>
                    <li> SearchTap shall only disclose the Confidential Information to those of its employees and permitted agents and subcontractors, its group companies, independent contractors and professional advisers who have a need to know and require access to the Confidential Information as may be reasonably necessary in the exercise of SearchTap’s rights and performance of the Services under this Agreement. Notwithstanding anything contrary in this Agreement, SearchTap will not be required to keep confidential, and may use or license without restriction, any ideas, concepts, know-how or techniques related to information processing which are developed by SearchTap in the performance of Services. </li>

                    <li> Notwithstanding the foregoing, SearchTap shall be permitted to: </li>
                <ol style="margin-left:30px;">
                    <li> monitor Customer’s use of the Services; </li>
                <li> report to the appropriate authorities any conduct by Customer (or Customer’s customers or end users) that SearchTap reasonably believes violates any applicable law;
                <li> provide any information, including the Confidential Information, required by law or regulation to be disclosed, or in response to a formal or informal request from a law enforcement or government agency; and
                <li> disclose that SearchTap is providing the Services to Customer and may include Customer’s name in promotional materials, including press releases and SearchTap’s website.

                </ol>

                </ol>

                <h4> Indemnification </h4>

                <p> Parties shall indemnify, defend and hold harmless each other (and their subsidiaries, affiliates, officers, employees, agents, partners, mandatories, vendors and licensors) of any and all Claims (including third-party Claims) arising as a result of or in relation to any breach of this Agreement or fault by the other party. Customer shall indemnify SearchTap in relation to any activities conducted by Customer through the Services, or otherwise in relation to “Customer’s” products or services. </p>

                <h4> Governing Law </h4>

                <p> This Agreement shall be governed by and construed in accordance with the laws of India. Customer agrees, in the event any claim or suit is brought in connection with this Agreement, it shall be brought to the exclusive jurisdiction and venue of the courts of Delhi, India. In any action to enforce this Agreement, including, without limitation, any action by SearchTap for the recovery of fees due hereunder, Customer shall pay reasonable attorney’s fees and costs in connection with such action. </p>

                <h4> Severability </h4>

                <p> In the event that any one or more of the provisions contained herein shall, for any reason, be held to be invalid, illegal, or unenforceable in any respect, such invalidity, illegality, or unenforceability shall not affect any of the other provisions of this Agreement; and this Agreement shall be construed as if such provision(s) had never been contained herein, provided that such provision(s) shall be curtailed, limited, or eliminated only to the extent necessary to remove the invalidity, illegality, or unenforceability. </p>

               <h4>Waiver</h4>

                <p> No waiver by SearchTap of any breach by Customer of any of the provisions of this Agreement shall be deemed a waiver of any preceding or succeeding breach of this Agreement. No such waiver shall be effective unless it is in writing signed by the parties hereto and then only to the extent expressly set forth in such writing. </p>

                <h4> Assignment </h4>

                <p> Neither party may assign or transfer this Agreement or any rights or obligations hereunder, in whole or in part, except with the prior written consent of the other party, which shall not be withheld unreasonably; provided that SearchTap may assign or transfer this Agreement, or any rights or obligations hereunder, in whole or in part: (a) to an affiliate of SearchTap; or (b) in connection with a merger, amalgamation or sale of all or a substantial part of the business of SearchTap, which assignments and/or transfers shall operate novation and discharge SearchTap hereunder. A change of control of Customer shall be deemed to be an assignment and transfer hereunder and shall be governed by the requirements of this provision. </p>

