---
title: "Contact SearchTap Sales Team | SearchTap"
description: How can we help? Get in touch with the SearchTap team for product or sales related queries. We're always happy to help.
testimonial: false
permalink: terms/
---

<section class="bg-secondary pt48 pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-12  col-sm-12 text-center">
                <h2 class="mb40">Terms of Service</h2>

                <h4>Summary</h4>

