---
title: "Contact SearchTap Sales Team | SearchTap"
description: How can we help? Get in touch with the SearchTap team for product or sales related queries. We're always happy to help.
testimonial: false
permalink: terms/
---

<section class=" mb32 pb64 pt16 mt16">
    <div class="container">
        <div class="row mb24 mb-xs-24">
            <div class="col-md-12 col-sm-12 ">
                <h2 class="text-center">Terms of Service</h2>


                <p style="margin-bottom:12px;">
                    This agreement is entered between BitQit Private Limited, a company registered under Companies Act 1956 in India, having its office at A - 11, Vikas Puri, New Delhi, India - 110018, India (hereinafter referred to as “SearchTap“ and the payer or/and the recipient of services hereunder identified as part of the subscription process for BitQit Services, hereinafter referred to as “You” or “Customer”.


                </p>

                <p style="margin-bottom:12px;">Please understand that by accepting these terms and conditions, Customer represents and warrants that Customer is major and thus legally capable to enter into a contract and in case Customer is acting on behalf of some business entity, Customer is duly authorized to enter into agreement on behalf of the entity Customer is representing. Customer also represents and warrants that Customer is not a competitor of BitQit or it’s Product - SearchTap.


                </p>

                <p>Therefore, by clicking “I agree”, ordering, and/or using BitQit’s services, Customer agrees to be bound by all of the terms and conditions of this agreement (hereinafter referred to as the agreement).

                </p>

                <p>Now whereas Customer and BitQit both hereby agree to the terms & conditions hereinafter mentioned as well as all the additional terms and conditions mentioned on the “Trial registration” web page, “Terms of Service”, “Privacy Policy” page of SearchTap’s website www.searchtap.io which may be updated from time to time:

                </p>