---
title: HealthXP Search by SearchTap
description: Fast & accurate search solution for Publisher. Sign up for a free trial today.
show_guide_expert: false
show_testimonial: false
permalink: portfolio/healthxp/
---


<div id="searctap-wrapper" aria-live="polite">

    <div class="searctap-wrapper" data-namespace="project" style="visibility: visible; opacity: 1;">
        <div class="container-fluid">

            <div class="row pt70 pb56">
                <div class="col-12 col-lg-6">

                    <div class="st-client-logo h100">
                        <a href="https://healthxp.in/" target="_blank">
                            <img src="../../img/portfolio/img/healthxp-logo.png">
                        </a>
                    </div>

                    <div class="piece-services ">
                        Industry : Health Supplements  </div>
                </div>

            </div>


            <div class="piece-fullscreen break-out my-1 my-md-2 my-lg-3">
                <img class="lazyfade lazyloaded" src="../../img/portfolio/product/healthxp/healthxp-banner.jpg">
            </div>



            <div class="row pt96 pb90">


                <div class="col-12 col-lg-12 piece-text p-pb90">

<p>
    <b>HealthXP</b> is the leading sports nutrition supplements provider in India. They offer a wide range of products from major brands all over the world. HealthXP wanted an eCommerce search that was able to deliver relevant results and not have long load times. They went with SearchTap after seeing the search results page customizations that were achievable.

</p>
                </div>




                <div class="py-1 py-md-2 py-lg-3 piece-slide col-12 col-md-6">

                    <a class="gallery no-barba" href="">
                        <img class="lazyfade lazyloaded" src="../../img/portfolio/product/healthxp/healthxp-mobile.jpg">

                    </a>

                    <div class="piece-text piece-caption">
                        <small> Mobile Search & Filter </small>        </div>

                </div>


                <div class="py-1 py-md-2 py-lg-3 piece-slide col-12 col-md-6">

                    <a class="gallery no-barba" href="">
                        <img class="lazyfade lazyloaded" src="../../img/portfolio/product/healthxp/healthxp-desktop.jpg">
                    </a>
                    <div class="piece-text piece-caption">
                        <small> Desktop Search

                        </small>        </div>
                </div>






            </div>



    <div class="">

        <div class="col-6 col-lg-6 mb-1 mb-lg-2">
            <a class="row piece-next mt-1 mt-md-2 pt-2 pt-md-3 pt-lg-4 pt-xl-5 pb-1 pb-sm-2 pb-lg-3 justify-content-right" href="https://www.searchtap.io/portfolio/propshop24/">
                <h3 class="headline-2 pre-arrow">Previous Project</h3>
            </a>
        </div>

        <div class="col-6 col-lg-6 mb-1 mb-lg-2">
            <a class="row piece-next mt-1 mt-md-2 pt-2 pt-md-3 pt-lg-4 pt-xl-5 pb-1 pb-sm-2 pb-lg-3" href="https://www.searchtap.io/portfolio/glen/">
                <h3 class="headline-2 next-arrow">Next Project</h3>
            </a>
        </div>



    </div>



        </div>
    </div>
</div>



