---
title: Hipvan Search by SearchTap
description: Fast & accurate search solution for Publisher. Sign up for a free trial today.
show_guide_expert: false
show_testimonial: false
permalink: portfolio/hipvan/
---


<div id="searctap-wrapper" aria-live="polite">

    <div class="searctap-wrapper" data-namespace="project" style="visibility: visible; opacity: 1;">
        <div class="container-fluid">

            <div class="row pt70 pb56">
                <div class="col-12 col-lg-6">

                    <div class="st-client-logo h100">
                        <a href="https://www.glenindia.com/" target="_blank">
                            <img src="../../img/portfolio/img/hipvan-logo.png">
                        </a>
                    </div>

                    <div class="piece-services">
                        Industry : Home Decor  </div>
                </div>

            </div>


            <div class="piece-fullscreen break-out my-1 my-md-2 my-lg-3">
                <img class="lazyfade lazyloaded" src="../../img/portfolio/product/hipvan/hipvan-banner.jpg">
            </div>



            <div class="row pt96 pb90">


                <div class="col-12 col-lg-12 piece-text p-pb90">

        <p>
            This Singapore-based furniture store offers stylish furniture at an honest price. They currently offer more than 5000 home furnishing products and are an upcoming brand with millennials. SearchTap delivered a customized two-step search for their store without compromising on page-load speed for Hipvan.


        </p>

                </div>




                <div class="py-1 py-md-2 py-lg-3 piece-slide col-12 col-lg-4">

                    <a class="gallery no-barba" href="">
                        <img class="lazyfade lazyloaded" src="../../img/portfolio/product/hipvan/hipvan-mobile-search.jpg">

                    </a>

                    <div class="piece-text piece-caption">
                        <small> Mobile Search </small>        </div>

                </div>


                <div class="py-1 py-md-2 py-lg-3 piece-slide col-12 col-lg-4">

                    <a class="gallery no-barba" href="">
                        <img class="lazyfade lazyloaded" src="../../img/portfolio/product/hipvan/hipvan-mobile-filter.jpg">
                    </a>
                    <div class="piece-text piece-caption">
                        <small> Mobile Filter</small>        </div>
                </div>


                <div class="py-1 py-md-2 py-lg-3 piece-slide col-12 col-lg-4">

                    <a class="gallery no-barba" href="">
                        <img class="lazyfade lazyloaded" src="../../img/portfolio/product/hipvan/hipvan-desktop-search.jpg">
                    </a>
                    <div class="piece-text piece-caption">
                        <small> Desktop Search</small>        </div>
                </div>



            </div>



    <div class="row">
        <div class="col-6 col-lg-6 mb-1 mb-lg-2">
            <a class="row piece-next mt-1 mt-md-2 pt-2 pt-md-3 pt-lg-4 pt-xl-5 pb-1 pb-sm-2 pb-lg-3" href="">
                <h3 class="headline-2"></h3>
            </a>
        </div>


        <div class="col-6 col-lg-6 mb-1 mb-lg-2">
            <a class="row piece-next mt-1 mt-md-2 pt-2 pt-md-3 pt-lg-4 pt-xl-5 pb-1 pb-sm-2 pb-lg-3 justify-content-right" href="https://www.searchtap.io/portfolio/glen/">
                <h3 class="headline-2">Previous Project</h3>
            </a>
        </div>
    </div>





        </div>
    </div>
</div>



