---
title: Headsup for Tails Search by SearchTap
description: Fast & accurate search solution for Publisher. Sign up for a free trial today.
show_guide_expert: false
show_testimonial: false
permalink: portfolio/huft/
---


<div id="searctap-wrapper" aria-live="polite">

    <div class="searctap-wrapper" data-namespace="project" style="visibility: visible; opacity: 1;">
        <div class="container-fluid">

            <div class="row pt70 pb56">
                <div class="col-12 col-lg-6">

                    <div class="st-client-logo h100">
                        <a href="https://headsupfortails.com/" target="_blank">
                            <img src="../../img/portfolio/img/huft-logo.png">
                        </a>
                    </div>

                    <div class="piece-services">
                        Industry : Pet Care  </div>
                </div>

            </div>


            <div class="piece-fullscreen break-out my-1 my-md-2 my-lg-3">
                <img class="lazyfade lazyloaded" src="../../img/portfolio/product/huft/huft-banner.jpg">
            </div>



            <div class="row pt96 pb90">


                <div class="col-12 col-lg-12 piece-text p-pb90">

<p>
    HealthXP is the leading sports nutrition supplements provider in India. They offer a wide range of products from major brands all over the world. HealthXP wanted an eCommerce search that was able to deliver relevant results and not have long load times. They went with SearchTap after seeing the search results page customizations that were achievable.

</p>
                </div>




                <div class="py-1 py-md-2 py-lg-3 piece-slide col-12 col-md-4">

                    <a class="gallery no-barba" href="">
                        <img class="lazyfade lazyloaded" src="../../img/portfolio/product/huft/huft-mobile-search.jpg">

                    </a>

                    <div class="piece-text piece-caption">
                        <small> Mobile Search & Filter </small>        </div>

                </div>


                <div class="py-1 py-md-2 py-lg-3 piece-slide col-12 col-md-4">

                    <a class="gallery no-barba" href="">
                        <img class="lazyfade lazyloaded" src="../../img/portfolio/product/huft/huft-mobile-filter.jpg">
                    </a>
                    <div class="piece-text piece-caption">
                        <small> Mobile Filter

                        </small>        </div>
                </div>

                <div class="py-1 py-md-2 py-lg-3 piece-slide col-12 col-md-4">

                    <a class="gallery no-barba" href="">
                        <img class="lazyfade lazyloaded" src="../../img/portfolio/product/huft/huft-desktop-search.jpg">
                    </a>
                    <div class="piece-text piece-caption">
                        <small> Desktop Search

                        </small>        </div>
                </div>






            </div>



    <div class="row">
        <div class="col-6 col-lg-6 mb-1 mb-lg-2">
            <a class="row piece-next mt-1 mt-md-2 pt-2 pt-md-3 pt-lg-4 pt-xl-5 pb-1 pb-sm-2 pb-lg-3" href="https://www.searchtap.io/portfolio/glen/">
                <h3 class="headline-2">Next Project</h3>
            </a>
        </div>


        <div class="col-6 col-lg-6 mb-1 mb-lg-2">
            <a class="row piece-next mt-1 mt-md-2 pt-2 pt-md-3 pt-lg-4 pt-xl-5 pb-1 pb-sm-2 pb-lg-3 justify-content-right" href="https://www.searchtap.io/portfolio/libertyshoes/">
                <h3 class="headline-2">Previous Project</h3>
            </a>
        </div>
    </div>

            <div class="break-out dark-bg pt72 pb72">
                <div class="container-fluid">

                    <div class="row work-stats d-lg-flex justify-content-center">
                        <div class="col-4">
                            <span class="number p-20">27%</span>
                            <span class="description">of Total Online Revenue <br>coming from Search Users

</span>
                        </div>
                        <div class="col-4">
                            <span class="number p-20">25%</span>
                            <span class="description"> of Mobile Transactions <br> made by Search Users


</span>
                        </div>


                        <div class="col-4">
                            <span class="number p-20">2.25x</span>
                            <span class="description">Higher than average Conversion<br> Rate for Search Users</span>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



