---
title: Propshop24 Shoes Search by SearchTap
description: Fast & accurate search solution for Publisher. Sign up for a free trial today.
show_guide_expert: false
show_testimonial: false
permalink: portfolio/propshop24/
---


<div id="searctap-wrapper" aria-live="polite">

    <div class="searctap-wrapper" data-namespace="project" style="visibility: visible; opacity: 1;">
        <div class="container-fluid">

            <div class="row pt70 pb56">
                <div class="col-12 col-lg-6">

                    <div class="st-client-logo h100">
                        <a href="https://propshop24.com/" target="_blank">
                            <img src="../../img/portfolio/img/propshop-logo.png">
                        </a>
                    </div>

                    <div class="piece-services">
                        Industry : Footware  </div>
                </div>

            </div>


            <div class="piece-fullscreen break-out my-1 my-md-2 my-lg-3">
                <img class="lazyfade lazyloaded" src="../../img/portfolio/product/propshop24/propshop24-banner.jpg">
            </div>



            <div class="row pt96 pb90">


                <div class="col-12 col-lg-12 piece-text p-pb90">

<p>
    A leading brand in the home decor and gifts industry, <b>Propshop24</b> offers a curated range of products that gets updated regularly. They have something for everyone. SearchTap helped the <b>Propshop24</b> team create an engaging search experience that kept visitors interested even on zero result pages.

</p>
                </div>




                <div class="py-1 py-md-2 py-lg-3 piece-slide col-12 col-md-6">

                    <a class="gallery no-barba" href="">
                        <img class="lazyfade lazyloaded" src="../../img/portfolio/product/propshop24/propshop24-mobile.jpg">

                    </a>

                    <div class="piece-text piece-caption">
                        <small> Mobile Search & Filter </small>        </div>

                </div>


                <div class="py-1 py-md-2 py-lg-3 piece-slide col-12 col-md-6">

                    <a class="gallery no-barba" href="">
                        <img class="lazyfade lazyloaded" src="../../img/portfolio/product/propshop24/propshop24-desktop.jpg">
                    </a>
                    <div class="piece-text piece-caption">
                        <small> Desktop Search

                        </small>        </div>
                </div>






            </div>

            <div class="break-out dark-bg pt72 pb72">
                <div class="container-fluid">

                    <div class="row work-stats d-lg-flex justify-content-space">
                        <div class="col-4">
                            <span class="number p-20">24%</span>
                            <span class="description">Search Revenue <br>Contribution

</span>
                        </div>
                        <div class="col-4">
                            <span class="number p-20">20%</span>
                            <span class="description">of Mobile Transactions made <br>by search users




</span>
                        </div>


                        <div class="col-4">
                            <span class="number p-20">1.8x</span>
                            <span class="description">Higher than average Conversion<br> Rate for Search Users</span>
                        </div>

                    </div>
                </div>
            </div>

    <div class="">
        <div class="col-6 col-lg-6 mb-1 mb-lg-2">
            <a class="row piece-next mt-1 mt-md-2 pt-2 pt-md-3 pt-lg-4 pt-xl-5 pb-1 pb-sm-2 pb-lg-3" href="https://www.searchtap.io/portfolio/glen/">
                <h3 class="headline-2">Next Project</h3>
            </a>
        </div>


        <div class="col-6 col-lg-6 mb-1 mb-lg-2">
            <a class="row piece-next mt-1 mt-md-2 pt-2 pt-md-3 pt-lg-4 pt-xl-5 pb-1 pb-sm-2 pb-lg-3 justify-content-right" href="https://www.searchtap.io/portfolio/libertyshoes/">
                <h3 class="headline-2">Previous Project</h3>
            </a>
        </div>
    </div>





        </div>
    </div>
</div>



