---
id: 4
title: Amydus Case Study - SearchTap
description:
layout: success-stories-main
permalink: success-stories/amydus/
---

<section class=" mt10 pt0 pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-xs-24">

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">About Amydus

                        </h4></div>
                    <hr>
                    <p>
                        Amydus is a ready-to-wear plus size clothing brand by Begin101 Lifestyle. Styles offered are
                        eclectic in nature though meeting the modern and contemporary demands of the customer. They
                        offer a range of both ethnic and western wear.
                    </p>


                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Challenge
                        </h4></div>
                    <hr>

                    <p>
                        Amydus was looking for ways to grow visitor engagement to their online store after they noticed
                        that their search was not leading to relevant products. Kartik, CEO of Amydus explains “We
                        wanted a search solution that was easy to implement so that our store wouldn’t have to suffer
                        any downtime. The native Magento search was sluggish and mostly gave out irrelevant results to
                        our visitors. We’ve wanted to fix these issues but weren’t able to get anywhere close ourselves
                        due to a lack of expertise and complexity involved in implementing a good search solution.”

                    </p>


                    <div class="post-snippet mb32">

                        <div class="post-title"><h4 class="inline-block">How SearchTap.io helped Amydus

                            </h4></div>
                        <hr>

                    </div>

                    <p>Prior to using SearchTap.io, Kartik tells us that visitors were often complaining about search
                        relevancy issues and painfully slow loading times for search results. Mobile search and
                        navigation experience had poor UX/UI and filters were not user-friendly &amp; responsive. Amydus
                        also had no clue about search specific analytics such as popular searches and zero search result
                        queries that could help them understand their sales funnel.

                    </p>

                    <p>Fed up with the situation, they were actively looking for options. After consulting with
                        SearchTap.io, it became clear to the Amydus team that they would need to use an intelligent
                        e-commerce search solution that could help improve product discovery on their Magento store and
                        take away the pain of painfully slow search load times.
                    </p>

                </div>

            </div>
        </div>
        <!--end of container row-->
    </div>
    <!--end of container-->
</section>


<section class=" mt0 pt0 pb0">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-xs-24">

                <p>
                    When the Amydus team was shown a demo of the SearchTap.io product, they were blown away by the speed
                    and accuracy of the search as you type technology. Loading times for search users were under 30
                    milliseconds and users had the option to use smart dynamic filters which automatically updated at
                    each keystroke.

                </p>

                <p>These features made sure that users were able to refine their query without leaving the search page.
                    For example, typing “dr” in the search field would show relevant results and filters for “dresses”.
                    These filters appeared to visitors across devices.
                </p>

                <img src="/img/success-stories/amydus/amydus-search-filters.jpg"
                     class="img-responsive center-block shadow-case mb40 max-width">


                <p>During the implementation process, SearchTap.io worked closely with the Amydus development team to
                    customize the search page to keep their visual design intact. UX/UI design for the mobile and
                    desktop platforms was refined. One of the first changes that SearchTap.io suggested was to make the
                    search bar prominent to make navigation simpler.
                </p>

                <img src="/img/success-stories/amydus/amydus-header.jpg"
                     class="img-responsive center-block shadow-case mb40 max-width">
                <img src="/img/success-stories/amydus/amydus-mobile-header.jpg"
                     class="img-responsive center-block shadow-case mb40 max-width"
                     style="width: 300px;">

                <p>With SearchTap.io, Amydus added distinct and easy to use native app type filters &amp; bubble filters
                    that enhanced the shopping experience tremendously. SearchTap.io also carefully optimized images to
                    make sure that results loaded promptly without comprising on their quality.
                </p>

                <p>The Amydus team now has access to the search data that was collected from the new search bar from
                    SearchTap.io. At Amydus, this search analytics is now a key input for product promotions, marketing
                    campaigns and even planning new product launches. The team is also using these insights to get a
                    better understanding of their website visitors and are actively using synonyms and data tags to
                    lower zero result searches and improve conversion rates.
                </p>


            </div>

        </div>
    </div>
</section>

<section class=" pt32 pb32 mb0 _mt30">


    <div class="container">

        <div class="bg-secondary results-stats pb32 pt32 shadow-case">

            <h4 class=" text-center _600 pb0">Results</h4>

            <div class="row">
                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">49% <span
                                        class="up-arrow"></span> </span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Search Revenue </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">47% <span
                                        class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                             <span class=" case-study-stat-title">Mobile Transactions
</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">18% <span
                                        class="up-arrow"></span> </span>
                        </div>
                        <div class="col-md-12 line-height17">
                             <span class=" case-study-stat-title"> AOV of search users
</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>

<section class=" pt32 pb32 mb32 0">


    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Impact</h4></div>
                    <hr>

                    <p class="lead _600">1.18% increase in AOV of search
                        users and 49% growth in search revenue within the first month of going live
                    </p>

                    <img src="/img/success-stories/amydus/amydus-conversions-ecommerce-overview.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">
                    <img src="/img/success-stories/amydus/amydus-conversions-ecommerce-overview2.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                    <p class="lead _600">2. UI/UX improvements and an ultra-fast accurate search led to 85% rise in
                        Mobile Search users and 47% growth in mobile transactions

                    </p>

                    <img src="/img/success-stories/amydus/amydus-audience-device-overview.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">
                    <img src="/img/success-stories/amydus/amydus-audience-device-overview2.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                    <p class="lead _600">3. 16% reduction in search bounce rate and 21% fall in search exits</p>

                    <img src="/img/success-stories/amydus/amydus-behaviour-overview.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                    <img src="/img/success-stories/amydus/amydus-behaviour-overview2.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">SearchTap.io charges business growth</h4></div>
                    <hr>


                    <p>“The implementation stage was a breeze thanks to the SearchTap.io team who was eager to help us
                        get started with their site search on Amydus. We did not expect that upgrading our search would
                        have had a major impact on our business but SearchTap.io has been a treasure trove for our
                        team,” stated Kartik.

                    </p>

                    <p>Days after going live, Amydus saw a huge improvement in the search conversions and revenue.
                        Kartik had this to say “After switching over to SearchTap.io’s e-commerce search we were able to
                        better engage our visitors across devices and that really helped drive up our revenues. We knew
                        that improving our search was necessary but the results from SearchTap.io’s product exceeded our
                        expectations. We were ecstatic to see results like these so soon. Kudos to the SearchTap.io
                        team.”
                    </p>

                </div>

                <div class="bottom-strip">
                    <div class="col-sm-12">

                        <p class="text-center mb0">
                            Increase search revenue on your eCommerce site with SearchTap <a
                                    class="btn btn-filled mb0 ml20" href=/request-demo">Get a
                                personalized demo</a></p>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
