---
id: 6
title: Bigsmall Case Study - SearchTap
description:
layout: success-stories-main
permalink: success-stories/bigsmall/
---

<section class=" mt10 pt0 pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-xs-24">

                <div class="post-snippet mb32">
                    <div class="post-title"><h4 class="inline-block">About BigSmall</h4></div>
                    <hr>
                    <p>
                        BigSmall is a Delhi-based eCommerce startup that offers customers a variety of niche products.
                        They want to make uncommon and awesome gifts accessible to everyone sitting at home. With
                        relationships with suppliers from China, Japan, Korea, Taiwan, USA and the UK, the store has a
                        huge following among young professionals across metros in India.
                    </p>
                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Challenge
                        </h4></div>
                    <hr>

                    <p>
                        The BigSmall team was looking to increase conversions organically. In particular, they were
                        looking to improve the experience for mobile users as they accounted for close to 80% of their
                        traffic. They had identified search as one such key area which could deliver results.
                    </p>
                    <p>“Trying to customize some aspects of the default Shopify search was getting us nowhere so we
                        decided to look for a search solution. At BigSmall.in, we want to give our customers a unique
                        experience in every aspect of the site. Once we came across SearchTap.io’s ultra-fast search, we
                        knew that it was the kind of experience that would set up apart from the competition,” remarked
                        Aman Hans, CEO at BigSmall.

                    </p>

                    <div class="post-snippet mb32">

                        <div class="post-title"><h4 class="inline-block">How SearchTap.io upgraded BigSmall’s site
                                search
                            </h4></div>
                        <hr>

                    </div>

                    <p>BigSmall was getting quite a fair bit of traffic on their site and it was important for them to
                        convert website visitors more effectively. After speaking with SearchTap.io, BigSmall realized
                        that optimizing their site search experience was something they were ignoring. If high intent
                        visitors could find products that interested them faster then there was a higher chance of them
                        making a purchase rather than dropping off. As they were using Shopify’s native search, users
                        were being routinely led to zero result pages and after which they exited from the site.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>


<section class=" mt0 pt0 pb0">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-xs-24">

                <p>
                    SearchTap.io started by improving the search relevance, speed and the overall search UX. Smart
                    product filters were introduced which would change as the user typed his/her query SearchTap team
                    also configured bubble filters on top of the search results so that users had the option to refine
                    their search quickly without reloading the page.
                </p>

                <img src="/img/success-stories/bigsmall/bigsmall-search-as-you-type.gif"
                     class="img-responsive center-block shadow-case mb40 max-width">

                <img src="/img/success-stories/bigsmall/bigsmall-breadcrumbs.jpg"
                     class="img-responsive center-block shadow-case mb40 max-width">

                <p>SearchTap.io design team helped to customized the layout of the search results page on mobile. This
                    way mobile search users were now able to browse more products and had a higher chance of making a
                    purchase.</p>

                <img src="/img/success-stories/bigsmall/bigsmall-mobile-ux.JPG"
                     class="img-responsive center-block shadow-case mb40 max-width" style="width: 300px;">

                <p>SearchTap.io’s search also offered a customizable zero results page. Being a niche player, there were
                    instances where users searched for products that were not stocked. With this page, BigSmall
                    showcased new products on their store along with a link to view their best sellers instead of just
                    showing a blank page. This re-engagement was a great addition to BigSmall.
                </p>

                <img src="/img/success-stories/bigsmall/bigsmall-zero-results.jpg"
                     class="img-responsive center-block shadow-case mb40 max-width">

                <p>Aman says, “Our site search was completely transformed by the SearchTap.io team. We were very
                    impressed by how quickly they were able to deliver the new search for our platform. The mobile
                    experience is just amazing.”</p>

            </div>

        </div>
    </div>
</section>

<section class=" pt32 pb32 mb0 _mt30">


    <div class="container">

        <div class="bg-secondary results-stats pb32 pt32 shadow-case">

            <h4 class=" text-center _600 pb0">Results</h4>

            <div class="row">
                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">35% <span
                                        class="up-arrow"></span> </span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Search Revenue </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">33% <span
                                        class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title">Pages/Session</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">27% <span class="down-arrow"></span> </span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Search bounce rate</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>

<section class=" pt32 pb32 mb32 0">


    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Impact</h4></div>
                    <hr>

                    <p class="lead _600">1. SearchTap.io’s intelligent search contributed more than 50% of overall
                        website revenue as compared to 37% earlier


                    </p>

                    <img src="/img/success-stories/bigsmall/bigsmall-conversions-ecommerce.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">
                    <img src="/img/success-stories/bigsmall/bigsmall-conversions-ecommerce2.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                    <p class="lead _600">2. Pages/Session grew by 33% for visitors who were engaged with search

                    </p>

                    <img src="/img/success-stories/bigsmall/bigsmall-audience-overview.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">
                    <img src="/img/success-stories/bigsmall/bigsmall-audience-overview2.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                    <p class="lead _600">3. Search experience was improved massively and resulted in the Search Bounce
                        Rate lowering by 27% and %Exit Rates falling by 25%
                    </p>

                    <img src="/img/success-stories/bigsmall/bigsmall-behaviour-overview.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                    <img src="/img/success-stories/bigsmall/bigsmall-behaviour-overview2.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Boost conversions with SearchTap.io</h4></div>
                    <hr>


                    <p>Aman goes on to add, “We had massively underutilized our site search. The SearchTap.io team had
                        some great ideas about how we could improve visitor engagement and search conversions. Thanks to
                        their experience with brands and online stores, they were able to enhance our website’s search
                        experience and conversions. SearchTap.io completely exceeded our expectation of what an
                        e-commerce search can achieve.”
                    </p>

                </div>

                <div class="bottom-strip">
                    <div class="col-sm-12">

                        <p class="text-center mb0">
                            Increase search revenue on your eCommerce site with SearchTap <a
                                    class="btn btn-filled mb0 ml20" href="/request-demo">Get a
                                personalized demo</a></p>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>


