---
id: 2
title: Glen India Case Study - SearchTap
description:
layout: success-stories-main
permalink: success-stories/glen/
---

<section class=" mt10 pt0 pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-xs-24">

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">About Glen Appliances

                        </h4></div>
                    <hr>
                    <p>
                        Established in 1999, Glen Appliances is one of India’s leading home &amp; kitchen appliance
                        brand. With their excellent products and unmatched customer service, they have established a
                        huge retail presence across India. To capitalize on the growing e-commerce trend Glen Appliances
                        setup their own online store in 2015 to offer their products directly to customers.

                    </p>


                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">What made site search difficult on Glen</h4></div>
                    <hr>

                    <p>
                        Glen’s default site search was bare bones and was primarily used by employees and the internal
                        sales team rather than the customers. The search only worked on product SKU IDs which only
                        appealed to a very small set of website visitors who had already shortlisted a particular model.
                        What made matters worse was that search had no typo tolerance either which caused a lot of zero
                        result searches on the site. Users were left with the choice of either navigating the site
                        through its many product categories to find their desired product or exit the site.
                    </p>
                    <p>Ajay Khanda, CEO at Glen Appliances explains “We assumed that customers would be able to navigate
                        the site effectively using the website navigation. We were ignorant of how important a
                        well-implemented e-commerce search would be for our platform. After talking with SearchTap.io,
                        we recognized that we were losing out on potential sales so wanted to turn things around fast.”
                    </p>
                </div>


                <!--end of post snippet-->
            </div>


        </div>
        <!--end of container row-->
    </div>
    <!--end of container-->
</section>

<section class=" mt0 pt0 pb0" style="width: 100%">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-xs-24">

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">How SearchTap.io built Glen India’s search
                        </h4></div>
                    <hr>

                </div>

                <p>
                    Since the search was underutilized and not a contributor to the store’s revenue, it was not high on
                    the list of priorities for Glen Appliances.


                </p>


                <div class="post-snippet mb32">


                    <img src="/img/success-stories/glen/glen-site-usage.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width">

                    <p>In the 45 day period just before SearchTap.io’s implementation Glen Appliances had only 11
                        sessions when site search was used. Because of how unoptimized the search originally was, it was
                        not surprising to see that 90% of the sessions ended in bounces.
                    </p>

                    <p>After getting in touch with SearchTap.io, however, they realized that selling to online customers
                        needed a different approach. With SearchTap.io, Glen Appliances’ online store would have an
                        innovative e-commerce search solution that would increase product findability and engage
                        customers better.
                    </p>

                    <p>The SearchTap.io team identified many opportunities for improvement for the search. The ones that
                        made the biggest difference to Glen Appliances’ website were:
                    </p>

                    <div class="post-title">
                        <h5 class="inline-block mb10"><b>1. Search as you type</b></h5>
                    </div>

                    <p>SearchTap.io’s lightning-fast and accurate search as you type technology delivered relevant
                        results from the first keystroke. This was bolstered by SearchTap.io’s strong typo tolerance
                        feature which made sure that the search delivered results even for typos instead of a “did you
                        mean...” page. These results, along with smart and relevant filters dynamically changed as the
                        user typed in the rest of or altered their search query.
                    </p>

                    <div class="post-title">
                        <h5 class="inline-block mb10"><b>2. Search Analytics</b></h5>
                    </div>

                    <p>Since the earlier site search was neglected by Glen Appliances, they didn’t realize how valuable
                        search related analytics could be for customer insights. SearchTap.io showed them that by
                        looking at popular search terms and zero results data, the Glen Team could enrich tagging for
                        their offerings. This would go a long way in improving product findability and help conversions.

                    </p>

                    <p>These insights are now being actively used by Glen’s digital marketing team for SEO and ad
                        campaigns to target more online users. </p>

                    <div class="post-title">
                        <h5 class="inline-block mb10"><b>3. Synonyms</b></h5>
                    </div>

                    <p>During the implementation, SearchTap.io also identified certain search words that could be used
                        as synonyms like <b>“chula”</b> or <b>“choola”</b> for <b>“cooktop”</b>. Setting up synonyms and
                        tags like these helped increase product discovery for Glen Appliances.</p>


                    <img src="/img/success-stories/glen/glen-chula-search.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width">

                    <div class="post-title">
                        <h5 class="inline-block mb10"><b>4. Bubble Filters</b></h5>
                    </div>

                    <p>SearchTap.io implemented bubble filters that appeared on top of the search results. These were
                        the suggested product categories that would help users to narrow down their search quickly. As
                        this interaction would be done without any page reload, search users were less likely to abandon
                        the site. These bubble filters also changed as the search query changed to show the relevant
                        options to users.
                    </p>

                    <img src="/img/success-stories/glen/glen-breadcrumbs.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width">

                    <div class="post-title">
                        <h5 class="inline-block mb10"><b>5. Smart Dynamic Filters
                            </b></h5>
                    </div>

                    <p>SearchTap.io’s smart filters just like bubble filters adapt to the search query. For Glen
                        Appliances this was a necessary aspect of search as they had different categories relating to a
                        variety of products. They wanted only relevant filters to show when users were searching for a
                        specific item like “chimney” or “cooktop”.
                    </p>

                    <img src="/img/success-stories/glen/glen-filters.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width"
                         style="width: 400px;">


                </div>


            </div>

        </div>
    </div>
</section>

<section class=" pt32 pb32 mb0 _mt30">


    <div class="container">

        <div class="bg-secondary results-stats pb32 pt32 shadow-case">

            <h4 class=" text-center _600 pb0">Results</h4>

            <div class="row">
                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700"> &gt; 40% </span>
                        </div>
                        <div class="col-md-12 line-height17">
                             <span class=" case-study-stat-title"> Contribution to website revenue
</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700"> &gt; 2.5x </span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title">Session duration</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700"> &gt; 3x </span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Conversion rate</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>

<section class=" pt32 pb32 mb32 0">


    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Impact</h4></div>
                    <hr>

                    <p class="lead _600">1. E-commerce search users contributed 40% revenue in the first 3 months of
                        SearchTap.io implementation and had close to 3X overall conversion rate

                    </p>

                    <img src="/img/success-stories/glen/glen-conversion-ecommerce-overview.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width">

                    <p class="lead _600">2. Having an engaging site search led to a 78% lower bounce rate and 57% fewer
                        %exits from Glen India’s website

                    </p>

                    <img src="/img/success-stories/glen/glen-search-engagement.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width">

                    <p class="lead _600">3. Search user sessions on the Glen India site were 155% longer and they had
                        133% more Pages/session than the site average


                    </p>

                    <img src="/img/success-stories/glen/glen-audience-overview.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width">

                    <a href="https://www.searchtap.io/request-demo/" target="_blank">
                        <img src="/img/success-stories/story-banner.jpg" class="img-responsive center-block shadow-case mb40 max-width"></a>

                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">SearchTap.io is the complete package
                        </h4></div>
                    <hr>


                    <p>“The SearchTap.io team was very capable and delivered an amazingly fast and relevant search
                        experience for our website visitors. It’s like, having search on steroids. Working with them was
                        a real eye-opener for us as being a brick-and-mortar oriented company, we didn’t understand the
                        nuances of things which could help enhance online conversions.”</p>

                    <p>“The team’s expertise in working with B2C brands and e-commerce stores really helped us make up
                        lost ground. SearchTap.io’s product is the complete package for our store. Search now regularly
                        contributes around 40% of our website revenues,” says Ajay Khanda with a smile.

                    </p>

                </div>

                <div class="bottom-strip">
                    <div class="col-sm-12">

                        <p class="text-center mb0">
                            Increase search revenue on your eCommerce site with SearchTap <a
                                    class="btn btn-filled mb0 ml20" href="https://www.searchtap.io/request-demo/">Get a
                                personalized demo</a></p>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

