---
id: 3
title: Headphone Zone Case Study - SearchTap
description:
layout: success-stories-main
permalink: success-stories/headphonezone/
---

<section class=" mt10 pt0 pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-xs-24">

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">About Headphone Zone
                        </h4></div>
                    <hr>
                    <p>
                        Since its inception in 2010, Headphone Zone has become India’s first exclusive online store
                        for headphones, earphones and personal audio devices.

                    </p>

                    <p>Headphone Zone was born out of Raghav Somani’s realization that most big retailers had little
                        to no understanding of electronic accessories such as headphones or earphones and consumers
                        had few options. The site deals with 100% genuine audio accessories and has even set up a
                        community to better understand and explain their passion for a good pair of headphones.
                    </p>

                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Challenge
                        </h4></div>
                    <hr>

                    <p>
                        The Headphone Zone team was not happy with their existing e-commerce search solution. They
                        were using Searchanise and had received many complaints about the lack of filters on the
                        search results page which made refining results quite difficult. This was especially true
                        for mobile devices which contributed to over 60% of their revenues. The team had also been
                        unable to customize the search result page design which was of great importance for a niche
                        player like them.
                    </p>

                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block"> SearchTap.io’s role in HeadPhone Zone’s search
                        </h4></div>
                    <hr>

                    <p>
                        “Improving our site search had been on our mind for some time,” Kamna Karamchandani, Digital
                        Marketer at Headphone Zone tells us. “The Searchanise search solution we had did not offer
                        us much in the way of customization. Since we had clear goals in mind about how we wanted to
                        improve our search we were in talks with other search service providers. While some
                        solutions were not offering the customizations we were looking for others had a higher price
                        than we anticipated. We didn’t think we’d get an ideal search solution until we spoke to
                        SearchTap.io.”

                    </p>


                </div>
            </div>

        </div>
    </div>
</section>


<section class=" mt0 pt0 pb0">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-xs-24">

                <div class="post-snippet mb32">

                    <p>The Headphone Zone team explained these issues to SearchTap.io. <b>Firstly,</b> they wanted
                        to add filters to the search results page which was something they were not able to provide
                        their customers with Searchanise. <b>Secondly,</b> they wanted to improve the search
                        relevance. And thirdly, they wanted to customize the search results page to effectively
                        communicate about product specifications and variants available to the customer.

                    </p>

                    <p>Tackling the search results page layout first, the SearchTap.io team collaborated with the
                        Headphone Zone team to create a search page that would be a good fit for the website. They
                        wanted to convey a lot of information like warranty, O/S compatibility, sound signature,
                        alternate buying options and colour options among other information. The challenge was to
                        make all this information available to the shopper without being overbearing.
                    </p>

                    <img src="/img/success-stories/headphonezone/headphonezone-product.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width" style="max-width: 300px;">

                    <p>With the search results design finalized, the SearchTap.io team implemented their
                        lightning-fast search as you type technology. Using SearchTap’s superior language modelling,
                        Headphone Zone’s search was now able to return relevant results right from the first
                        keystroke.
                    </p>

                    <img src="/img/success-stories/headphonezone/headphonezone-search-as-you-type.gif"
                         class="img-responsive center-block shadow-case mb40 max-width">

                    <p>SearchTap.io then resolved the lack of filters with Headphone Zone’s site search. Smart
                        dynamic filters were configured which updated automatically to show relevant options as
                        users typed in their search query. Visitors to the e-commerce store could make use of these
                        filters to quickly refine their search without leaving the search page. SearchTap.io also
                        worked closely with the Headphone Zone team to implement these filters to enrich the mobile
                        user search experience keeping in mind the Headphone Zone’s visual design and UX/UI
                        guidelines.
                    </p>

                    <p>The Headphone Zone team wanted more space for products to appear on the search page which
                        meant using up space meant for filters on desktop devices. The SearchTap.io team moved the
                        filters above the products to maximise the design space for a better UI/UX. Filter options
                        would appear as soon as a user hovered over them keeping in theme with the rest of the menus
                        on the site.
                    </p>

                    <img src="/img/success-stories/headphonezone/headphonezone-filters.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width">

                    <p>“There is a huge contrast between Searchanise’s customer support and SearchTap.io. The
                        SearchTap.io team was incredibly helpful and open to our ideas. The onboarding process was a
                        breeze,” Kamna said.
                    </p>

                </div>


            </div>

        </div>
    </div>
</section>

<section class=" pt32 pb32 mb0 _mt30">


    <div class="container">

        <div class="bg-secondary results-stats pb32 pt32 shadow-case">

            <h4 class=" text-center _600 pb0">Results</h4>

            <div class="row">
                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                                <span class="text-green font-size34 inline-block _700">37%   <span
                                            class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                             <span class=" case-study-stat-title">Search revenue
</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                                <span class="text-green font-size34 inline-block _700">22%  <span
                                            class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title">Search click-through rate</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                                <span class="text-green font-size34 inline-block _700">76%  <span
                                            class="down-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Search bounce rate</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>

<section class=" pt32 pb32 mb32 0">


    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Impact</h4></div>
                    <hr>

                    <p class="lead _600">1. 37% increase in search revenue and 39% increase in search transactions
                        within days of SearchTap.io going live
                    </p>

                    <img src="/img/success-stories/headphonezone/hpz-conversions-ecommerce-overview.jpg"
                         class="img-responsive center-block shadow-case mb40 blur max-width">
                    <img src="/img/success-stories/headphonezone/hpz-conversions-ecommerce-overview2.jpg"
                         class="img-responsive blur center-block shadow-case mb40 max-width">

                    <p class="lead _600">2. Headphone Zone’s new mobile search was a success with a 61% increase in
                        mobile revenue

                    </p>

                    <img src="/img/success-stories/headphonezone/hpz-audience-mobile.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width blur">
                    <img src="/img/success-stories/headphonezone/hpz-audience-mobile2.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width blur">

                    <p class="lead _600">3. Instant search results helped reduce in search bounce rate by 76%

                    </p>

                    <img src="/img/success-stories/headphonezone/hpz-behaviour-site-search-usage-comparison.jpg"
                         class="img-responsive center-block shadow-case mb40 blur max-width">

                    <p class="lead _600">4. SearchTap.io’s interactive design improved search click-through rate by
                        22%</p>

                    <img src="/img/success-stories/headphonezone/hpz-conversions-ecommerce-product-performance.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width blur">
                    <img src="/img/success-stories/headphonezone/hpz-conversions-ecommerce-product-performance2.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width blur">


                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Conclusion</h4></div>
                    <hr>


                    <p>Kamna goes on to say “The SearchTap.io team are quick to respond and have considerable
                        expertise in dealing with Shopify based e-commerce stores. Product findability has increased
                        by a huge margin and conversions have improved for our store. Customers are in love with how
                        smooth search as you type works on our site. The new search has revitalized our customer
                        experience, especially on mobile. With the help of filters, our customers finally have the
                        full ease and convenience of an e-commerce search.

                    </p>

                    <p>“Working with SearchTap.io has been a phenomenal experience,” said Raghav Somani, Founder at
                        HeadPhoneZone.
                    </p>


                </div>


                <div class="bottom-strip">
                    <div class="col-sm-12">

                        <p class="text-center mb0">
                            Increase search revenue on your eCommerce site with SearchTap <a
                                    class="btn btn-filled mb0 ml20" href="/request-demo">Get
                                a personalized demo</a></p>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>