---
id: 5
title: Jewelmaze Case Study - SearchTap
description:
layout: success-stories-main
permalink: success-stories/jewelmaze/
---

<section class=" mt10 pt0 pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-xs-24">

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">About JewelMaze</h4></div>
                    <hr>
                    <p>
                        In 2016, Mr Ritesh Barbhaya started JewelMaze - India’s first vertically integrated Fashion
                        jewellery marketplace. They are one of India’s most prominent and trusted e-commerce platform
                        for high-quality affordable fashion jewellery which connects consumers with manufacturers,
                        resellers, exporters, and designers on their platform. Their product range includes the largest
                        collection of traditional as well as fusion Indian jewellery.

                    </p>
                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Challenge
                        </h4></div>
                    <hr>

                    <p>
                        JewelMaze had set up their store on Shopify and were looking for ways to improve conversions
                        from the existing traffic without increasing marketing spend. While Shopify did provide them
                        with a great platform to manage an e-commerce business, it underperformed in areas like site
                        search which was affecting profitability.


                    </p>

                    <p>After talking to SearchTap.io, they saw how much money they were leaving on the table because of
                        the poor search solution which they were using. Moreover, they had no insights on search data
                        and which searches were leading to zero results.</p>

                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">SearchTap.io’s role in improving the JewelMaze’s
                            e-commerce search


                        </h4></div>
                    <hr>

                    <p>
                        “We were under the impression that site search was just a navigational tool but after talking to
                        SearchTap.io, we re-evaluated its function for our eCommerce store. We were excited to
                        understand how improving the search could help our company,” explains Amina Khan, E-commerce
                        Head at JewelMaze.


                    </p>

                </div>
            </div>
        </div>
    </div>
</section>


<section class=" mt0 pt0 pb0">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-xs-24">

                <div class="post-snippet mb32">

                    <p>Having more than 8,000 offerings, the JewelMaze team now wanted a search solution that could
                        overcome the limitations that they were facing with the default Shopify search. They had
                        realised that the default Shopify search could not offer custom filters which were vital for
                        their website visitors.

                    </p>

                    <p>Once JewelMaze had seen SearchTap.io’s ultra-fast search as you type and dynamic filters in
                        action, they were eager to see the improvement these changes would have on the site. The search
                        as you type technology would also have strong typo tolerance and synonyms support which could
                        help overcome an important shortcoming of the old search.
                    </p>

                    <img src="/img/success-stories/jewelmaze/new-mobile-photo.PNG"
                         class="img-responsive center-block shadow-case mb40 max-width"  style="width: 300px;">

                    <p>Once implemented, SearchTap.io’s smart filters worked well on desktops as well as on mobile
                        devices which resulted in a seamless shopping experience. Search users would always see relevant
                        options along with the number of products available thanks to the filters altering to the search
                        query. These efforts helped to increase engagement with search users and keep them on the site
                        for longer.</p>


                    <img src="/img/success-stories/jewelmaze/jm_mobile_vid.gif"
                         class="img-responsive center-block shadow-case mb40 max-width">

                    <p>The new search bar came with its own set of analytics which showed data like the top searched
                        terms collected by it. Custom Google Analytics events were also set up with assistance from
                        SearchTap.io team on the JewelMaze Analytics account that captured other shopper interactions
                        like most commonly used filters. With insights like these, JewelMaze was able to revamp their
                        sales and marketing strategies with better targeting and products.</p>

                    <img src="/img/success-stories/jewelmaze/jewelmaze-events.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width" style="width: 250px;">

                    <p>“We had no idea that search could be such an integral part of the e-commerce store. The
                        SearchTap.io team was extremely helpful and motivated which really simplified the onboarding
                        process,” Amina said about her experience with SearchTap.io.

                    </p>


                </div>


            </div>

        </div>
    </div>
</section>

<section class=" pt32 pb32 mb0 _mt30">


    <div class="container">

        <div class="bg-secondary results-stats pb32 pt32 shadow-case">

            <h4 class=" text-center _600 pb0">Results</h4>

            <div class="row">
                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">20%  <span
                                        class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                             <span class=" case-study-stat-title">Search Conversion Rate
</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">50%  <span class="down-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                             <span class=" case-study-stat-title">Total Search exits
</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">40% <span class="down-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Average bounce rate </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>

<section class=" pt32 pb32 mb32 0">


    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Results after SearchTap.io implementation</h4>
                    </div>
                    <hr>

                    <p class="lead _600">1. Search conversion rate increased by 20%</p>

                    <img src="/img/success-stories/jewelmaze/jewelmaze-conversion-ecommerce-overview.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                    <p class="lead _600">2. SearchTap.io kept JewelMaze visitors engaged as %Search Exits decreased by
                        50%
                    </p>

                    <img src="/img/success-stories/jewelmaze/jewelmaze-behaviour-site-search-overview.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                    <p class="lead _600">3. Search Bounce Rate was 40% lower as compared to all users which bounced off

                    </p>

                    <img src="/img/success-stories/jewelmaze/jewelmaze-audience-overview.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">


                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Conclusion</h4></div>
                    <hr>


                    <p>Ritesh says, “When we were talking with the SearchTap.io team, we were quite impressed with their
                        experience working with online retail and brand stores. It was one of the reasons that made it
                        easier to partner with them. Our search is now better than ever and now delivers accurate search
                        results within milliseconds. The new filters they have implemented have improved the search
                        experience on our store tremendously. They are a great change of pace from the restrictive
                        Shopify search experience. Our experience working with them has been quite amazing.”
                    </p>


                </div>


                <div class="bottom-strip">
                    <div class="col-sm-12">

                        <p class="text-center mb0">
                            Increase search revenue on your eCommerce site with SearchTap <a
                                    class="btn btn-filled mb0 ml20" href="/request-demo">Get a
                                personalized demo</a></p>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
