---
id: 8
title: Mamaearth Case Study - SearchTap
description:
layout: success-stories-main
permalink: success-stories/mamaearth/
---


<section class=" mt10 pt0 pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-xs-24">
                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">About MamaEarth
                        </h4></div>
                    <hr>
                    <p>
                        A brand for the parent by a parent. Founded in 2016 by Varun and Ghazal Alagh, New Delhi-based Mamaearth has developed close to 70 toxin-free products for mother and baby personal care including innovative products like protective repellents and oral care products. They aim to make products that can meet even the most stringent international standards. They also sell pre-natal and post-natal products for mothers and recently launched a range of personal care products in men’s grooming for fathers. They plan to become a 100-cr brand within the next 3 years.


                    </p>

                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Challenge
                        </h4></div>
                    <hr>

                    <p>
                        With the aim to increase sales and conversions on their site, the Mamaearth team wanted to optimize every aspect of their site so that visitors on their site, new or returning, would have the best search experience. They had encountered some difficulty optimizing their site search.

                    </p>

                    <p>“We were not able to get what we wanted from the WooCommerce search. We wanted custom filters and CTAs on our site search but the lack of customizations was a big hindrance,” explained Gaurav Singh, Growth Manager at Mamaearth. He continues, “We decided to use a third-party solution as our tech team lacked the expertise to craft a superb e-commerce search. When we saw SearchTap’s product demo we knew that this was what we were looking for.”

                    </p>

                </div>


            </div>
        </div>
    </div>
</section>

<section class=" mt0 pt0 pb0">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-xs-24">

                <div class="post-snippet mb32">
                    <div class="post-title"><h4 class="inline-block">SearchTap’s impacts on Mamaearth site search

                        </h4></div>
                    <hr>

                    <p>
                        The Mamaearth team was receiving many complaints about poor search relevance and many zero search results. SearchTap realized that the limited typo tolerance of the default WooCommerce search was one of the contributing factors of the poor search experience. With this as a good starting point, SearchTap implemented its speedy search-as-you-type technology with strong typo tolerance and language modelling. This ensured that visitors using search would get relevant results from the first keystroke.

                    </p>

                    <img src="/img/success-stories/mamaearth/mamaearth-search-as-you-type.gif"
                         class="img-responsive center-block shadow-case mb40 max-width">

                </div>

                <div class="post-snippet mb32">

                    <p>
                        The Mamaearth team was receiving many complaints about poor search relevance and many zero search results. SearchTap realized that the limited typo tolerance of the default WooCommerce search was one of the contributing factors of the poor search experience. With this as a good starting point, SearchTap implemented its speedy search-as-you-type technology with strong typo tolerance and language modelling. This ensured that visitors using search would get relevant results from the first keystroke.

                    </p>

                    <img src="/img/success-stories/mamaearth/mamaearth-mobile-filter.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width400">

                </div>

                <div class="post-snippet mb32">

                    <p>
                        An “Add to Cart” call-to-action (CTA) was added to the search result listing to simplify the purchase journey on both desktop and mobile. This made it easier for Mamaearth to capitalize on the purchase intent of its shoppers.

                    </p>

                    <img src="/img/success-stories/mamaearth/mamaearth-card.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width400">

                </div>

                <div class="post-snippet mb32">

                    <p>
                        The Mamaearth team was overlooking its search analytics so SearchTap helped them set up site Search Analytics on Google Analytics along with SearchTap’s analytics. This resource gave Mamaearth more insight into their customers than ever before and is being studied by their marketing team for improving the product tagging and attributes.

                    </p>

                    <p>“The SearchTap team delivered a search user experience that was just fantastic. They were able to incorporate so many customizations that we wanted into their product. Now our e-commerce search is responsive and helps our store stand out from the rest,” says Gaurav.

                    </p>

                </div>

            </div>

        </div>
    </div>
</section>

<section class=" pt32 pb32 mb0 _mt30">


    <div class="container">

        <div class="bg-secondary results-stats pb32 pt32 shadow-case">

            <h4 class=" text-center _600 pb0">Results</h4>

            <div class="row">
                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">10x <span
                                        class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title">Search Conversions
 </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">10x <span
                                        class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Search Transactions
 </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">11x <span class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Search Users </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>

<section class=" pt32 pb32 mb32 0">


    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Impact</h4></div>
                    <hr>

                    <p class="lead _600">1. 10x Increase in Search Revenue Contribution & Transactions

                    </p>

                    <img src="/img/success-stories/mamaearth/MME-Conversion-Ecommerce-Prod_Perf-OLD-blur.png"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                    <img src="/img/success-stories/mamaearth/MME-Conversion-Ecommerce-Prod_Perf-ST-blur.png"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                    <p class="lead _600">2. 11x Increase in search users after SearchTap

                    </p>

                    <img src="/img/success-stories/mamaearth/MME-Audience-Overview-OLD-blur.png"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                    <img src="/img/success-stories/mamaearth/MME-Audience-Overview-ST-blur.png"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Conclusion</h4></div>
                    <hr>

                    <p>
                        Gaurav went on to say, “The implementation of the new search was a real eye-opener for our team. We were also able to improve our website SEO thanks to SearchTap’s search analytics. Our customers were blown away by the new search on our site and we could see the results immediately. We could have never even guessed that search would be such an important asset to us. The SearchTap team did a great job!”

                    </p>

                </div>

                <div class="bottom-strip">
                    <div class="col-sm-12">
                        <p class="text-center mb0">
                            Increase search revenue on your eCommerce site with SearchTap <a
                                    class="btn btn-filled mb0 ml20" href="/request-demo">Get a
                                personalized demo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
