---
id: 6
title: Suta Case Study - SearchTap
description:
layout: success-stories-main
permalink: success-stories/suta/
---

<section class=" mt10 pt0 pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-xs-24">

                <div class="post-snippet mb32">
                    <div class="post-title"><h4 class="inline-block">About Suta</h4></div>
                    <hr>
                    <p>
                        Launched in 2016, Suta was the brainchild of sisters Sujata and Taniya Biswas. They had the dream of reinstating the traditional saree as the go-to daily wear. Handcrafted by over 50 weavers from across the country, their sarees always come with a unique personal touch. Over the last few years, the Suta brand has become well-established in the traditional Indian wear segment.  Su and Ta express it best when they say “We make sarees that a 3-year-old to a 100-year-old can drape. It’s fuss-free.”

                    </p>
                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Challenge
                        </h4></div>
                    <hr>

                    <p>
                        The Suta store needed a curated search to match the level of care they had for their sarees. Site visitors often complained of
                        irrelevant or zero results and the team at Suta were losing out on potential sales.

                    </p>
                    <p>“Search was not something our team had much
                        experience in so we were using the default Shopify search,” explains Raksha Rane from the Suta team. Suta was aware that a good
                        search experience was crucial to improving their sales. “We realized we had to turn things around without losing any more time,”
                        she continued.

                    </p>

                    <div class="post-snippet mb32">

                        <div class="post-title"><h4 class="inline-block">SearchTap’s Role in improving Suta’s eCommerce search

                            </h4></div>
                        <hr>

                    </div>

                    <p>The most common problem that comes with the default Shopify search is the poor search experience on mobile.
                        Delivering a good search UX/UI for mobile is one of the first steps that we worked on with Suta. The new customized
                        UX/UI made the search bar more accessible. Visitors would now be able to access the search with ease. As a result,
                        this improved the number of visitors making use of the brand new and powerful search.

                    </p>

                </div>
            </div>
        </div>
    </div>
</section>


<section class=" mt0 pt0 pb0">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-xs-24">



                <img src="/img/success-stories/suta/suta-home.jpg"
                     class="img-responsive center-block shadow-case mb40 max-width">


                <p>After the SearchTap implementation, search users would also see mobile app-like filters. These filters
                    helped them narrow down to the products they wanted to see within milliseconds. These filters also didn’t need any
                    reload time either and would be applied instantly. And unlike the default Shopify filters, Suta was able to create
                    customized filters to simplify the purchase journey. These Smart Dynamic Filters a great way to ease the navigation of
                    store visitors across devices.

                </p>

                <img src="/img/success-stories/suta/suta-mobile-search.gif"
                     class="img-responsive center-block shadow-case mb40 max-width" style="width: 300px;">

                <p>
                    Search results were delivered faster with SearchTap’s search-as-you-type technology. This featured a strong typo-tolerance
                    algorithm that showed relevant results instead of a “did you mean” page in case of simple typos. This resulted in the search
                    users having an uninterrupted shopping experience. Streamlining this process helped decrease the bounce rate for the store,
                    especially on mobile. By removing the need for the search results page to reload again and again, the search bounce rate reduced.


                </p>


                <img src="/img/success-stories/suta/avatar2.gif"
                     class="img-responsive center-block shadow-case mb40 max-width">

                <p>
                    The best part was that the search-as-you-type worked in conjunction with smart dynamic filters.
                    This meant that filters would update to the most relevant options automatically. This made the customer journey as seamless as possible as well as reduced the chances of zero-result pages.


                </p>


                <img src="/img/success-stories/suta/suta-filters.gif"
                     class="img-responsive center-block shadow-case mb40 max-width" style="width: 500px;">

                <p>
                    SearchTap is also compatible with Shopify’s default currency converter. Prices in the search results pages would change
                    based on the client location. These results also showed up within the blink of an eye.

                </p>


                <img src="/img/success-stories/suta/prices-2.png"
                     class="img-responsive center-block shadow-case mb40 max-width" style="width: 300px;">

                <p>
                    Raksha says, “I am amazed at the speed with the search speed and experience. The implementation
                    was also extremely easy thanks to the SearchTap team.”


                </p>


            </div>

        </div>
    </div>
</section>

<section class=" pt32 pb32 mb0 _mt30">


    <div class="container">

        <div class="bg-secondary results-stats pb32 pt32 shadow-case">

            <h4 class=" text-center _600 pb0">Results</h4>

            <div class="row">
                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">86%
                               <span class="down-arrow"><img src="/img/green-up-arrow.svg"></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Search revenue </span>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">67% <span class="down-arrow"><img src="/img/green-up-arrow.svg"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title">Mobile search users</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">78%
                           <span class="arrow-red" style="width: 20px; height: 15px; display: inline-block;">
                                                        <img src="/img/red-down-arrow.svg" class="img-responsive"> </span>
                            </span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Search bounce rate</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>

<section class=" pt32 pb32 mb32 0">


    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Impact</h4></div>
                    <hr>

                    <p class="lead _600">1. 86% increase in Search revenue contribution & 92% increase in Search-led Transactions



                    </p>

                    <img src="/img/success-stories/suta/eCommerce-Overview.png"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">


                    <p class="lead _600">2. 67% rise in Mobile Search Users & 75% increase in revenue through Mobile Search Users


                    </p>

                    <img src="/img/success-stories/suta/Audience-Mobile-Overview.png"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">


                    <p class="lead _600">3. 78% drop in Search Bounce Rate & 72% growth in Search Users

                    </p>

                    <img src="/img/success-stories/suta/Audience-Overview.png"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">



                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Conclusion
                        </h4></div>
                    <hr>


                    <p>Sujata and Taniya love the new site search, “We saw a positive impact from day one. We don’t think our old search could even come close to matching what we’ve seen with SearchTap. Our engagement metrics have seen a big uptick since we improved our search and now our site search has a very meaningful impact on our revenues.”

                    </p>

                </div>

                <div class="bottom-strip">
                    <div class="col-sm-12">

                        <p class="text-center mb0">
                            Increase search revenue on your eCommerce site with SearchTap <a
                                    class="btn btn-filled mb0 ml20" href="/request-demo">Get a
                                personalized demo</a></p>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>


