---
id: 3
title: The Man Company Case Study - SearchTap
description:
layout: success-stories-main
permalink: success-stories/themancompany/
---


<section class=" mt10 pt0 pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-xs-24">
                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">About The Man Company</h4></div>
                    <hr>
                    <p>
                        Launched in 2015 by Parvesh Bareja, Hitesh Dhingra and Bhisham Bhateja, The Man Company sought to fill the gap present in the
                        Indian Male Grooming space. Since then they have grown to become one of the market leaders in this segment.
                        Many investors also see their potential and have backed up their trust in this venture by frequent rounds of funding.
                    </p>
                    <p> TMC’s product range is aimed to please the increasingly self-aware Indian men with facewashes, fragrances,
                        and bath soaps among others specially made for men.
                        They also take care to make paraben & SLS free products.
                    </p>
                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Challenge
                        </h4></div>
                    <hr>

                    <p>
                        With the growing scope of the men grooming industry in India, market leader The Man Company wanted to keep
                        its edge. While they had established an offline presence as well, they are at heart an eCommerce first
                        business and continually looking to grow online. They were looking at ways to optimize the customer experience
                        on their website even further. After the TMC team spoke with SearchTap, they recognized that their store’s search
                        could be improved on.

                    </p>

                </div>

                <div class="post-snippet mb32">
                    <div class="post-title"><h4 class="inline-block">How SearchTap helped
                        </h4></div>
                    <hr>

                    <p>
                        Atul Jain, Business Head of eCommerce at The Man Company explains, “We wanted to make
                        the purchase journey easier and since our previous solution was not offering many
                        customizations we were looking for alternatives. SearchTap's speed and customizability
                        looked to be a good fit.” To start with the SearchTap & TMC teams worked to give a unique
                        look to the search box and results page on desktop and mobile.


                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class=" mt0 pt0 pb0">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-xs-24">

                <div class="post-snippet mb32">



                    <img src="/img/success-stories/themancompany/search-results-page.PNG"
                         class="img-responsive center-block shadow-case mb40 max-width">

                    <p>This made the search bar more easily accessible for visitors coming on to the TMC store. The product
                        layout on this page was also customized to give out the most detailed information to shoppers and giving
                        them the option to complete their purchase quickly.
                    </p>

                    <img src="/img/success-stories/themancompany/prod-layout.PNG" class="img-responsive center-block shadow-case mb40 max-width">

                    <p>Major customization came with the personalized filters for the store. SearchTap’s Smart Dynamic
                        Filters could allow TMC to include any number of filter that they wanted. Filters with specific use cases
                        were now possible and this made shopping on the store effortless for search users.

                    </p>



                    <img src="/img/success-stories/themancompany/filters.PNG" class="img-responsive center-block shadow-case mb40 max-width400">

                    <p>These filters are also very responsive and automatically change as visitors types in their search query.
                        Along with a strong typo-tolerant search, this meant that visitors would be able to find relevant products faster.
                        Our Search-as-you-type technology also delivered search results in the blink of an eye making the search experience
                        even more seamless. Superior language modelling made sure that TMC search users would be able to see relevant results
                        from the first keystroke

                    </p>

                    <img src="/img/success-stories/themancompany/tmc-mob-vid_Trim.gif" class="img-responsive center-block shadow-case mb40 max-width400">

                    <p>If any customer would search a product that wasn’t offered by TMC, SearchTap’s customized no-results page showed popular categories instead
                        of showing a blank page. This meant that these users could further interact with the site and might find something else that they like.

                    </p>


                    <img src="/img/success-stories/themancompany/tmc-n.png" class="img-responsive center-block shadow-case mb40 max-width400">

                    <p>Finally, with search analytics from SearchTap, TMC also got to know about popular and zero-result search terms. This insight was important to strengthen their SEO and marketing along with improving the relevance of search results on their store.

                    </p>





                </div>


            </div>

        </div>
    </div>
</section>

<section class=" pt32 pb32 mb0 _mt30">


    <div class="container">

        <div class="bg-secondary results-stats pb32 pt32 shadow-case">

            <h4 class=" text-center _600 pb0">Results</h4>

            <div class="row">
                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">26% <span
                                        class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title">Search revenue </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">36% <span
                                        class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Mobile Search Users
 </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">13% <span
                                        class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Conversion Rate </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>

<section class=" pt32 pb32 mb32 0">


    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Impact</h4></div>
                    <hr>

                    <p class="lead _600">1. 26% rise in search-led revenue & 43% increase in transactions by Search Users

                    </p>

                    <img src="/img/success-stories/themancompany/eCommerce-Overview.PNG"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">

                    <p class="lead _600">2. 36% growth in Mobile Search Users & 13% increase in Mobile Conversion Rate
                    </p>

                    <img src="/img/success-stories/themancompany/Audience-Mobile-Overview.PNG"
                         class="img-responsive center-block shadow-case mb40 max-width-1000">


                    <p>
                    </p>

                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Conclusion</h4></div>
                    <hr>

                    <p>
                        “We’re very happy working with SearchTap, our mobile search experience is now better than ever. The customizations they offered were exactly what we were looking for,” continued Atul.
                    </p>

                </div>

                <div class="bottom-strip">
                    <div class="col-sm-12">
                        <p class="text-center mb0">
                            Increase search revenue on your eCommerce site with SearchTap <a
                                    class="btn btn-filled mb0 ml20" href="/request-demo">Get a
                                personalized demo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
