---
id: 1
title: Urbanmonkey Case Study - SearchTap
description:
layout: success-stories-main
permalink: success-stories/urbanmonkey/
---


<section class=" mt10 pt0 pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-xs-24">
                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">About Urban Monkey</h4></div>
                    <hr>
                    <p>
                        Urban Monkey is India’s leading platform for the underground street culture of India. Keeping in
                        line with this radical philosophy Urban Monkey brings together unique designs and India’s
                        burgeoning Alternate movement. They take pride in being an all vegetarian brand, meaning no
                        animals are harmed or used in the production of their wares. Their ALT Star initiative, where
                        Alternate artists and athletes co-exist, share their stories and experiences, also has a large
                        social media following.
                    </p>
                    <p>Since the team also wanted to have a real social impact, they contribute 4% of their revenues to
                        directly educate the underprivileged children.
                    </p>
                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Challenge
                        </h4></div>
                    <hr>

                    <p>
                        As an upcoming brand, Urban Monkey was having a tough time trying to optimize their search. The
                        site search was not performing up to the mark and conversions were suffering because of it. With
                        constantly varying inventory, they wanted a solution that would take care of data syncing
                        automatically. Aakash, Digital Marketing Head at Urban Monkey, goes on to say “We had a lot of
                        things on our plate and unfortunately improving our search kept getting pushed back. On top of
                        that, we did not have the expertise required to build a fantastic e-commerce search from the
                        ground up.

                    </p>

                </div>

                <div class="post-snippet mb32">
                    <div class="post-title"><h4 class="inline-block">How SearchTap.io helped Urban Monkey
                        </h4></div>
                    <hr>

                    <p>
                        The Urban Monkey team were having a negative outcome using the default Shopify search. Customers
                        were bouncing off after search usage which is the hallmark of bad user experience and
                        customizing it wasn’t an option. When they realised that this was also getting in the way of
                        maximization their revenues, SearchTap.io came on board. The biggest hurdles for this that the
                        SearchTap.io team realized were loading times, no filters and the lack of typo tolerance.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class=" mt0 pt0 pb0">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-xs-24">

                <div class="post-snippet mb32">

                    <p>Since search users are typically closer to making a purchase, they are more likely to exit a site
                        when they are not shown relevant results. With a strong typo tolerance and search filters,
                        SearchTap.io was able to keep these customers on site longer and helped them convert better.
                    </p>

                    <img src="/img/success-stories/urbanmonkey/urbanmonkey-search-as-you-type.gif"
                         class="img-responsive center-block shadow-case mb40 max-width">

                    <p>After integrating SearchTap, relevant results started appearing within milliseconds of Urban
                        Monkey customers typing in the search bar with SearchTap.io’s search as you type and language
                        modelling technology. Smart filters were also set up so that they would appear as per the user
                        search term. All this helped users to search and get to exact results without wasting any
                        time.</p>

                    <img src="/img/success-stories/urbanmonkey/urbanmonkey-breadcrumbs.jpg" class="img-responsive center-block shadow-case mb40 max-width">

                    <p>With SearchTap.io’s live-indexing, Urban Monkey’s catalogue was kept up to date in real-time. Its
                        auto-sync capabilities instantly capture any changes in price, product modification, and
                        inventory updates. This ensured that visitors to the Urban Monkey website would always see the
                        latest offerings at all times. This helped to significantly reduce the exit rates for the store.
                    </p>

                    <p>SearchTap.io also helped to improve the mobile search experience working closely with the Urban
                        Monkey team. SearchTap.io implemented smart filters on mobile which looked like a native app so
                        that mobile users could refine their searches with ease.
                    </p>

                    <img src="/img/success-stories/urbanmonkey/urbanmonkey-mobile-ux.jpg" class="img-responsive center-block shadow-case mb40 max-width">

                    <p>SearchTap.io also allowed the Urban Monkey team to customize the product listing with “Add to
                        Cart” functionality to capitalize purchase intent on the search results page itself.
                    </p>

                    <p>According to Yash, the Founder at Urban Monkey, “The speed of the new search is incredible. The
                        SearchTap.io team was willing to go above and beyond to help us customize our results page. We
                        really felt that they were a part of our team during the whole process.”
                    </p>

                </div>


            </div>

        </div>
    </div>
</section>

<section class=" pt32 pb32 mb0 _mt30">


    <div class="container">

        <div class="bg-secondary results-stats pb32 pt32 shadow-case">

            <h4 class=" text-center _600 pb0">Results</h4>

            <div class="row">
                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">3x <span
                                        class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title">Search revenue </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">3.5x <span
                                        class="up-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Page views via search </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-number">
                        <div class="col-md-12">
                            <span class="text-green font-size34 inline-block _700">25% <span class="down-arrow"></span></span>
                        </div>
                        <div class="col-md-12 line-height17">
                            <span class=" case-study-stat-title"> Mobile search bounces </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>

<section class=" pt32 pb32 mb32 0">


    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Impact</h4></div>
                    <hr>

                    <p class="lead _600">1. Close to 3x rise in Search Revenue and Transactions with SearchTap.io in the
                        first-month post go live
                    </p>

                    <img src="/img/success-stories/urbanmonkey/ub-analytics-1.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width blur">

                    <p class="lead _600">2. We saw the same story with Urban Monkey’s new mobile search - 3x growth in
                        Search Revenue and Transactions. Bounce rate also dropped by 25%.</p>

                    <img src="/img/success-stories/urbanmonkey/ub-analytics-2.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width blur">

                    <p class="lead _600">3. The new search helped engagement across the site as Bounce rates and %Exit
                        rates dropped by 22% and 8% respectively
                    </p>

                    <img src="/img/success-stories/urbanmonkey/ub-analytics-3.jpg"
                         class="img-responsive center-block shadow-case mb40 max-width blur">

                    <p>
                    </p>

                    <a href="/request-demo" target="_blank"><img src="/img/success-stories/story-banner.jpg"
                                                                                          class="img-responsive center-block shadow-case mb40 max-width"></a>

                </div>

                <div class="post-snippet mb32">

                    <div class="post-title"><h4 class="inline-block">Conclusion</h4></div>
                    <hr>

                    <p>
                        Looking forward, Aakash expects his team to make use of SearchTap.io’s custom analytics in ad
                        campaigns. “With the analytics about most popular categories, we will be able to segment our
                        customers and improve our marketing and SEO. This will be a great way to learn more about our
                        sales funnel,” he explains.</p>

                    <p>“Working with SearchTap.io team was a fantastic experience. We didn’t expect that a search
                        solution would help us improve our storefront as well. While earlier we used to see a one-off
                        sale from our search, with SearchTap.io we have search users converting more frequently than
                        ever,” Yash continues.
                    </p>
                </div>

                <div class="bottom-strip">
                    <div class="col-sm-12">
                        <p class="text-center mb0">
                            Increase search revenue on your eCommerce site with SearchTap <a
                                    class="btn btn-filled mb0 ml20" href="/request-demo">Get a
                                personalized demo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
