<div class="tags-area">
    <ul class="tags">
        <li><a href="#" class="tag">All</a></li>
        <li><a href="#" class="tag">Personalization</a></li>
        <li><a href="#" class="tag">Ecommerce Tips</a></li>
        <li><a href="#" class="tag">Analytics</a></li>

        <div class="clearfix"></div>

        <li><a href="#" class="tag">Site Search</a></li>
        <li><a href="#" class="tag">Case Studies</a></li>
    </ul>

</div>