<div class="blog-bg">
    <div class="container abt-search">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2 class="mb0 mb24 text-white">Search for
                        <span class=" _600">search</span> ends here

                    </h2>

                    <p class="lead pt6">The Official SearchTap Blog</p>

                </div>
            </div>
        </div>
    </div>
</div>
