<div class="col-md-3 hidden-sm text-dark brd-left padding-left30 ">

    <!--end of widget-->
    <!--<section class="side-blog pb0 pt0">-->
        <!--<h2 class="title mb5">BLOG CATEGORIES</h2>-->

        <!--<ul class="blog-cat">-->
            <!--<li>-->
                <!--<a href="#">All</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">Personalization</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">Ecommerce Tips</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">Analytics</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">Site Search</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="#">Case Studies</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</section>-->
    <!--end of widget-->

    <section class="side-blog pt0 pb0 ">

        <div class="mini-posts" style="max-height:370px;">

            <!-- Mini Post -->
            <article class="mini-post" style="background-color: #47b475; padding: 15px; padding-top: 20px;">

                <form name="Blog Request Demo" class="text-center form-email" id="requestDemoForm" method="POST" data-netlify="true">

                    <h2 class="mb10 text-white" style="font-size: 16px;">Looking for a personalised demo?</h2>

                    <div>

                        <div class="alert alert-success" id="leadCreated" style="display: none; border-color: #fff !important; color: #fff !important;">
                            <span class="text-center">Thank you for your interest in SearchTap. Our search experts will contact you to schedule a demo shortly!</span></div>

                        <div class="alert alert-danger" id="leadNotCreated" style="display: none; border-color: red !important; color: red !important;">
                            <span class="text-center">Please enter valid details.</span></div>

                        <input type="text" id="name" name="Name" class=" col-md-12 validate-required field-error" placeholder="Name" required />

                        <input type="hidden" name="Country Code" id="country_code" />
                        <div class="intl-tel-input allow-dropdown separate-dial-code iti-sdc-2">

                            <input type="tel" id="number" name="phone" class="col-md-12 validate-required field-error"
                                   placeholder="Phone" required autocomplete="off" />
                        </div>

                        <input type="email" id="email" name="Email" class="bg-none col-md-12 mt8 validate-required" placeholder="Company Email" required />

                        <div data-netlify-recaptcha="true"></div>

                        <div class="col-md-12">
                            <button type="submit" id="requestDemoFormSubmit"
                                    style=" border-radius:4px !important; border-color:#fff !important; margin-top: 8px;">
                                Schedule demo
                            </button>
                        </div>

                    </div>

                </form>

            </article>

        </div>
    </section>


</div>