<%- partial('leave-a-message') %>

<footer class="footer-1 bg-dark pt32 pb24">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 hidden-xs">
                <img alt="SearchTap Logo" class="logo" style="padding-left: 0px" src="https://d33wubrfki0l68.cloudfront.net/7a716390470701cd7981d0c583bf45f46c3fe227/9304a/img/searchtap_logo.png">

                <p class="text-muted" style="color: #d3d3d3;">It is a subscription based search solution for
                    websites (eCommerce, Media and Publishing),
                    mobile applications and enterprise softwares ...
                    <%- link_to('features', "Learn More") %>
                </p>

                <img src="https://d33wubrfki0l68.cloudfront.net/99cf1887e59fa827c550021d98aa1406caba6ce9/835f3/img/footer-wmap.png" class="img-responsive ">
            </div>


            <div class="col-md-2 col-sm-12 col-xs-12">
                <div class="widget">
                    <h6 class="title">Product</h6>
                    <hr class="ho">
                    <ul class="recent-posts">

                        <li>
                            <a href="/features">
                                <span class="date">Features</span>
                            </a>
                        </li>


                        <li>
                            <a href="/pricing">
                                <span class="date">Pricing</span>
                            </a>
                        </li>

                        <li>
                            <a href="/request-demo">
                                <span class="date">Request Demo</span>
                            </a>

                        </li><li>
                            <a href="/contact">
                                <span class="date">Contact Us </span>
                            </a>
                        </li>


                    </ul>
                </div>
                <!--end of widget-->
            </div>

            <div class="col-md-2 col-sm-12 col-xs-12">
                <div class="widget">
                    <h6 class="title">SOLUTIONS</h6>
                    <hr class="ho">
                    <ul class="recent-posts">

                        <li>
                            <a href="/ecommerce-search">
                                <span class="date">Ecommerce Search</span>
                            </a>
                        </li>
                        <li>
                            <a href="/magento-search">
                                <span class="date">Magento Search </span>
                            </a>
                        </li>
                        <li>
                            <a href="/shopify-search">
                                <span class="date">Shopify Search</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--end of widget-->
                <br>
            </div>

            <div class="col-md-5 col-sm-12 col-xs-12">

                <div class="widget">
                    <h6 class="title">RESOURCES</h6>
                    <hr class="ho">
                    <div class="col-md-6" style="padding-left:0px !important;">

                        <ul class="recent-posts">

                            <!--<li>-->
                                <!--<a href="/blog.html">   <span class="date">Blog</span></a>-->
                            <!--</li>-->
                            <li>
                                <a href="https://docs.searchtap.io/api/" target="_blank">   <span class="date">Documentation</span></a>
                            </li>


                            <li>
                                <a href="/case-study/voxpop">   <span class="date">Success Stories</span></a>
                            </li>




                        </ul>

                    </div>

                    <div class="col-md-6 nopaddingl" style="padding-left:0px !important;">

                        <ul class="recent-posts">
                            <li>
                                <a href="/terms">
                                    <span class="date">Terms of Use</span>
                                </a>
                            </li>

                            <li>
                                <a href="/privacy-policy">
                                    <span class="date">Privacy Policy</span>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>

                <!--end of widget-->
            </div>




        </div>
        <!--end of row-->

        <hr class="ho">

        <div class="row">
            <div class="col-sm-8">
                                <span class="sub">Copyright ©
                                    <span style="color:#fff !important;">BITQIT</span> - SearchTap is owned by BITQIT PRIVATE LIMITED</span>&nbsp;
                <span class="pl20">
                                    <!--<a href="/terms" class="_100 fo-t">Terms of Use</a> /-->
                    <!--<a href="/privacy-policy" class="_100 fo-t">Privacy Policy</a>-->
                                </span>
            </div>
            <div class="col-sm-4 text-right">
                <ul class="list-inline social-list">


                    <li>
                        <a href="https://www.facebook.com/TeamSearchTap/" target="_blank">
                            <i class="ti-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/TeamSearchTap" target="_blank">
                            <i class="ti-twitter-alt"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://in.linkedin.com/company/searchtap" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <!--end of container-->

</footer>
