<section class="pb64 pt32 mt30 love">

    <div class="container">
        <div class="row v-align-children">
            <div class="col-sm-5 sm-bullet">
                <h3 class="pt6">Guided Search Relevance Tuning by Search Experts
                </h3>


                <p class="mb40">
                    Hundreds of clients around the globe trust SearchTap as their search partner. If you're considering
                    to offer your users a better search experience or just want more information, we're happy to help
                    you.
                </p>


                <ul class="list-unstyled f-tp">

                    <li class="pb16"><i class="ti-light-bulb icon-xs pull-left"></i>
                        <h6 class="uppercase mb0  p32 text-left">Passionate Support

                        </h6></li>

                    <li class="pb16"><i class="ti-user icon-xs pull-left"></i>
                        <h6 class="uppercase mb0  p32 text-left">DEDICATED ACCOUNT MANAGERS</h6></li>


                    <li class="pb16"><i class="ti-write icon-xs pull-left"></i>
                        <h6 class="uppercase mb0 p32 text-left">UNIQUE ONBOARDING &amp; TRAINING PROCESSES</h6></li>


                    <li class="pb16">
                        <i class="ti-eye icon-xs pull-left"></i>
                        <h6 class="uppercase mb0 p32 text-left">MONTHLY ACCOUNT REVIEWS </h6>

                    </li>

                </ul>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-1 text-center emphasis bg-green2">
                    <h5 class="uppercase">Plans Starting</h5>
                    <span class="price">$59</span>
                    <p class="lead">Per Month</p>
                    <a class="btn btn-white btn-lg" href="request-demo.html" style="border-radius:4px;">request a
                        demo</a>
                    <p style="line-height:normal;">
                        <a href="#">We’re always here &amp; ready to help.</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>