<button type="button" id="menu-toggle" href="#" class="navbar-toggle toggle">
    <img src="/img/nav-icon.png" class="img-responsive">
</button>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class=" toggle">
            <img src="/img/cancel.png" class="img-responsive pull-right close-btn ">
        </a>

        <div class="left-title mb10 ">
            <a href="/" class="font-size22 m-color">SearchTap</a>
        </div>
        <li class="">
            <a href="/features">Features</a>
        </li>

        <li>
            <a href="/success-stories">Success Stories</a>
        </li>

        <li>
            <a href="/pricing">Pricing</a>
        </li>

        <li>
            <a href="/login">Login / Signup</a>
        </li>

        <li>
            <a href="/contact">Contact us</a>
        </li>


        <div class="left-title mt30 mb10">
            <a href="#" class="font-size22 m-color">Solutions</a>
        </div>


        <h5 class="text-green left-title mt30 mb10 _600 pt0 mt0">Use Cases</h5>
        <li>
            <a href="/ecommerce-search">Ecommerce Search</a>
        </li>

        <!--<li>-->
        <!--<a href="/coming-soon">Media & Publishing</a>-->
        <!--</li>-->

        <!--<li>-->
        <!--<a href="/coming-soon">Mobile Search</a>-->
        <!--</li>-->

        <!--<li>-->
        <!--<a href="/coming-soon">Google Site Search Alternative</a>-->
        <!--</li>-->


        <h5 class="text-green left-title mt16  mb10 _600 pt0 ">Integrations</h5>


        <li>
            <a href="/magento-search">Magento Search</a>
        </li>

        <li>
            <a href="/shopify-search">Shopify Search</a>
        </li>

        <!--<li>-->
        <!--<a href="/coming-soon">WooCommerce Search</a>-->
        <!--</li>-->
        <!---->
        <!--<li>-->
        <!--<a href="/coming-soon">WordPress Search</a>-->
        <!--</li>-->


        <div class="col-md-12 mt32">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <a href="/request-demo" class="search-pp  btn  btn-filled btn-orange"
                   style="border-radius:4px; width:75%;">Request Demo</a>
            </div>


        </div>
    </ul>
</div>