<div class="widget mb0">
    <div class="mini-posts case-posts">

        <article class="mini-post" style="background-color: #47b475; padding: 15px; padding-top: 20px;">

            <form name="Success Story Form" class="text-center form-email" id="requestDemoForm" method="post">
                <input type="hidden" value="Request a Demo">

                <h2 class="mb10 text-white" style="font-size: 16px;">Looking for a personalised demo?</h2>

                <div>

                    <div class="alert alert-success" id="leadCreated" style="display: none; border-color: #fff !important; color: #fff !important;">
                        <span class="text-center">Thank you for your interest in SearchTap. Our search experts will contact you to schedule a demo shortly!</span></div>

                    <div class="alert alert-danger" id="leadNotCreated" style="display: none; border-color: red !important; color: red !important;">
                        <span class="text-center">Please enter valid details.</span></div>

                    <label>
                        <input name="bot-field"/>
                    </label>

                    <input type="text" id="name" name="Name" class=" col-md-12 validate-required field-error"
                           placeholder="Name" required/>

                    <input type="hidden" name="Country Code" id="country_code"/>
                    <input type="number" id="number" name="phone" class="col-md-12 validate-required field-error"
                           placeholder="Phone" required autocomplete="off"/>

                    <input type="email" id="email" name="Email" class="bg-none col-md-12 mt8 validate-required"
                           placeholder="Company Email" required/>

                    <div data-netlify-recaptcha="true"></div>

                    <div class="col-md-12">
                        <button type="submit" id="requestDemoFormSubmit"
                                style=" border-radius:4px !important; border-color:#fff !important; margin-bottom: 0px">
                            Schedule demo
                        </button>
                    </div>

                </div>

            </form>

        </article>

    </div>
</div>