<section class="pb0 mb32 pt32">
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-md-12 col-sm-12 text-center">
                <h3 class=" mb16 ">People like you
                    <i class="ti-heart"></i> SearchTap</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="feature boxed cast-shadow-light">
                    <img alt="Pic" class="image-small inline-block mb24" src="/img/clients-img/stuart.png">
                    <h4>"Really Impressive"</h4>
                    <p>
                        We're impressed with SearchTap for a variety of reasons - it's pretty easy to integrate,
                        and search results are intuitively
                        relevant. Checking search analytics our new favorite pastime.
                    </p>

                    <span>
                                        <strong>Stuart Rae</strong>
                                        <br> Founder &amp; CEO at mywaitlist.com.au</span>

                    <br>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="feature boxed cast-shadow-light">
                    <img alt="Pic" class="image-small inline-block mb24" src="/img/clients-img/3.jpg">
                    <h4>"Incredibly Easy!"</h4>
                    <p>
                        SearchTap does everything you would want from a hosted search solution. I love the
                        auto-complete and adaptive type correction
                        feature. Super easy to use too!
                    </p>
                    <span>
                                        <strong>Dhruv Dhingra</strong>
                                        <br> Engagement Manager at McKinsey & Company </span>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="feature boxed cast-shadow-light">
                    <img alt="Pic" class="image-small inline-block mb24" src="/img/clients-img/4.jpg">
                    <h4>"Highly Recommended"</h4>
                    <p>
                        We came across SearchTap while redesigning our website. Their hosted search platform was
                        easy and hassle free to integrate.
                        The Instant Search has given great results ever since.


                    </p>
                    <span>
                                        <strong>Richa Kapoor</strong>
                                        <br> Marketing Manager at Absolutdata</span>
                </div>
            </div>


            <div class="clearboth"></div>

            <div class="text-center">
                <%- link_to('request-demo', "Schedule a Free Demo", {
                    class: "btn btn-lg btn-filled btn-r mt24",
                    style: "border-radius:4px;"
                }) %>
            </div>

        </div>
    </div>
</section>
