<hr style="opacity: 0.4;">

<section class="pb0 mb32 pt32">
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-md-12 col-sm-12 text-center">
                <h3 class=" mb16 ">People like you
                    <i class="ti-heart"></i> SearchTap</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="feature boxed cast-shadow-light">
                    <img alt="Pic" class="image-small inline-block mb24" src="/img/clients-img/ajay_khanda.jpg">
                    <h4>"Complete Package!"</h4>
                    <p>
                        The SearchTap team’s expertise in working with B2C brands and e-commerce stores really
                        helped us make up lost ground (in the online retail space). Their product is the complete
                        package for our store. Search now regularly contributes around 40% of our website revenues.
                    </p>

                    <span>
                                        <strong>Ajay Khanda</strong>
                                        <br> CEO at Glen Appliances</span>

                    <br>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="feature boxed cast-shadow-light">
                    <img alt="Pic" class="image-small inline-block mb24" src="/img/clients-img/Yash_Gangwal.png">
                    <h4>"Fantastic Experience!"</h4>
                    <p>
                        Working with SearchTap was a fantastic experience. We didn’t expect that a search solution would help us improve
                        our storefront as well. While earlier we used to see
                        a one-off sale from our search, with SearchTap we have search users converting more frequently than <br>ever.
                    </p>
                    <span>
                                        <strong>Yash Gangwal</strong>
                                        <br> Founder, Urban Monkey </span>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="feature boxed cast-shadow-light">
                    <img alt="Pic" class="image-small inline-block mb24" src="/img/clients-img/Sujata-biswas-and-anya-biswas.jpg">
                    <h4>"Simply Phenomenal!"</h4>
                    <p>
                        We had been looking for a specialized search solution for our store when we saw SearchTap. The search speed and
                        experience looked simply phenomenal. We don’t think our old search could even come close to matching what we’ve
                        seen with SearchTap. We saw a positive impact from day one.


                    </p>
                    <span>
                                        <strong>Sujata Biswas & Tanya Biswas</strong>
                                        <br>Founders at Suta</span>
                </div>
            </div>


            <div class="clearboth"></div>

            <div class="text-center">
                <a href="/request-demo" title="Schedule a Free Demo" class="btn btn-lg btn-filled btn-r mt24" style="border-radius:4px;">Schedule a Free Demo</a>
            </div>

        </div>
    </div>
</section>
