
/*portfolio css*/

.st-client-name{

}

#searctap-wrapper .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.p-pb90{
    padding-bottom: 90px;
}

#searctap-wrapper p{
    font-size: 22px;
    line-height: 31px;
    color: #000;
}

.p-20 {
    padding-left: 20px;
}

.work-stats .number {
    display: inline;
    float: left;
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: 66px;
    color: #000000;
}

.justify-content-right {
    justify-content: flex-end;
}

#searctap-wrapper small{
    font-size: 13px;
}

.work-stats .description {
    color: #444;
}

.d-lg-flex {
    display: flex !important;
}

.work-stats .number {
    font-weight: 700;
    line-height: .8em;
    letter-spacing: -.04em;
}

.pt-sm-3, .py-sm-3 {
    padding-top: 60px !important;
}

.st-client-name h4{
    line-height: normal;
}

.justify-content-space{
    justify-content: space-between;
}

.piece-next{
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.piece-fullscreen {
    height: 100vh;
}

.piece-services {
    font-size: 18px;
    font-weight: 600;
    padding-right: 10%;
    line-height: 1.4em;
    margin-top: .5em;
    color: rgba(93, 93, 93, 0.7);
}

#searctap-wrapper .container-fluid{
    max-width: 1800px;
}

.h100 img {
    max-height: 70px;
}

.st-client-logo img {
    max-width: 200px;
    cursor: pointer;
}

.port-right {
    position: absolute;
    right: 0;
    top: 0px;
    float: right;
    display: block;
    width: 50%;
    height: 100%;
}

.right-portfolio {
    position: absolute;
    right: 0;
    top: 0;
}

.right-portfolio img{
    max-width: 550px;
}


.portfolio li.icon-accessories:before{
    background-image: url(../img/portfolio/icons/accessories.svg);
}

.portfolio li.icon-gifts:before{
    background-image: url(../img/portfolio/icons/gift.svg);
}

.portfolio li.icon-apparel:before{
    background-image: url(../img/portfolio/icons/apparel.svg);
}

.portfolio li.icon-skincare:before{
    background-image: url(../img/portfolio/icons/skincare.svg);
}

.portfolio li.icon-organic:before{
    background-image: url(../img/portfolio/icons/organic.svg);
}

.portfolio li.icon-footware:before{
    background-image: url(../img/portfolio/icons/shoe.svg);
}

.portfolio li.icon-kitchenware:before {
    background-image: url(../img/portfolio/icons/kitchenware.svg);
}

.portfolio li.icon-home-decor:before {
    background-image: url(../img/portfolio/icons/home-decor.svg);
}

.portfolio li.icon-supplements:before {
    background-image: url(../img/portfolio/icons/supplements.svg);
}


.portfolio li.icon-jewellery:before {
    background-image: url(../img/portfolio/icons/jewellery.svg);
}


.portfolio li.icon-pet:before {
    background-image: url(../img/portfolio/icons/pet.svg);
}


@media (min-width: 1400px) {
    .pb-xl-11 {
        padding-bottom: 220px !important;
    }
}

.pb-xl-9, .py-xl-9 {
    padding-bottom: 180px !important;
}

.pt-xl-9, .py-xl-9 {
    padding-top: 180px !important;
}

.sub-heading {
    margin: 0;
    padding: 12px;
    width: 100%;
    position: absolute;
    border: 0;
    z-index: 1;
    margin-top: -44px;
    padding-left: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}


.symbol {
    padding: 4px;
    width: 22px;
    height: 18px;
    font-size: 12px;
    margin-top: -40px;
}

@media (min-width: 576px){
    .break-out .container-fluid{
        padding-right: 5%;
        padding-left: 5%;
    }

    #searctap-wrapper .container-fluid{
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media (min-width: 1024px){
    .break-out .container-fluid{
        padding-right: 50px;
        padding-left: 50px;
    }

    #searctap-wrapper .container-fluid{
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media (min-width: 1400px){
    .break-out .container-fluid{
        padding-right: 85px;
        padding-left: 85px;
    }

    #searctap-wrapper .container-fluid{
        padding-right: 85px;
        padding-left: 85px;
    }
}

.break-out .container-fluid{
    max-width: 1800px;
}


.portfolio .list {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.portfolio .list li {
    font-weight: 700;
    font-size: 1.325rem;
    line-height: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 1rem
}

.portfolio .list a {
    color: #000
}

.portfolio .list a:hover {
    color: #2646FF
}

.portfolio .list-icons li {
    padding-left: 45px;
    position: relative
}

.portfolio .list-icons li:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    display: block;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
}

.portfolio .list-icons li a {
    display: inline-block;
    margin-left: -45px;
    padding-left: 45px;
    position: relative;
    z-index: 1;
    font-weight: 700;
}

.portfolio .list li {
    font-size: 18px;
}
.portfolio .list-split {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    column-gap: 20px
}

.dark-bg {
    background-color: #eaebed !important;
}

.pb-xl-6, .py-xl-6 {
    padding-bottom: 120px !important;
}

/*portfolio css end*/

p.purple-box {
    border: 1px dashed #ddd;
    background-color: #eaeff1;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 12px;
    color: #000;
    text-align: center;
    width: fit-content;
}

.max-width150{
    max-width: 150px;
}


ul.check-mark li:before{
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    margin-left: 15px;
    width: 12px;
    height: 12px;
    display: block;
}

ul.check-bullet li:before{
    content: "\f111";
    font-size: 8px;
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    margin-left: 15px;
    width: 12px;
    height: 12px;
    display: block;
}


.css-d9btgd-root-dark-Card {
    background-image: radial-gradient(circle at 50% 0px, rgb(58, 65, 111), rgb(33, 36, 61));
    transition: transform 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
}

/*.xs\:g-2 {*/
    /*grid-template-columns: repeat(2,1fr);*/
/*}*/

.new-pricing-month .pr4{

}

.uil-bxs-default.uil-bdr-2.uil-p-48.ta-center.css-d9btgd-root-dark-Card.pp-absolute {
    position: relative;
    height: 100%;
    width: auto;
    min-width: 290px;
    bottom: 0;
    margin-top: -12px;
}

.no-shadow{
    box-shadow: none !important;
}

.font36{
    font-size: 36px;
}

.pp-absolute{
    position: absolute;
    margin-left: -40px;
}

.lighting-broder-bottom::after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 220%;
    left: -100px;
    margin-top: -12px;
    background: linear-gradient(to right, rgba(197, 201, 224, 0), rgb(197, 201, 224, .3), rgba(197, 201, 224, 0));
}

span.svg-check-ico {
    position: absolute;
    margin-top: 5px;
    left: 0;
    opacity: 0;
}


.uil-color-white {
    color: #fff !important;
}
.mt-20 {
    margin-top: 20px;
}
.fnt-f{
    font-family: "Open Sans", sans-serif;
}
.fw500{
    font-weight: 500;
}

.ghgap-32 {
    grid-row-gap: 0px;
}
.gvgap-48 {
    grid-column-gap: 48px;
}
/*.css-1o4kykw:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*width: 1px;*/
    /*background: linear-gradient( rgba(197,201,224,0),rgba(197,201,224,1),rgba(197,201,224,0) );*/
    /*display: none;*/
    /*left: 50%;*/
/*}*/
.css-1o4kykw:after {
    display: block;
}

/*New pricing page css*/

.uil-bxs-default{
    box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
}

.uil-bdr-2 {
    border-radius: 2px;
}
.w-100p {
    width: 100%;
}
.pos-relative {
    position: relative;
}

.d-grid {
    display: grid;
}

.css-qthtot-root-light-Card {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(245, 245, 250));
    transition: transform 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
}
/*.css-qthtot-root-light-Card::before {*/
    /*content: "";*/
    /*background-image: radial-gradient(circle at 50% 0px, rgb(71, 180, 117), rgb(58, 191, 114));*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*bottom: 0px;*/
    /*right: 0px;*/
    /*width: 17.2%;*/
    /*border-top-right-radius: 2px;*/
    /*border-bottom-right-radius: 2px;*/
/*}*/
.d-block {
    display: block;
}
.ai-start {
    align-items: flex-start;
}
.pv-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}
.pl-24 {
    padding-left: 24px;
}
.d-flex {
    display: flex;
}
.w-30p {
    width: 20%;
}
.css-28l21e {
    width: 25.33333333%;
}
.price-pb0{
    padding-bottom: 0px !important;
}

.min230{
    min-height: 230px;
}

.ph-8 {
    padding-left: 8px;
    padding-right: 8px;
}
.uil-tt-upper {
    text-transform: uppercase;
}
.uil-lsp-big {
    letter-spacing: 1.5px;
}
.uil-fw-semibold {
    font-weight: 700;
}
.lg\:uil-fsz-12 {
    font-size: 12px;
}
.uil-lh-big {
    line-height: 1.33;
}
.uil-fw-normal {
    font-weight: 400;
}
.uil-fsz-14 {
    font-size: 14px;
}
.w-40 {
    min-width: 40px;
}
.h-40 {
    min-height: 40px;
    max-height: 100px;
}
.root-secondary-Button {
    height: 48px;
}

.uil-color-telluric {
    color: #5d6494;
}
.uil-ai-center {
    align-items: center;
}
.uil-jc-center {
    justify-content: center;
}
.root-secondary-Button {
    display: inline-block;
    -webkit-transition: box-shadow 0.15s ease,-webkit-transform 0.15s ease;
    -webkit-transition: box-shadow 0.15s ease,transform 0.15s ease;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: linear-gradient(#fff,#e4e4e9) no-repeat;
    box-shadow: 0 7px 14px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #cfd1e3;
}

.uil-bdr-max {
    border-radius: 4px;
}

.uil-p-48 {
    padding: 48px;
}
.uil-bdr-2 {
    border-radius: 2px;
}

.max-img-h img{
    max-height: 50px;
}

.lg\:uil-ph-32 {
    padding-left: 32px;
    padding-right: 32px;
}
.uil-d-inline-flex {
    display: inline-flex;
}

.uil-bdw-0 {
    border-width: 0;
}

.uil-color-proton {
    color: #c5c9e0;
}
.fxw-wrap {
    flex-wrap: wrap;
}

.ai-center {
    align-items: center;
}

.w-40h-40{
    max-height: 80px;
}

.w-40h-40 img{
    max-height: 80px;
}

.uil-fsz-14{
    font-size: 14px;
    color: #333;
}

.ph-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.ff{
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ta-left {
    text-align: left;
}

.w-20 {
    width: 20px;
}

.h-20 {
    height: 20px;
}

.fsz-12 {
    font-size: 12px;
}
.ta-center {
    text-align: center;
}
.jc-center {
    justify-content: center;
}

.aling_end{
    align-items: flex-end;
}

.top40{
    position: relative;
    top: -35px;
    margin-left: 30px;
    display: block;
}

.pv-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.uil-color-nova {
    color: #848ab8;
}

.bgc-solstice {
    background-color: #47b475;
}
.bdr-max {
    border-radius: 9999px;
}
.bdw-0 {
    border-width: 0;
}

.css-1tgmbu2 {
    background-color: rgba(197, 201, 224, 0.3);
}

.css-1u1x06t-root-primary-Button {
    height: 42px;
    -webkit-transition: box-shadow 0.15s ease,-webkit-transform 0.15s ease;
    -webkit-transition: box-shadow 0.15s ease,transform 0.15s ease;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    text-shadow: 0 1px 0 #74c596;
    background: linear-gradient(#74c596,#47b474) no-repeat;
    box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #4eb778;
    height: 48px;
    display: block;
    border-radius: 4px;
}

.lg\:ph-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.css-16fj05f::after {
    content: "";
    display: block;
    height: 1px;
    background: linear-gradient(to right, rgba(197, 201, 224, 0), rgb(197, 201, 224), rgba(197, 201, 224, 0));
    flex: 1 1 100%;
}

.mt-10{
    margin-top: 5px;
}

.mt25{
    margin-top: 25px;
}

.uil-bxs-default .price_price_new{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
    font-size: 42px;
    margin-top: -10px;
}

.uil-bxs-default .pr4 {
    font-size: 10px;
    font-weight: 100;
    top: 10px;
    position: relative;
    text-transform: uppercase;
}

.uil-bxs-default .odometer-inside{
    color: #333;
    font-size: 42px;
}

/*.uil-bxs-default .odometer.odometer-auto-theme{*/
    /*letter-spacing: 1px;*/
/*}*/

.uil-bxs-default .odometer.odometer-auto-theme .odometer-digit .odometer-value{
    font-weight: 600;
    font-size: 36px;
}

.uil-bxs-default .noUi-pips {
    font-size: 12px;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #47b475;
}

.uil-bxs-default  .pr3{
    left: 5px;
    font-size: 10px;
    font-weight: 100;
    position: relative;
    top: -15px;
}

.st-w-30p{
    width: 25%;
}

.st-css-28l21e{
    width: 27%;
}

    /*end new pricing page css*/



.odometer-inside {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 52px;
    line-height: normal!important;
    font-weight: 100!important;
    color: #47b475;
    display: inline-block
}
.border-box {
    padding-bottom: 0
}
.mmts {
    position: relative;
    top: -6px
}
.mmt {
    margin-top: -10px!important
}
.pr-pr {
    position: relative;
    margin-top: -22px!important
}
.pr2 {
    margin-top: 6px!important;
    font-family: lato
}

.pr5 {
    position: relative;
    margin-top: -31px
}
.pbt1 {
    width: 96%;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-top: 12px
}
.pbt2 {
    margin-top: -8px!important;
    ">$999<small style="font-size: 16px
}
.mt12 {
    margin-top: 14px
}
.mt5 {
    margin-top: 4px
}
.ml20 {
    padding-left: 30px
}
.mr20 {
    padding-right: 30px
}
.price-bg {
    background: #ecf0f6;
    height: 60px;
    padding-top: 20px
}
h5.prc-title {}.price-list {
    margin-bottom: 2px!important
}
.price-list li {
    display: inline-block;
    margin: 0 8px;
    color: #999;
    font-weight: 600
}
.sign_testi .signimg {
    margin-top: 5px
}
.price_box {
    border: 1px solid #d9e1e3;
    padding: 30px 20px;
    background: #fbfbfb;
    min-height: 710px;
    position: relative
}
.price_box.premium {
    border: 2px solid #44accc;
    margin-top: -15px;
    margin-bottom: -15px;
    background: #fff;
    min-height: 745px
}
.price_title {
    font-size: 24px;
    font-family: montserrat_semibold, Sans-Serif;
    height: 30px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.price_price_new,
.price_price_new span.subt,
span.subt {
    font-family: montserrat_regular, Sans-Serif;
    text-align: center
}
.price_img {
    text-align: center;
    margin-top: 40px;
    height: 120px
}

.price_price_new span, .price_price_new p, .price_price_new .new-pricing-month{
    display: flex;
}

.price_box.premium .price_img {
    height: 135px
}
.price_price_new {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 52px;
    color: #47b475;
    display: inline-block
}
.price_price span.subt,
span.subt {
    font-size: 14px;
    color: #b1b1b1;
    display: block;
    font-weight: 400
}
.price_ul {
    font-family: montserrat_semibold, Sans-Serif;
    margin-top: 30px;
    text-align: center
}
.price_ul ul {
    list-style-type: circle;
    color: #6898c9;
    font-size: 20px;
    font-family: montserrat_light, Sans-Serif;
    text-align: left
}
.fa-fw,
.fa-li,
.faqtitle {
    text-align: center
}
.price_ul ul li span {
    color: #5c5c5c;
    font-size: 12.5px
}
.al_pri {
    line-height: 35px
}
.price_but {
    position: absolute;
    bottom: 20px;
    left: 40%;
    margin-left: -55px
}
.price_but.free {
    margin-left: -70px
}
.faqtitle {
    font-size: 26px;
    font-family: montserrat_semibold, Sans-Serif;
    margin-bottom: 50px;
    margin-top: 10px
}
.faq ul li .ans,
.faq ul li .ques {
    font-size: 14px;
    margin-bottom: 20px;
    padding-right: 50px
}
.faq ul li .ques {
    line-height: 25px
}
.faq ul li .ans {
    line-height: 23px
}
.contact .signup_section .conformcont select.small {
    border-right: solid 1px #e2e2e2!important;
    border-radius: 4px!important
}
.contact .sign_web {
    margin-right: 0!important;
    padding-left: 15px!important
}
.contact .sign_web input {
    border-radius: 4px!important
}
.sign_web {
    clear: both
}
.sign_testi .test_auth,
.sign_testi p {
    padding-left: 0!important
}
.price_box {
    margin-bottom: 30px
}
.price_but,
.price_but.free {
    position: static!important;
    text-align: center!important;
    margin-left: auto!important
}
.faq ul li .ans,
.faq ul li .ques {
    padding-right: 0!important
}
@media only screen and (max-device-width: 769px) and (orientation: landscape) {
    .customer_logo {
        height: 145px;
        overflow: hidden;
        margin-bottom: 25px!important
    }
}
@media only screen and (min-width: 968px) {

    .section__content {
        margin-bottom: 20px;
    }

    .customer_logo {
        width: 220px;
        height: 95px
    }
    .customer_logo:first-of-type,
    .customer_logo:nth-of-type(6n) {
        margin-left: 35px
    }
    #npricebox>.container>.row>[class*=col] {
        width: 25%!important;
        padding: 5px!important;
        float: left
    }
}
.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.noUi-target {
    position: relative;
    direction: ltr
}
.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 2px
}
.noUi-handle {
    position: relative;
    z-index: 1
}
.noUi-marker,
.noUi-pips,
.noUi-value {
    position: absolute
}
.noUi-stacking .noUi-handle {
    z-index: 10
}
.noUi-state-tap .noUi-origin {
    -webkit-transition: left .3s, top .3s;
    transition: left .3s, top .3s
}
.noUi-state-drag * {
    cursor: inherit!important
}
.noUi-horizontal {
    height: 8px
}
.noUi-horizontal .noUi-handle {
    width: 33px;
    height: 17px;
    left: -21px;
    top: -7px;
	box-shadow: 0 2px 10px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.noUi-vertical {
    width: 18px
}
.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px
}
.noUi-background {
    background: #fafafa;
    box-shadow: inset 0 1px 1px #f0f0f0
}
.noUi-connect {
    background: #47b475;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, .45);
    -webkit-transition: background 450ms;
    transition: background 450ms
}
.noUi-target {
    border-radius: 4px;
    background-color:#e3e4e4;
    border: 3px solid #e3e4e4;
}
.noUi-target.noUi-connect {
    box-shadow: inset 0 0 3px rgba(51, 51, 51, .45), 0 3px 6px -5px #bbb
}
.noUi-dragable {
    cursor: w-resize
}
.noUi-vertical .noUi-dragable {
    cursor: n-resize
}
.noUi-handle {
    border-radius: 20px;
    cursor: pointer
}
.noUi-active {
    box-shadow: inset 0 0 1px #7e7e7e, inset 0 1px 7px #5c5c5c, 0 3px 6px -3px #3a3a3a
}
[disabled] .noUi-connect,
[disabled].noUi-connect {
    background: #b8b8b8
}
[disabled] .noUi-handle,
[disabled].noUi-origin {
    cursor: not-allowed
}
.noUi-pips,
.noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.noUi-pips {
    font: 400 12px Arial;
    color: #47b475
}
.noUi-value {
    width: 40px;
    text-align: center
}
.noUi-value-sub {
    color: #ccc;
    font-size: 10px
}
.noUi-marker {
    background: #47b475
}
.noUi-marker-large,
.noUi-marker-sub {
    background: #aaa
}
.noUi-pips-horizontal {
    padding-bottom: 37px;
    bottom: 10%;
    left: 0;
    width: 100%
}
.noUi-value-horizontal {
    margin-left: -5px;
    padding-top: 5px
}
.noUi-value-horizontal.noUi-value-sub {
    padding-top: 15px
}
.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
    display: none
}
.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px
}
.noUi-marker-horizontal.noUi-marker-large {
    height: 15px
}
.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%
}
.noUi-value-vertical {
    width: 15px;
    margin-left: 20px;
    margin-top: -5px
}
.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px
}
.noUi-marker-vertical.noUi-marker-sub {
    width: 10px
}
.noUi-marker-vertical.noUi-marker-large {
    width: 15px
}
.odometer.odometer-auto-theme,
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-default,
.odometer.odometer-theme-default .odometer-digit {
    display: inline-block;
    vertical-align: middle;
    position: relative
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
    display: inline-block;
    vertical-align: middle;
    visibility: hidden
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
    text-align: left;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
    display: block
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
    display: block;
    -webkit-backface-visibility: hidden
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value {
    font-weight: 100;
    font-size: 52px;
    display: block;
    -webkit-transform: translateZ(0)
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
    position: absolute
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -ms-transition: -ms-transform 0, 5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%)
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -ms-transition: -ms-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}
.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {}.odometer.odometer-auto-theme .odometer-value,
.odometer.odometer-theme-default .odometer-value {
    text-align: center
}
.price_ul li {
    list-style-type: circle
}
.noUi-handle {
    background: #47b475!important
}
#navbar .btn,
.navbar-inverse .navbar-nav>li>a {
    text-shadow: 0 0 0 transparent!important
}
.jssocials-share-link {
    border-radius: 50%;
    padding: .5em .9em!important
}
.jssocials-shares {
    display: inline-flex!important
}
.jssocials-share {
    margin-right: 10px!important
}
.jssocials-share-facebook .jssocials-share-link {
    padding: .5em 1em!important
}
#blog-newsletter-subscription-mailchimp .input-group input,
.sidebar-widget.widget_search .search-form .input-group input {
    height: 39px
}
.case_content .single_cse_con b,
.case_content .single_cse_con strong {
    font-family: montserrat_regular, Sans-Serif
}
.section__title {
    font-family: "Roboto Slab", serif;
    font-size: 40px
}
.section__content {
    padding-left: 3px
}
.card {
    position: relative;
    float: left;
    width: 100%;
    text-align: center
}
.card:nth-child(1) {
    margin-left: -3px;
    margin-right: 1px
}
.card:nth-child(2),
.card:nth-child(3) {
    margin-right: 1px
}
.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 210px
}
.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}
.card__front {
    background-color: #ff5078
}

.card__text {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 20px;
    color: #fff;
    font-family: "Roboto Slab", serif;
    line-height: 20px
}
.card.effect__hover:hover .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    max-height: 180px
}
.card.effect__hover:hover .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}
.card.effect__click.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}
.card.effect__click.flipped .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}
.card.effect__random.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}
.card.effect__random.flipped .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}
#fusionads {
    position: fixed;
    top: 80px;
    right: 10px;
    z-index: 20;
    padding: 10px;
    background: rgba(255, 255, 255, .95);
    font-size: 12px;
    line-height: 1.2;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .1)
}
#fusionads .fusion-wrap {
    display: block;
    margin: 0 auto 10px auto;
    width: 130px
}
#fusionads a.fusion-text {
    display: block;
    color: #787878
}
#fusionads a.fusion-img {
    display: block;
    margin-bottom: 10px;
    width: 130px;
    height: 100px;
    background-color: #fff
}
#fusionads a.fusion-img img {
    display: block;
    margin: 0 0 10px 0
}
#fusionads a.fusion-poweredby {
    color: #28aadc
}
#fusionads a.fusion-poweredby:hover {
    color: #166888
}

@media only screen and (max-width:768px){

    .patnership-bg {
        background-size: cover;
    }

    .uil-bxs-default.uil-bdr-2.uil-p-48.ta-center.css-d9btgd-root-dark-Card.pp-absolute {
        position: relative;
        height: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }

}


@media only screen and (max-width:480px){

    .work-stats{
        padding: 0 20px;
    }

    .piece-next {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .piece-next.justify-content-right{
        justify-content: flex-start;
    }

    .piece-next .headline-2 {
        font-size: 2.9rem;
    }

    .work-stats .number {
        font-size: 56px;
    }

    .work-stats .number {
        margin-bottom: 30px;
    }

    .portfolio .list-split {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 10px;
        column-gap: 40px;
    }

    .portfolio .list li {
        font-size: 14px;
        padding-left: 35px;
    }

    .project-header h3 {
        font-size: 20px;
    }


    .max-width-1000 {
        max-width: 100% !important;
    }

    .font-size14 {
        font-size: 10px !important;
    }

    .uil-fsz-14 {
        font-size: 10px;
    }

    .w-30p {
        width: 23%;
    }

    .uil-bxs-default .price_price_new {
        font-size: 32px;
    }

    .pricing-page .table-responsive {
        border: 0px solid #ddd;
    }

    .pricing-page .table-responsive .w-40h-40 img{
        padding-top: 10px;
    }

    .pricing-page .mb64 {
        margin-bottom: 24px;
    }

    .pricing-page .prl0 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .w-100p.css-qthtot-root-light-Card{
        /*min-width: 700px;*/
        Zoom: 50%;
    }

    .mob-col-xs-4{
        width: 25%;
    }

    .hgt{
        width: 100%;
        height: 2px;
        display: block;
        position: relative;
    }


    .uil-bxs-default .pr3{
        left: 0;
    }


    .pricing-table-container td+td, .pricing-table-container th+th {
        text-align: center;
        display: table-cell;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .pricing-title h1 {
        font-size: 32px;
    }
    a.ext-price {
        display: none;
    }
    .get-app{
        display: block;
        padding-top: 170px;
    }
    .display-flex{
        display: flex;
    }
    .mobile-pricing .btn-default{
        font-size: 12px;
        box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
        color: #5d6494;
        padding: 12px;
        text-transform: uppercase;
        font-weight: 600;
        border-top: 2px solid #3ab2bd;
        border: none;
        background-color: #fff;
        margin: 0;
    }
    ul.tabs{
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        /*border-bottom: 1px solid #e2e5e6c7;*/
        /*box-shadow: 0 -8px 10px -6px #e2e5e6c7;*/
    }
    .font13{
        font-size: 13px;
    }

    .color-gray-dark{
        color: #58686d;
    }

    ul.tabs li{
        font-size: 13px;
        display: inline-block;
        color: #58686d;
        padding: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-weight: 700;
        border-top: 2px solid #3ab2bd;
        border: none;
        background-color: #fff;
        margin: 0;
        width: 100%;
        text-align: center;
        font-family: Poppins,Arial,sans-serif;
        letter-spacing: 1px;
    }
    ul.tabs li.current{
        background: #fff;
        color: #58686d;
        border-top: 3px solid #47b473;
        box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
        position: relative;
    }
    .tab-content{
        display: none;
        background: #fff;
        padding: 15px;
    }
    .tab-content.current{
        display: inherit;
    }
    .uil-bxs-default {
        box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
    }


    .pb-24 {
        padding-bottom: 24px!important;
    }
    .text-blue{
        color: #3f51b5;
        font-weight: bold;
    }
    .mobile-pricing small{
        line-height: 14px;
        font-size: 11px;
        display: block;
        width: 80%;
        margin-top: 5px;
    }
    .pt-32{
        padding-top: 32px;}
    .pb-12{padding-bottom: 12px;}
    table tr td{
        font-size: 12px;
        color: #333;
        letter-spacing: 0px;
        width: 100%;
        padding: 8px 0;
    }

    .st-fixed {
        position: absolute;
        z-index: 1;
        top: auto;
        margin-top: 300px;
    }



    .st-col-title {
        position: relative;
        z-index: 2;
        width: 170px;
        background-color: #FFF;
        box-shadow: 10px 0px 10px -10px rgba(0,0,0,0.25);
    }

    .linear-border {
        border-bottom:1px solid rgba(197, 201, 224, 0.56);
        width: 100%;
    }

    .font12{
        font-size: 12px;
    }
    .font16{
        font-size: 32px;
        font-weight: 800;
    }
    .font14{
        font-size: 14px;}
    .mobile-pricing .btn-style-one {
        padding: 6px 45px;
        font-size: 14px;
        text-transform: uppercase;
        background-color: #fff!important;
        border: .1rem solid #7992aa;
        color: #3f51b5;
        font-weight: 600;
        width: 150px;
    }
    .mobile-pricing span.month {
        color: #3f51b5;
    }
    .mobile-pricing .control .select select {
        background-color: #e0e5f0;
    }
    .mobile-pricing .select select:not([multiple]) {
        padding-right: 2.5em;
    }
    .mobile-pricing .select:not(.is-multiple) {
        height: 2.25em;
    }
    .mobile-pricing .select select {
        cursor: pointer;
        display: block;
        background-image: url("https://image.flaticon.com/icons/svg/118/118738.svg");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 93%;
        font-size: 14px;
        max-width: 100%;
        outline: 0;
        border:1px solid  #e0e5f0;
        background-color: #e0e5f0;
        border-radius: 4px;
        color: #363636;
        height: 2.80em;
        justify-content: flex-start;
        line-height: 1.5;
        padding-bottom: calc(.375em - 1px);
        padding-left: calc(.625em - 1px);
        padding-top: calc(.375em - 1px);
        position: relative;
        vertical-align: top;
        font-weight: 600;
        margin: 0 auto;
        padding-right: 20px !important;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .mobile-pricing i.fa.fa-check {
        font-size: 20px;
        color: #3f51b5;
        -webkit-text-stroke: 2px #fff;
    }
    .mobile-pricing i.fa.fa-times {
        font-size: 20px;
        color: #3f51b533;
        -webkit-text-stroke: 2px #fff;}
    .pt-80{
        padding-top: 80px;}
    .sticky {
        position: fixed;
        top: 0px;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 9999999;
        margin-top: 56px !important;}
    .mobile-pricing-details {
        padding-top: 10px;
        background-color: #fff;
        position: relative;}
    .pb-10{
        padding-bottom: 10px;}
    .scroll-y{
        position: relative;
        overflow-y: scroll;
        height: 100%;}

    .pb-20{padding-bottom: 20px; }

    .mob-line-height{
        line-height: normal;
    }

    .uil-bxs-default .pr4 {
        text-transform: none;
    }


}

@media only screen and (max-width:320px){

    .font-size14 {
        font-size: 10px !important;
    }


    .uil-bxs-default .price_price_new {
        font-size: 32px;
    }
}