---
title: "Contact Us"
testimonial: false
---

<section class="contact-bg  cover  image-bg overlay">

    <div class="contact-bg background-image-holder fadeIn"
         style=" background: url(&quot;img/contact-bg.jpg&quot;);">
        <img alt="image" class="background-image" src="/img/contact-bg.jpg" style="display: none;">
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2 class=" mb16">Need help? We're always there for you!
                    </h2>


                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">

                <p>Discover how you can use SearchTap to customize, analyze and build an amazingly effective search
                    experience for your users with minimal IT involvement and no infrastructure investment.</p>

                <a class="btn btn-lg" href="/request-demo">Request Demo </a>


            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="pb32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">

                <!---<h4 class="uppercase">Contact us</h4>--->
                <h3 class="mt0 mb10 mt-xs-0 text-dark">Contact us
                </h3>
                <hr class="mb16">


                <p class="lead text-green">
                    Thank you for your interest in SearchTap. To get in touch with us, please provide the following
                    information.
                </p>


            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <form name="Contact Us" id="contactUsForm" class="form-email"
                      data-netlify="true"
                      data-success="Thank you for getting in touch. We will respond to you shortly."
                      data-error="Please fill all fields correctly.">
                    <div class="alert alert-success" id="contactQueryCreated" style="display: none">
                        <span class="text-center">Thank you for getting in touch. We will contact you soon.</span>
                    </div>

                    <div class="alert alert-danger" id="contactQueryNotCreated" style="display: none">
                        <span class="text-center">Please enter valid details.</span></div>

                    <div id="input-hide">

                        <input type="text" id="name" name="name" placeholder="Name"
                               style="height:50px; border-radius:2px !important;" required>

                        <input type="tel" id="number" name="phone" class="col-md-12 validate-required field-error"
                               placeholder="Phone" required="">

                        <input type="text" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="email"
                               class="validate-required validate-email mt16" name="email" placeholder="Company Email"
                               style="border-radius:2px !important; height:50px;" required="required"/>

                        <textarea class="validate-required bg-none" id="message" name="message" rows="4"
                                  placeholder="Message" required></textarea>
                        <button id="contactUsFormSubmit" type="submit" style="border-radius:4px !important;">Send
                            Message
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="image-bg pt32 pb64  bg-blue">

    <img src="/img/products/Features-Covered/data-center.png" class="img-responsive center-block">
    <!--end of container-->
</section>

<section class="pt64 pb64">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class=" mb0 mt10">
                    Trusted by leading brands</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/wisdom.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/hello-parent.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/my-waitlist.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/legal-eagle.png" class="img-responsive center-block">
            </div>


            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/coral.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/high-beam-global.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/alda-color.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/glen-color.png" class="img-responsive center-block">
            </div>


            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/curebooth.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/knowledge.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/kraftdirect.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/gmat-delhi.png" class="img-responsive center-block">
            </div>


        </div>
        <!--end of row-->
    </div>

</section>