---
title: 10 tips on zero search results so they don’t ruin your customer’s shopping experience
description:
layout: layout-blog-post
permalink: blog/10-tips-on-dealing-with-zero-search-results/
published_date: 06th Nov, 2018
read_time: 4
blog_title: 10 tips on zero search results so they don’t ruin your customer’s shopping experience
image_name: zero-search-results.jpg
image_alt: Zero Search Results
tags: [Site Search, Ecommerce Tips]
---

<div class="blog-content">

    <p>Nothing is more frustrating for a visitor to when their browsing experience is interrupted by a Zero search
        results page. Studies have shown that 17% of these users abandon the site and never come back. With close to 30%
        of all purchase journeys starting with the search box, a lot of time and effort of getting new visitors is
        wasted with them bouncing almost instantly.
    </p>
    <p>Zero search results are not unavoidable, they are bound to be situations where your users are going to be taken
        to one. What’s important is to have measures in place to make sure that your customers are engaged and continue
        to interact with the site. After all, a search user is already 216% times more likely to convert than a
        non-search user.</p>

    <p>There is also a longterm prospect of looking at the list keywords that lead customers to these dead ends. Your
        e-commerce business can leverage this information to increase conversions and customer engagement while reducing
        bounce rates.
    </p>
    <div class="post-title">

        <h4 class="mt10">How to deal with zero result pages</h4>

    </div>

    <p>E-commerce stores need to be able to keep users engaged. Even if the preventive measures set up by them fail, as
        long as the customer is still on their site, there is a chance that they might convert. At SearchTap.io, we deal
        with zero search results in two ways -
    </p>

    <ul class="bullets">
        <li>Preventive - to stop a zero results page from appearing in the first place</li>
        <li>Counteractive - to keep the user on site when preventive measures don’t work
        </li>
    </ul>

    <p>Keep in mind that you will need to have search analytics enabled on your site to be able to access this data.
        Using these insights, you can work toward increasing conversion and lowing your site abandonment because of zero
        search results.
    </p>

    <div class="post-title">

        <h4 class="mt10">Preventive Measures
        </h4>
    </div>


    <ol class="number">
        <li><b>Set up Synonyms -</b> With the help of search analytics you can see what keywords are being used by your
            clientele. Using this data you can name your products appropriately so that they appear in search results.
            Do your search users prefer to search for “gowns” or dresses? “Tee shirts” or “t-shirts”? “Grey” or “gray”?
            You need to customize the offerings according to the language of your customers. These can be easily
            configured in an e-commerce search.

        </li>
        <li><b> Redirects - </b> They were similar to how you would want synonyms to work only you have to set up
            redirects manually whenever a keyword is searched. Take for example a customer is taken to the “couch” page
            when the term “sofa” appears in the search. While this might work for specialised stores with a very limited
            number of SKUs, it can easily become a chore.

        </li>
        <li><b>Search as you type -</b> Search as you type replaced the traditional searching experience by displaying
            search results as the customers are typing in their queries. This provides instant visual feedback and a
            customer will automatically refine their query when they see no relevant results.
        </li>
        <li><b>Update Product Tags -</b> Often you will encounter new ways in which search users search for certain
            products. These could range from alternate spellings or descriptors. Recognising and updating product tags
            with this new information will raise their findability.
        </li>
        <li><b>Typo Tolerance -</b> A well-implemented e-commerce search should be able to overlook small misspellings &
            typos and deliver relevant results instead of taking users to a “did you mean page”. This doesn’t break the
            user’s flow and keeps their purchase intent intact.
        </li>

        <p style="list-style: none; margin-top: 20px; margin-bottom: 20px;"><img src="../../img/blog/typo-tolerance.gif" alt="Typo Tolerance"></p>

        <li><b>Facets -</b> For a complete search experience, categories should appear on the left or the top of the
            page. There can also be popular categories that appear on top of the search results page. This gives the
            user a guide as to what products they can expect to find in your store.
        </li>

        <li style="list-style: none; margin-top: 20px; margin-bottom: 20px;"><img src="../../img/blog/search-breadcrumbs.png" alt="Search BreadCrumbs"></li>

        <p>They also help customers <a href="/features">reduce irrelevant search results</a>. You can improve the experience by using dynamic
            filters that change according to the search query and do not require the page to reload when they are
            changed.
        </p>

    </ol>


    <div class="post-title">

        <h4 class="mt10">Counteractive Measures</h4>
    </div>

    <p>Before you continue, understand that you must clarify to your customers that you could not find results for the
        search query. Having an open communication channel with your customers is crucial to building trust.
    </p>

    <ol class="number">
        <li><b>Display Popular Products -</b> Promote your store’s best sellers or high revenue items. Even though they
            might not be what the user is looking for, they might get interested nonetheless.
        </li>
        <li><b>Show Related products -</b> Display results for products that frequently appear in searches as the
            keyword with zero search results. This way, you can keep them interested for longer.
        </li>
        <li><b>Expand your product lines -</b> If you’re seeing heavy traffic searching for a product you do not carry,
            you might think of expanding your catalogue as your clientele looks like it expects you to have this item in
            stock.
        </li>
        <li><b>Alter your SEO and Marketing strategy -</b> Another reason why you might be getting many zero result
            queries might be because you’re attracting the wrong traffic on your platform. Using search analytics data,
            you can see which search queries are converting the most and build your SEO and marketing strategy around
            it.
        </li>

    </ol>

    <div class="post-title">

        <h4 class="mt10">Conclusion</h4>
    </div>

    <p>Ignoring zero results data is a big oversight for e-commerce businesses who are so focused on cart-related
        metrics that they don’t look at the path leading up to check out. Optimizing this journey so that you can
        minimize on drop-off is a very important step in increasing conversions and retaining customers. If your
        e-commerce search has more than 7% of total queries resulting in zero search pages, then you have plenty of room
        for improvement.
    </p>
    <p>You should take care when you choose to undertake this project. These results will not be achieved overnight.
        There is also a high chance that you might not be able to configure these changes with your current search.
    </p>
    <p>While the tips described above are a strong start, an e-commerce platform should not stop experimenting in other
        ways they handle zero results pages.
    </p>

</div>