---
title: 10 easy tips to help your e-commerce store get a better mobile search UX
description:
layout: layout-blog
permalink: blog/22-ways-to-increase-conversions/
---

<div class="post-snippet mb64 pt0">
    <ul class="post-meta mt0 mb0" style="opacity:0.8; font-size:12px;">
        <li>
            <i class="ti-calendar"></i>
            <span>
                          03rd Dec, 2018
                                        </span>
        </li>
        <li>
            <i class="ti-timer"></i>
            <span>8 minutes to read</span>
        </li>
    </ul>


    <div class="post-title">

        <h4 class="mt10">22 point checklist about increasing conversions for your e-commerce store

        </h4>

    </div>
    <div class="blog-detail-img">
        <div class="blog-detail-img"><img class="mb24" alt="Increase Conversions"
                                          src="../../img/blog/increase-conversions.jpg"></div>
    </div>
    <ul class="post-meta mt0">

        <li>
            <i class="ti-tag"></i>
            <span>Tagged as
                                            <a href="#">E-commerce Tips
</a>
                                        </span>
        </li>
    </ul>


    <ul class="social-share pull-right">
        <li><span>Share  </span></li>
        <li>
            <a href="#" class="twitter"><i class="fa fa-twitter jssocials-share-logo"></i></a>
        </li>

        <li>
            <a href="#" class="linkedin">
                <i class="fa fa-linkedin jssocials-share-logo"></i>
            </a>
        </li>

        <li>
            <a href="#" class="facebook">
                <i class="fa fa-facebook jssocials-share-logo"></i>
            </a>
        </li>

    </ul>


    <hr>

    <p>You are no doubt thinking about how to increase your e-commerce stores conversion rates a lot of the times. Is it
        growing as per your expectations? What can you do to differentiate your site? How will your next marketing
        activity affect your bottom line?
    </p>

    <p>With platforms like Shopify or Magento or Bigcommerce, setting up an e-commerce store is easier than ever.
        Becoming profitable is the challenge where most stores stumble. A study reported that for many stores,
        e-commerce conversions were close 1-3%. Even if your store's conversion rates are higher than the industry
        average, doesn’t mean there is no room of improvement.
    </p>

    <p>That is where conversion rate optimization (CRO) comes in. Studying CRO techniques can improve every aspect of
        user experience on your site as every interaction that leads up to a purchase, has helped nudge the user along
        the sales funnel.
    </p>

    <p>In this article, we’ll ask you some questions and understanding them will help you increase conversions for your
        e-commerce platform and boost sales and revenue.
    </p>

    <h4>1. Are your analytics in place?


    </h4>

    <p>Given how important data is for CRO, having various analytics like for facebook, google and site search is
        essential. It is the best way to understand the path that users take to get on your website and how they
        interact with it. It also provides valuable input by creating a visualization of the checkout journey of your
        store. This is the first step because you need to understand how the changes you make are affecting your
        audience and their behaviour.
    </p>

    <h4>2. Is your site loading speed frustrating visitors?


    </h4>

    <p>One of the biggest reasons for people abandoning e-commerce sites is slow loading times. 53% of visitors lose
        interest if site loading times are over 2 seconds. The reasons could be large images, too many plugins or poor
        server performance. You can check how your site will perform on both mobile and desktop by testing it on Google
        PageSpeed and get an idea where you can improve.
    </p>

    <h4>3. Can your store handle traffic from mobile?
    </h4>

    <p>Mobile has seen a tremendous increase in both traffic and revenue. To ignore them would be a huge mistake for any
        business. With users coming from a variety of operating systems and varying screen size, your site should be
        capable of handling this traffic. Having responsive pages that adjust according to screen dimensions is
        imperative for this audience.
    </p>


    <a href="http://uat.gas.ind.in/searchtap/demo/10-tips-for-a-better-mobile-search-UX.html" class="mb15"> <img
                alt="Mobile Search UX" src="../../img/blog/mobile-search-ux-redirect.png"></a>


    <h4 class="mt32">4. Is your site search showing relevant results?

    </h4>

    <p>Whether the traffic is coming from mobile or desktop, the best way they can quickly find what they are looking
        for is by using the search bar. Search users are high intent users and are more likely to convert and contribute
        close to 40% of revenues. Make sure your search box is easily accessible to cater to them. Having a capable
        e-commerce search makes a users journey seamless with technologies like search as you type and typo tolerance.
    </p>

    <h4>5. Are you marketing to the right audience?
    </h4>

    <p>Search engines show results based on how relevant it thinks your content is to a search query. If you haven’t
        tagged your products correctly your site will attract irrelevant traffic that will either bounce or not convert.
        You need to rework your SEO strategy. A great asset that can help with this is the data you receive from your
        sites search analytics as it is a direct communication with your customers.</p>

    <h4>6. Is your visual design overwhelming?


    </h4>

    <p>Customers love visiting sites with simple and easy to navigate interfaces. One of the key elements of this is the
        navigation bar with the various categories and search bar. With a sticky navigation bar, a user doesn’t have to
        spend time scrolling the page and can simply jump to another category or search a product easily.
    </p>

    <h4>7. Are you using high-quality images?

    </h4>

    <p>By high-quality images, we mean images that show off the important aspects of the product. Users will make a
        decision to buy on the limited information presented to them by your site. The better the product images look,
        higher the chance the page has of converting. Allow users to be able to zoom and get a detailed view. You may
        even try to experiment and add video and see how your audience is reacting to that.
    </p>

    <h4>8. Are your product descriptions persuasive?

    </h4>

    <p>As users have to base their buying decision on information presented by the site, a product description goes a
        long way in helping conversions. Look at the problem from the perspective of the shopper - why would they be
        interested in buying that one t-shirt out of the hundreds on your store? It is especially more important in the
        case of highly technical products. You can also include a faq section to help clear doubts. While this may be
        time-consuming, it is well worth the effort.

    </p>

    <h4>9. Are you leveraging your customer’s social media?
    </h4>

    <p>Creating social proof is difficult for a new brand but very essential. Being able to see how others are buying
        and enjoying your product influence buying behaviour. Having social media buttons to share user reviews
        increases your brand’s exposure to their social circle as well. Be mindful of how you deal with criticism on
        social media as they can easily blow out of proportion.
    </p>

    <h4>10. Does your store have a clear CTA?
    </h4>

    <p>It is crucial to have clear and concise calls to action (CTAs) so that you can guide your site users what to do
        next. It is more than just what If your “add to cart” or “buy now”buttons are prominent and do not overlap with
        other aspects of your design. Experiment with the colour, size and placement to see what works.
    </p>

    <h4>11. Are you merchandising you best sellers?
    </h4>

    <p>Your e-commerce platform must be able to engage and entice a visitor when they land on your website’s homepage.
        Think of it like walking into a brick and mortar store and how you are able to see the store’s new product
        ranges along with promoted products. Having a carousel showing pictures of your best sellers is not enough
        though, you have to make sure that the copy is interesting to a visitor.
    </p>

    <h4>12. Are you promoting your sales section?
    </h4>

    <p>Shoppers are very price sensitive and some only buy when an item is on sale. Having a special tab on your
        navigation bar so people can access these items quickly becomes very important in getting them to convert. Don’t
        put most of your catalogue on sale at the same time as that can set a dangerous precedent.
    </p>

    <h4>13. How do you handle returns?
    </h4>

    <p>Many shoppers are wary of buying from sites that do not support returns. It shows that the e-commerce store is
        trustable and committed to customer satisfaction. Having a small badge on product pages promoting your return
        policy is a great step. Clarify how you will handle cases where orders are cancelled or there is a glitch in the
        payment system to bolster customer confidence.
    </p>

    <h4>14. Who is paying for the shipping?

    </h4>

    <p>You may be surprised to hear that close to 70% cart abandonments are happening because of shoppers bearing the
        shipping costs. People hate paying for hidden fees and it can have a major negative impact on your conversions.
        In case you are already offering free shipping, include the information on the product page. Be open about your
        shipping policy with your customers.

    </p>

    <h4>15. How do you help customers?</h4>

    <p>Visitors on your site are busy and don’t have the time to hunt for your email or phone number just to ask some
        questions. Not to mention having them go off-site could mean the loss of a sale. Having a live chat gets them in
        touch with one of your sales rep within seconds. It is quickly becoming how most of your shoppers prefer to
        interact online.

    </p>
    <h4>16. Can your customers say no to this offer?</h4>

    <p>Use tripwire promotions to help build trust with new customers. These are high value, low price promotions that
        are meant to tease the value your store can offer a regular. They might be a limited period offer to attract new
        visitors. This is a great way of increasing your email list and you can try to upsell these customers later.


    </p>
    <h4>17. Are you setting up limited period offers?
    </h4>

    <p>Having flash sales and other limited period promotional offers help create a powerful sense of urgency with your
        users. Don’t engage this tactic as frequently as it may come off as manipulative. Show when stock is running low
        for a particular product along with a CTA of “before stock runs out” etc.</p>

    <h4>18. How easily can new users login?</h4>

    <p>Sign-up and login processes can also be interrupting the checkout process. You can make it easier for your
        customers by having social logins. This shares basic user information with you without the customer having to
        fill out forms and verifying the email. This way they don’t need to create separate user id and password and as
        they have already logged in a reliable website. Your e-commerce site can also obtain a profile of the user if
        you want to personalize for them later on.
    </p>

    <h4>19. How long is the checkout process?
    </h4>

    <p>Having a long and complicated checkout spanning many pages gives that many chances for a user to drop-off. Try
        using single page checkout that lists all relevant information like billing and shipping addresses, payment
        options, and shipping information on the same page. As a general hygiene tip, including product images and
        security trust seals on this page also helps.
    </p>

    <h4>20. Are you remarketing?</h4>

    <p>It is very rare that first-time visitors complete a transaction on your site. Remarketing ads with the products
        is used to show users who have left your site what they are missing out on. Reaching out to this audience will
        have a large impact on your sales. Setting up remarketing ad campaigns for certain pages will greatly help
        increase their conversions.
    </p>

    <h4>21. Are you reaching out to the abandoned carts?</h4>

    <p>Don’t ignore those shoppers with items still in their cart. A great way to re-engage with them is to reach out
        over email. Have a drip activity set to get in touch with them, for example, sending a reminder on the first
        day; warding about the cart expiring in the second day; a promotional code to help complete the sale on the
        third day. Be careful with dealing with them as it would be easy to game this system.

    </p>

    <h4>22. Are you using your email list?
    </h4>

    <p>Newsletters are a great way to keep your customers up to date or re-engage with your e-commerce platforms latest
        offerings and promotions. Make sure that you don’t send them too frequently as you may come-off as spammy. Once
        or twice a month is more than enough. You can also entice visitors on your site to join your email list by
        offering them promotional codes. Make sure you specify the option to unsubscribe from the newsletter as well.


    </p>

    <div class="post-title">

        <h4 class="mt10">Conclusion

        </h4>

    </div>

    <p>While these questions are a great place to start, there are many modifications you can make to suit your
        business. These strategies will be difficult for any e-commerce business to implement but they are well worth
        the effort. In fact, they are necessary to implement if you want to be able to set yourself apart from the
        competition.
    </p>
    <p>Identify the areas that need minor improvement to start with and work on improving those. Measure the effect on
        your bottom-line at each stage to know how far you’ve come. Once you’re satisfied then move on to the next.
    </p>


</div>

