---
id: 3
title: 5 Reasons to track revenue with enhanced e-commerce tracking
description:
layout: layout-blog-post
permalink: blog/5-reasons-to-track-revenue-with-enhanced-e-commerce-tracking/
---

<div class="blog-content">

    <p>Google Analytics’ goal tracking itself is an important metric. That is not under contention.
        Where it does go wrong is when people make the mistake of relying on goal tracking for revenue
        analytics. It just doesn’t give the complete picture of user interactions on a website.

    </p>
    <p>Take for example a goal set for “order confirmed” page. Suppose there are 500 sessions with
        “order confirmed” page in a given week and the total revenue that week was $ 5000. The goal
        value of the “order confirmed” page will be $10/session (5000/500). But does this mean that all
        500 orders were for $10? Does this take into account how many orders were being placed in a
        single session? What about how many times a user visited the page to view the product?

    </p>
    <p>These reasons and many more helped in accepting enhanced e-commerce tracking as a better measure
        of your e-commerce revenues.

    </p>

    <div class="post-title">

        <h4 class="mt10">Common mistakes associated with Goal Tracking as revenue metrics
        </h4>

    </div>

    <p>Goal tracking is a very important metric to understand some one-time events a user may do on your
        website. It’s important for any business to measure metrics like new accounts, newsletter
        sign-ups, and similar user engagement metrics. Where some e-commerce falter, is using these
        metrics in place of revenue metrics that are a part of e-commerce tracking.

    </p>

    <p>We’ve already talked about the first shortcoming by way of the dynamic nature of goal value. It
        requires constant monitoring as it can become outdated quickly.

    </p>

    <p>Another flaw leading out from this is that once you set a goal value, it sees all transactions as
        being the same value. After all, a $10 product is not generating the same revenue as a $50
        product. Depending on this transaction value blindness as a revenue metric can lead to varying
        inaccuracies in your revenue reports.

    </p>
    <p>The other major flaw with goal tracking as revenue metric is that it will register unique events
        only. A user could be checking the same product within the same session 2-3 times but will be
        counted as a single page view. It doesn’t matter how many items a user may be ordering without
        leaving the website, only one goal will be triggered for the given session.

    </p>
    <p>As you can see, when it comes to tracking revenue, goal tracking leaves much to be desired. For
        this reason, e-commerce platforms now use enhanced e-commerce tracking.

    </p>
    <p>Before we get to the advantages having enhanced e-commerce can have, first we have to clear up
        another confusion when it comes to revenue tracking.

    </p>

    <div class="post-title">

        <h4 class="mt10">What is Enhanced E-Commerce tracking and how is it different from Standard
            E-commerce tracking?

        </h4>
    </div>

    <p>When you will be setting up e-commerce tracking, you will be given the choice of either Standard
        or Enhanced E-commerce tracking. While there is a quick explanation on the Google Tag Manager
        Page, that tells you that Standard tracks transactions on the “order confirmed” or “thank you
        pages” only. Enhanced e-commerce tracking, on the other hand, tracks transactions from the
        moment an item is added to cart all the way to the transaction page.

    </p>

    <p>It also allows you to check additional metrics like impressions, create funnels of the checkout
        process of a user on your website and even access to more reports like Product performance and
        Sales Performance among others.

    </p>

    <p>Now with that out of the way, let’s look at some advantages your analytics will get when you
        start using enhanced e-commerce tracking.

    </p>

    <div class="post-title">

        <h4 class="mt10">5 Reasons you should switch to Enhanced E-commerce Tracking


        </h4></div>

    <p><b>Unique v/s Transaction:</b> The biggest limitation that Goal tracking runs into is that it
        tracks unique events only. Track down to the transaction level with e-commerce tracking. This
        helps in keeping revenue information as accurate as possible.

    </p>

    <p><b>Conversion Timing Reports:</b> Get insights into user behaviour with e-commerce tracking and
        looking at Time to Purchase reports – track days to transaction and sessions to transactions of
        different products.</p>


    <p><b>Revenue Reports:</b> Understand revenue per transaction or even down to the product SKU and
        use this data to optimize marketing efforts.

    </p>

    <p><b>Set-up Sales Funnel:</b> The sales funnel is an important part of optimizing the checkout
        process. You can further segment it according to your needs like devices, browsers or
        source/medium.</p>
    <p><b>Product Reports:</b> With reports like Items per Purchase and Item Quantity, you can give
        better suggestions to your customers about what products usually get bought together.

    </p>

    <p>As you see, enhanced e-commerce tracking lets you gather multifaceted data on how users interact
        with your website along with the products listed on your website. With this, you can look into
        your revenue streams carefully and examine how you can best carry out your future marketing
        activities.

    </p>
    <p>As digital marketing is an iterative field, the results of any activities affect all future
        activities and armed with the data from both enhanced e-commerce and goal tracking, you can
        power-up your marketing like never before. Get started today. Keep in mind you might need the
        help of your developer or implementation expert if you’ve never worked with Google Tag Manager
        before.

    </p>


    <p>Want to know a great way e-commerce and B2C brands are increasing revenue? Its refining and
        optimizing their e-commerce search. You can find out how this is helping them in our
        <a href="https://www.searchtap.io/features/">product features</a> page or contact us anytime at
        <a href="mailto:hello@searchtap.io">hello@searchtap.io.</a>

    </p>

</div>