---
title: Search as you type can increase conversions for e-commerce business
description:
layout: layout-blog-post
permalink: blog/evolution-of-search-as-you-type/
published_date: 27th Oct, 2018
read_time: 4
blog_title: Search as you type can increase conversions for e-commerce business
image_name: evolution-of-search-as-you-type.jpg
image_alt: Evolution of Search as you Type
tags: [Site Search]
---

<div class="blog-content">

    <p><a href="https://techobserver.in/topic/e-commerce/" target="_blank">E-commerce</a> search users don’t just want
        to see results for their search queries, they want to see them before they are able to finish typing them. The
        current stage of
        <a href="https://techobserver.in/2018/09/08/is-technology-pushing-us-towards-a-jobless-future/" target="_blank">search
            technology</a> can offer them just that in the form of search as you type. Search as you type functionality
        predicts that most likely completion and shows users the most appropriate results for the query.

    </p>

    <p>While some e-commerce companies believe that Auto-complete is the be-all-end-all solution for their platform,
        developments in search technology have progressed to a more refined search experience. It has gone through many
        iterations to be able to fetch relevant search results in the blink of an eye. Let’s take a quick glance at what
        lead to these changes coming about.

    </p>


    <div class="post-title">

        <h4 class="mt10">Evolution of E-commerce Search
        </h4>

    </div>


    <h5>Auto-complete

    </h5>

    <p>Developed over a decade ago, Auto-complete is the first generation of site search. This technology prompts
        certain <a
                href="https://techobserver.in/2018/10/01/real-estate-sector-tryst-with-technology-proptech-is-disrupting-every-aspect-of-construction-business/"
                target="_blank">words based</a> on part of a keyword entered and shows users the completed query. Eg.
        prompting “printer” when typing “prin”.

    </p>

    <h5>Disadvantages</h5>

    <ul class="bullets">
        <li>Only helps complete specific words in a search query
        </li>
        <li>Because Auto-complete suggestions are usually based on previous searches, they can have repeated suggestions
            or suggestions that lead to dead ends disrupting user momentum.
        </li>
        <li>There can also be some suggestions that may not even appear if search volume is low.
        </li>
    </ul>

    <h5>Auto-suggest

    </h5>

    <p>The second step, Auto-suggest gives a list of text add-ons to augment a keyword instead of simply completing it.
        It helps users to see alternatives to their search query. Eg. suggesting “printer for home” and “printer for
        work” when typing “prin”.

    </p>


    <div class="post-title">

        <h4 class="mt10">Search as you type</h4>

    </div>

    <p>Also called instant search, search as you type greatly increased the efficiency of e-commerce searches. Search as
        you type reduces friction by showing results to the user while they are still typing out their whole query. This
        is the smooth search experience that
        <a href="https://techobserver.in/article/gadget/germanys-blaupunkt-aims-rs-500-crore-business-in-next-12-months-from-indias-smart-tv-market/"
           target="_blank">e-commerce businesses</a> would want for their platform.

    </p>

    <div class="post-title">

        <h4 class="mt10">How search as you type can help your e-commerce platform
        </h4>
    </div>


    <p>A well-implemented e-commerce search with search as you type will:

    </p>

    <ul class="bullets">
        <li>Decrease time to get to search results – It reduces the search query process to 2-5 seconds from 30-90
            seconds when using Auto-complete or Auto-suggest.
        </li>
        <li>Show predictive results – Predict what the user will be searching for and give relevant search as soon as
            typing starts.
        </li>
        <li>Change results display dynamically – As the search user’s query changes, so do the results that were being
            shown.
        </li>
        <li>Enhance user experience – The easier it will be for a customer to find their desired product, the better
            will be their time spent on your e-commerce site.
        </li>
    </ul>

    <p>By showing a thumbnail and some basic information (like price, rating, etc.), e-commerce search users can
        directly jump on the page of a specific product that interests them. By being able to capitalize on the buying
        intent of a search user, your e-commerce business would be able to increase its conversions and revenue.

    </p>

    <p>For an e-commerce search, the aim should be to show it’s users relevant products. Search as you type technology
        delivers these results with each keystroke. Its speed makes it faster and easier for search users to find what
        they are searching for and for your e-commerce store to convert them into customers.

    </p>


    <div class="post-title">

        <h4 class="mt10">Help your search hit the bullseye
        </h4>

    </div>

    <p>A responsive and accurate search leads to a better search experience and that consequently leads to higher
        conversions. There are basic search hygiene exercises that you can do to make sure that search, as you type on
        your e-commerce platform, is able to perform at its peak. Some of them are:

    </p>

    <ul class="bullets">
        <li>Dynamic Filters – Also known as dynamic faceting. As a user’s search query changes, those changes are
            reflected in the product filters (category, sub-category, price, etc.) on your site. This allows users to be
            able to search in better detail without dealing with inapplicable categories.
        </li>
        <li>Synonyms and Broad Match – Synonym errors happen when a user searches a product with an alternate name that
            you may not have known about. Broad match errors take place when the plural or singular form of a word is
            searched for by a user. Setting up these related terms ensure that your search is able to return relevant
            results.
        </li>
        <li>Typo Tolerance – In today’s hyper-mobile world e-commerce search users have come to expect a certain level
            of typo tolerance. Instead of taking them to “did you mean..” page, an e-commerce platform should be able to
            understand the intention of the search user’s query and appropriate results.
        </li>
    </ul>


</div>

