---
title: Ignoring e-commerce search can cost you sales
description:
layout: layout-blog
permalink: blog/ignoring-e-commerce-search-can-cost-you-sales/
---

<div class="post-snippet mb64 pt0">
    <ul class="post-meta mt0 mb0" style="opacity:0.8; font-size:12px;">
        <li>
            <i class="ti-calendar"></i>
            <span>
                          09th Nov, 2018
                                        </span>
        </li>
        <li>
            <i class="ti-timer"></i>
            <span>6 minutes to read</span>
        </li>
    </ul>


    <div class="post-title">

        <h4 class="mt10">Ignoring e-commerce search can cost you sales
        </h4>


    </div>
    <div class="blog-detail-img">
        <div class="blog-detail-img"><img class="mb24" alt="Ignoring e-commerce search can cost you sales"
                                          src="../../img/blog/search-can-cost-you-sales.jpg"></div>
    </div>
    <ul class="post-meta mt0">

        <li>
            <i class="ti-tag"></i>
            <span>Tagged as
                                            <a href="#">Site Search
</a>
                                        </span>
        </li>
    </ul>


    <ul class="social-share pull-right">
        <li><span>Share  </span></li>
        <li>
            <a href="#" class="twitter"><i class="fa fa-twitter jssocials-share-logo"></i></a>
        </li>

        <li>
            <a href="#" class="linkedin">
                <i class="fa fa-linkedin jssocials-share-logo"></i>
            </a>
        </li>

        <li>
            <a href="#" class="facebook">
                <i class="fa fa-facebook jssocials-share-logo"></i>
            </a>
        </li>

    </ul>


    <hr>

    <p><a href="http://time.com/12933/what-you-think-you-know-about-the-web-is-wrong/" target="_blank">15 seconds</a> is
        all the time that an e-commerce business has to successfully engage a visitor. All the time, energy and effort
        spent on your marketing campaigns and SEO efforts to get a visitor on your site and it could be all over in just
        15 seconds. Most common reason for a visitor to bounce off from your site is not being able to find anything
        relevant on it.
    </p>

    <p>For an e-commerce business, having a compelling user experience means that a visitor is enticed to engage with
        the platform. Site search is a key aspect of creating a great quality user experience. It is the quickest way
        for the visitors of an e-commerce site to get to the product they want to see or expect your e-commerce store to
        have.
    </p>
    <p>Search users are generally 5-6 times more likely to convert than non-search users. An e-commerce business that
        can take advantage of their high purchasing intent is bound to increase their conversions to a great extent.
        We’ve seen with our customers, that close to 30% of a store’s revenue comes from search users.
    </p>


    <div class="mb15">
        <img src="../../img/blog/searchTap-client-analytics.png" alt="SearchTap Clients Analytics" class="img-responsive mt10">
    </div>

    <p class="mt32">In spite of the revenue contributions, an e-commerce search tends to be an ignored aspect of an
        e-commerce site. Not having a well-implemented site search is going to cost you revenue each and every day.
    </p>

    <div class="post-title">

        <h4 class="mt10">How are users of your e-commerce platform interacting with search

        </h4>

    </div>

    <p>Looking over our data here are some interesting observations we found about e-commerce search users-
    </p>

    <ol class="numbers">
        <li>They contribute to almost 34% of all page views
        </li>
        <li>They spend almost 3x time on the website than non-search users
        </li>
        <li>They have a very low bounce rate
        </li>
        <li>They have a very high number of pages/session
        </li>
    </ol>

    <p>As you can see, users who engage with an e-commerce search are typically high intent customers. With more than
        <a href="https://econsultancy.com/site-search-for-e-commerce-13-best-practice-tips/#i.e6bb0iahterern"
           target="_blank">30% of e-commerce users interacting with the site search</a>, it makes sense for e-commerce
        businesses to divert attention and resources to optimise their search.
    </p>
    <p>Improving your site search to better serve these users is a sure fire way to increase conversions and revenue for
        your store. Not only are they more easily converted, but having a good search experience can make them into
        advocates for your e-commerce brand.
    </p>
    <p>You must’ve also noticed that there has been a shift in the way a user is interacting with e-commerce businesses.
        According to one study,
        <a href="http://blog.radware.com/applicationdelivery/applicationaccelerationoptimization/2014/01/55-web-performance-stats-youll-want-to-know/"
           target="_blank">55% of the time being spent on e-commerce sites</a> happens on mobile. We’ve had a large
        number of search queries coming from mobile devices. So even with the change in popularity of a platform, site
        search has remained a very useful tool for visitors. A competent e-commerce solution should also be able to
        perform well on these devices regardless of operating system and screen resolution.
    </p>

    <div class="post-title">

        <h4 class="mt10">Challenge of site search on mobile

        </h4>
    </div>

    <p>Mobile has changed the way users interact with an e-commerce platform. The most noticeable challenge is the
        reduced screen size. Since a user can only see 2-4 products on screen at a time, they use the search bar to
        shorten the journey to the desired product. Businesses recognize that with shorter purchase journey and
        attention spans on mobile, having a competent e-commerce search will help catch intent better.
    </p>

    <p>Mobile users also tend to be impatient having a <a
                href="http://www.gorocketfuel.com/the-rocket-blog/whats-the-average-bounce-rate-in-google-analytics/"
                target="_blank">very high bounce rate.</a> With the convenience offered by mobiles, they can just as
        easily jump to a competitor. That is why e-commerce businesses have to ensure a precise search experience to not
        drive these users away.
    </p>

    <p>Screen space is another aspect that is scarce on mobile. According to Grammarly, people make up to
        <a href="https://www.grammarly.com/blog/mobile-communication-study/" target="_blank">five times the errors on
            mobile</a> than compared to PC. From the search user’s side, being taken to a zero results page as a result
        of a small typo would be very frustrating. Getting them on your platform is only half the battle, what separates
        you from your competitors that will make users willing to stay.
    </p>
    <p>Not putting in the time and effort today for getting a good search experience on your site today is going to cost
        you not only revenue but opportunities down the road.
    </p>


    <div class="post-title">

        <h4 class="mt10">Recommended features for an e-commerce search
        </h4></div>

    <p>Whether you are optimising for desktop or mobile, these points are what will help make your e-commerce search
        give accurate results and will go a long way in making the search experience unforgettable.
    </p>

    <ol class="number">
        <li><b>Search as you type -</b> Instead of making a user type out the entire search query and then taking them
            to the search results page, show relevant results as soon as they start typing.
        </li>
        <li><b>Typo Tolerance -</b> A good site search should be able to handle typos search users make and show them
            relevant results instead of taking them to a “did you mean…” or zero results page.
        </li>
        <li><b>Broad Match and Synonyms -</b> Users often make searches using alternate names or mistakenly using
            singular/plural forms. While you can tag synonyms to the correct products, your e-commerce search must be
            able to give accurate results for broad matches.
        </li>
        <li><b>“Back to Top” button -</b> If a user needs to refine or edit their query after seeing a lot of results,
            having a “back to top” button allows them to quickly re-engage with the search.
        </li>
        <li><b>Dynamic Filters -</b> Users can change the parameters of their search without having to reload the page.
            These filters should also appear as soon as the user starts typing and should be relevant to the search.
        </li>
        <li><b>“Quick Buy” button -</b> Having this button allows users to initiate the checkout process as soon as they
            find the product they want. It reduces the steps in the typical checkout process.
        </li>
        <li><b>Set up Site Search Analytics -</b> Enabling Site Search Analytics helps you get a deeper understanding of
            what your users search for on your website and what results are they getting. You can then check which
            products are getting the most bounces or conversions and work on improving your store.
        </li>
    </ol>

    <div class="post-title">

        <h4 class="mt10">Conclusion
        </h4></div>

    <p>Most e-commerce solutions often use basic or unoptimised e-commerce search solutions. Then after not seeing it
        have much of an impact on their bottom-line, they move on to what they feel will be a better use of their
        resources. E-commerce search goes a long way in ensuring users on your platform are able to get to the results
        as quickly as possible.
    </p>
    <p>The search bar has taken on the role of the salesperson when it comes to the modern e-commerce store. Often the
        first interaction of a customer, it guides your customers through your marketplace, getting rid of the clutter
        to show them what they are searching for.
    </p>

</div>