---
id: 23
title: 'Page Load Speed: The missing piece in your conversion optimization puzzle'
description:
layout: blog-main
permalink: blog/page-load-speed/
---

<div class="blog-content">

    <p>
        Performance optimization is a great way for eCommerce businesses to improve their SEO and conversions at the same time. As the name implies, this activity focuses on making websites load, render and respond faster.

    </p>

<p>
    But why is this so important? According to a <a href="https://neilpatel.com/blog/loading-time/" target="_blank">study by Kissmetric</a>, 47% of website visitors expect a webpage to load in under 2 seconds. Further, at least 40% of visitors will bounce from a site that takes more than 3 seconds to load.

</p>

<p>
    This statistic should be worrying for store owners as most of the eCommerce traffic comes from mobile where load speed is even more crucial.
    <a href="https://think.storage.googleapis.com/docs/mobile-page-speed-new-industry-benchmarks.pdf" target="_blank">Google’s mobile page load study</a> found that each second of loading adds to the chances of a visitor bouncing from a site.

</p>




    <img src="../../img/blog/page-load-time-graph.png" class="img-responsive mb0" style="max-width: 600px;">
    <small class="mb24" style="display: block;">Source: Find Out How You Stack Up to New Industry Benchmarks for Mobile Page Speed, Google, 2017
    </small>





    <div class="post-title">

        <h4 class="mt10">Why Performance Optimization matters


        </h4>

    </div>


    <p>

        Performance optimization has a large sphere of influence and impacts everything from SEO to engagement and conversion metrics of a website.
        <a href="https://skilled.co/resources/speed-affects-website-infographic/" target="_blank">A research of 12 case studies by Skilled</a> lead them to uncover these results:

    </p>

    <ul class="list-unstyled check-bullet">

        <li>79% “dissatisfied” with page load speed less likely to become repeat customers
        </li>
       <li>64% of smartphone users expect pages to load under 4 seconds</li>
        <li>47% online shoppers expect webpages to load in under 2 seconds
        </li>
        <li>11% pageviews are lost per extra second of load delay
        </li>
        <li>7% of revenue is lost for every one-second load delay</li>

    </ul>


    <p>
        This makes it clear that speed and site performance have become key to excellent user experience on eCommerce stores. Let’s have a look at some tools that will be a great help to you in tracking your performance.

    </p>

    <p>This enabled visitors to discover more of your site with less typing and increased search speed which leads to higher conversion. This technology was supported by strong typo tolerance as well and it delivered search results directly instead of taking people to a “did you mean page”. While these seemed like small improvements in UX, they had a big impact on conversion and revenue.
    </p>


    <div class="post-title">

        <h4 class="mt10">Best ways to monitor performance
        </h4>

    </div>


<p>If you want to understand how to improve performance on your website, the first step for you to take is analyzing how your store currently performs. Below is a list of sites that not only conduct some tests but also give you a list of suggestions you can work on.
</p>

<ol class="number">

    <li><a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank">https://developers.google.com/speed/pagespeed/insights/</a></li>
<li><a href="http://www.webpagetest.org/" target="_blank">http://www.webpagetest.org/</a></li>
    <li><a href="http://yslow.org/" target="_blank">http://yslow.org/</a></li>
    <li><a href="https://gtmetrix.com/" target="_blank">https://gtmetrix.com/</a></li>
    <li><a href="https://www.giftofspeed.com/" target="_blank">https://www.giftofspeed.com/</a></li>


</ol>

    <p>
        Based on the common suggestion for upcoming online retail stores, we’ve compiled a list of techniques that you can execute to optimize your store. The most important step, as with all optimization activities, is measuring the impact of the changes you make. This way you will be able to narrow down on which areas are having the most positive impact on your store and focus on them.

    </p>


    <div class="post-title">

        <h4 class="mt10">Improve your CDN usage</h4>

    </div>

<p>
    Content Distribution Networks (or CDNs) are a geographically distributed group of servers that work together to spread the delivery load of content through the closest server to your visitor’s location.

</p>

    <p>
        Shopify stores have a bit of an advantage here thanks to its in-house CDN and it even has the option for integrating with third-party CDNs for scalability. Stores on other platforms can choose a specialized CDN to better serve your target geography. Have a look at your <b>Audience > Geo > Location</b> report to get a clear picture of where your audience comes from.

    </p>

    <p>The rising popularity of product videos with eCommerce stores has contributed to the rising page load times. It’s recommended to upload them on a dedicated video server like
        <a href="https://www.youtube.com/" target="_blank">Youtube</a>, <a href="https://vimeo.com/" target="_blank">Vimeo</a>, or
        <a href="http://wistia.com/" target="_blank"> Wistia</a> instead of keeping them on your CDN. These video sharing sites work perfectly well with any eCommerce platform you’re using. This way you can free up server space by decreasing your page size by using external platforms to host videos.
    </p>


    <div class="post-title">

        <h4 class="mt10">Optimize & compress images

        </h4>

    </div>

<p>
    The dilemma with eCommerce sites is that they like to use high-resolution images to appeal to customers but that ends up having a huge impact on page load speeds. What some of them fail to realise is that not all images need to be high-quality images. It’s also good practice to always use images with correct dimensions whenever possible. For example, for header images, use an image with the exact width of the page rather than a full-sized one.
</p>

    <p>As image sizes depend on both its dimensions and image quality, stores should use tools that compress image sizes without compromising on quality. What happens when your images get compressed is that the image is stripped of unnecessary metadata from the file. Algorithms also work to reduce the number of colours in the image and combine data and similar patterns.
    </p>

 <p>
     There are plenty of free tools to help you optimize image sizes without losing quality like <a href="https://tinypng.com/" target="_blank">TinyPNG</a> or
     <a href="https://tinyjpg.com/" target="_blank">Tiny JPG</a>. With their paid versions you will be able to optimize images in batches as well.

 </p>

    <p>The speed of SearchTap’s results comes from storing the image links in our index instead of the image itself. That way our servers can deliver optimized results regardless of the size of the device of the search user anywhere in the world. If you’re using a CDN, then our geolocation will automatically route the query to the nearest data center to keep loading times to a minimum.</p>



    <div class="post-title">

        <h4 class="mt10">Minify your store’s CSS, HTML & Javascript files
        </h4>

    </div>

 <p>
     Minifying can help you shave off valuable time from your site’s page load speed. This process involves removing unnecessary characters in the source code like whitespaces, line breaks, comments, and block delimiters. Minification has quickly become quite prevalent and there are some simple steps you can take yourself!

 </p>

<p>
    For Javascripts, minification aggressively optimizes your code. There are many tools available online and one of the most widely used libraries to do so is called
    <a href="https://github.com/gruntjs/grunt-contrib-uglify" target="_blank">uglifyjs</a>. Other tools you can use are
    <a href="https://jscompress.com/" target="_blank">JSCompress</a> and <a href="https://javascript-minifier.com/" target="_blank">Javascript-Minifier</a>.

</p>


    <p>For minifying CSS for Shopify, it’s recommended that you create a copy of your theme before you take the steps below if you need revert any changes made:
    </p>

    <ol class="number">
        <li>
            Go to any of the performance testing sites we’ve mentioned above to find out any unminimised files. We’ve found that
            <a href="https://gtmetrix.com/" target="_blank">GTMetrix</a> works well.

        </li>

        <li>
            Any files that start with <b>cdn.shopify.com</b> are originating from your theme folder.
        </li>

        <li> <img src="../../img/blog/cdn.shopify.com.png" class="img-responsive mb0" style="max-width: 800px;"></li>
        <li>In your theme folder, any files named <b>scss.liquid</b> are already minified.
        </li>

        <li>Files named <b>css.liquid</b> are usually not minified.
        </li>

        <li>Simply change the name from <b>abc.css.liquid</b> to <b>abc.scss.liquid</b> and Shopify will handle the rest!
        </li>

    </ol>

    <p>If you want to manually minify your CSS, you can use tools like <a href="https://cssminifier.com/" target="_blank">CSS-Minifier</a> and
        <a href="https://github.com/stoyan/yuicompressor/blob/master/ports/js/cssmin.js" target="_blank">YUI compressor</a>.</p>

    <p>SearchTap’s integration makes sure that all assets such as CSS and javascript are minimized so that accessing the functionality is not hindered even on mobile networks.
    </p>


    <div class="post-title">

        <h4 class="mt10">Asynchronous Loading of Assets
        </h4>

    </div>

    <p>
        While we are on the technical side of the debate, don’t forget to make sure that any apps or plugins you are using on your store are loading asynchronously. Whenever your website is loaded, every app and plugin will make an HTTP request to load all its different elements like images, scripts, stylesheets, etc. When the extension has asynchronous loading, then that means it will only make these requests when it is interacted with.

    </p>

    <p>
        SearchTap makes use of this tactic by allowing your website page to load fully and when a search user makes a query, load all the necessary information. With asynchronous loading, apps delay their loading allowing other parts of the page to load until they are needed. This helps deliver a smoother customer experience for visitors across devices.

    </p>

    <div class="post-title">

        <h4 class="mt10">Don’t use sliders and carousels
        </h4>

    </div>

    <p>
        This might seem a bit surprising but studies have shown that sliders and carousels are not only <a href="https://searchengineland.com/homepage-sliders-are-bad-for-seo-usability-163496" target="_blank">bad for SEO</a> but also seem to
        <a href="https://www.nngroup.com/articles/auto-forwarding/" target="_blank">annoy customers</a>. It was also found that while it may seem that sliders are improving customer interactions, <b>only 1% of users actually made use of them</b>. Don’t believe us? Well someone felt strongly enough about the subject to create a
        <a href="http://shouldiuseacarousel.com/" target="_blank">page dedicated to convincing people not to use carousels</a>.

    </p>

    <p>
        These sliders are a big factor in increasing the bloat of your page and thus affect the overall load times. This also has a huge impact on the mobile page loads as well. Often the images used in carousels are very heavy and needlessly increase load times for people using mobile networks. This contributes to a higher bounce rate and the <b>7% decrease in conversion</b> due to a one second’s delay we mentioned earlier.
    </p>

    <p>
        Instead, performance optimization experts suggest using “Hero Layout” to draw the attention of visitors to high-quality hero images with clear CTAs.

    </p>

    <div class="post-title">

        <h4 class="mt10">Beware of excessive Liquid loops

        </h4>

    </div>

    <p>
        This last one is for Shopify stores. <b>Liquid</b> is a template language created by Shopify for website designers which combine static and dynamic content. This powerful language forms the backbone of all websites on Shopify. But there are cases when this language can slow down the page loading. The most common occurrence is called “for loop” and it takes place whenever someone makes use of the default Shopify search. This loop repeatedly executes a block of code across all the products in a collection until it finds the specific condition.

    </p>

    <p>
        At SearchTap, our goal is to <a href="https://www.sparq.ai/blogs/shopify-vs-sparq" target="_blank">reduce this time to just milliseconds</a>. Our indexing creates a virtual map of all your products and returns relevant results from the first keystroke improving engagement and conversion.

    </p>

    <div class="post-title">

        <h4 class="mt10">Conclusion

        </h4>

    </div>

    <p>
        Getting your page load times to where you want them to be is going to be a continuous process. Investing time in this activity will give your positive results on your bottom line very quickly. If you don’t know where to start, take help from some conversion experts. We have worked with some leading eCommerce enablers and would love to help you out if you want to connect with them.

    </p>

    <p>Remember to keep checking your site performance from time to time to check where you can improve!
    </p>

    <blockquote>
        <i class="italic-highlight">
            SearchTap.io has helped many e-commerce stores improve their site search but also increase search
            conversions by
            30-40%. You can learn more by
            <a href="/request-demo" target="_blank">booking a personalized demo</a> with us or
            emailing us at
            <a href="mailto:hello@searchtap.io">hello@searchtap.io</a>.
        </i>
    </blockquote>


</div>

