---
title: Personalization Isn’t Improving Your Customer Engagement
description:
layout: layout-blog-post
permalink: blog/personalization-is-not-improving-your-customer-engagement/
published_date: 27th Oct, 2018
read_time: 5
blog_title: Personalization Isn’t Improving Your Customer Engagement- Here’s Why
image_name: customer-engagement.jpg
image_alt: Customer Engagement
tags: [Personalization]
---

<div class="blog-content">

    <p>A big misstep small e-commerce companies make is thinking that personalization can help them achieve more
        conversions. This opinion greatly differs from the reality presented in a recent survey by Adobe. According to
        the study, more than
        68% of the respondents were indifferent or uninterested in the personalization efforts of websites.</p>

    <p>
        Given how implementing personalization functions can often be costly and time-consuming, this is not what you’d
        like to hear. With all the data collected by a store and the time and energy being spent on segmentation and
        marketing optimisation, people want to validate the effort they put into this project. Businesses, however, can
        become so fixated on this exercise that they begin to overlook other aspects of their sites that can possibly
        give them a better ROI.

    </p>

    <div class="post-title">

        <h4 class="mt10">Where Can Personalization Efforts Go Wrong?</h4>

    </div>

    <p>The biggest stumbling block of personalization attempts is data that feeds the exercise itself. It is very common
        for so-called bad data to become a part of your database and disrupt your efforts from the get-go. Any data that
        would be outdated or inadequate is generally called bad data.

    </p>
    <p>Data for an e-commerce business can get outdated within seconds. When a user comes on to your platform, they
        might be searching for one thing but end up changing their mind. Take for example a user who comes to your site
        and starts looking at a black dress but ends up purchasing a red dress instead. Later
        prompting them to buy the black dress that they were looking at. This ad is no longer relevant to this user.
        It’s very hard for technology to be able to capture complex changes like these.

    </p>

    <p>Inadequacy in data can lead to hindering personalization tactics as well. If you have only a few data points to
        create a portrait of your user, you’ll be left with a hazy picture at best. To be in a position to create a
        complete picture you must have access to multiple sources like social media channels, organic searches, user
        behaviour like – new or returning user, favourite categories and brands, prefered products, stage of the
        purchase journey, etc. Not having this data can leave big gaps in your buyer persona. Instead,
        e-commerce businesses should focus on providing users with a more relevant and reliable experience. Delivering a
        stable and superb user experience have had a better impact on conversion and revenue metrics.
    </p>

    <div class="post-title">

        <h4 class="mt10">Personalization Is Not The Key To Success
        </h4>
    </div>
    <p>The negative aspects of personalization on customer choice do not get talked about enough. Excessively relying on
        personalization efforts can lead to stereotyping of your users cutting them off from the diverse range of
        products that your e-commerce store offers. Just like you, users can in turn stereotype your store and only
        visit if they want to purchase that one product. Even with good personalization capability, this is a common
        pit-trap a lot of platforms fall into.

    </p>
    <p>A product is also never going to be universally popular and being bombarded with ads about it could even alienate
        a group of user. Selective exposure like this can lead to an increase in sales in the short term but can also
        lose customers quickly. This is because of decreased exposure of other products by biasing search results
        towards the “popular” ones.

    </p>
    <p>Personalization also runs into the problem of incorrect assumptions. It is near to impossible for data to be
        accurate and reliable. This means that marketers will have to make some assumptions when creating the buyer
        persona. These assumptions can be too broad or too narrow and thus not give an accurate picture of the users.
        Context is also an important part of these assumptions that get overlooked. Eg. items bought as gifts or for
        another buyer with different tastes.

    </p>


    <a href="/blog/get-higher-conversions-with-a-competent-site-search">
        <img src="../../img/blog/enhance-search-conversions-redirect.png" alt="Enhanced Search Conversion" class="mt10"></a>


    <div class="post-title mt10">

        <h4 class="mt32">What’s The Way Out?

        </h4></div>

    <p>Personalization is not a one-off marketing project. To be able to get relevant results, it’s going to take a
        heavy investment consistently and over a long term. With the increasing concerns about privacy, users are more
        and more reluctant to give out data that they feel is unnecessary to the transaction. A study by Pew Research
        Centre says that
        86% of the users have already started taking steps to mask or remove their digital footprints in order to avoid
        personalization.

    </p>

    <p>What is most important to an e-commerce user is relevancy of products being shown.
        74% of users have said that they get frustrated with sites showing content that they have no interest in. It’s
        not easy trying to get them back.

    </p>

    <p>The easiest way to personalise correctly is realising context and capitalising on it. Showing similar or
        compatible products to a user when they are on a product page will lead to better engagement. Cross-selling like
        this captures intent more accurately but has become come what underestimated in recent times.

    </p>
    <p>Searchandising is a method that is gaining traction with a lot of e-commerce stores. It involves boosting a
        product so that whenever a search query is entered for related keywords it also shows up. Eg. boosting the
        search results ranking for “jackets” to show up whenever a user searches for “winter wear”. As this happens at
        the backend, the product does not appear with a “promoted” tag and the user can interact with it naturally
        instead of
        ignoring it like an advertised product.

    </p>
    <p>Instead of merely following a trend, you should also take the time to introspect if the exercise will lead to
        significant improvements to your user experience. While the benefits of having a successful personalization
        campaign do sound exciting, many businesses report only minor improvements. Better results can be had instead by
        focusing your energies on delivering a competent website design and interface.

    </p>

</div>
