---
title: Why e-commerce platforms are choosing SearchTap.io over default Shopify search
description:
layout: layout-blog-post
permalink: blog/pre-and-post-implementation-shopify/
published_date: 09th July, 2018
read_time: 2
blog_title: Why e-commerce platforms are choosing SearchTap.io over default Shopify search
image_name: shopify-implementation.jpg
image_alt: Implementation of Shopify
tags: [Case Study, Site Search]
---

<div class="blog-content">

    <p>Shopify has enabled many entrepreneurs to take the first steps in their e-commerce journey. With setting up a
        store being only a few clicks away, It has had an equally large impact on the e-commerce environment as well.
        It’s no secret, however, that what Shopify only sets you off with is a very basic structure of a store. As the
        store grows, you will need to add other features for the collection of analytics, remarketing, heat maps, etc.
        One feature most stores fail to address at the proper time is the default Shopify search.
    </p>

    <p>E-commerce stores typically have up to 30% of their revenue come from search users. These users also make up
        about 25% of traffic for an e-commerce business. Ignoring a feature like a search bar on any e-commerce platform
        could have far-reaching consequences.
    </p>

    <p>With Shopify’s poor search experience, many e-commerce businesses are shifting to hosted e-commerce solutions.
        What matters to these platforms is having a better search experience leading to higher conversions and sales.
    </p>

    <p>Let’s take a look at what Shopify users run up against with the native Shopify search.
    </p>

    <div class="post-title">

        <h4 class="mt10">What is going wrong with the default Shopify search?</h4>

    </div>


    <h4>1. No control over search function
    </h4>

    <p>Shopify is not an open platform like Magento so an e-commerce store has only choices are using Shopify’s search
        or a custom search. There is no way to make any major changes to the default search algorithm. One of the few
        changes you can make is enabling the search function to consider tags and attributes when it processes a search
        query. However, there is going to be a lack of documentation due to proprietary code.
    </p>

    <h4>2. No partial matches
    </h4>

    <p>Shopify’s search uses the “AND” logic when it is processing search queries. This means that it will only match
        results when there is a complete match between the query and the product. Eg. searching for “blue” will not show
        results of “blueberry”. While the results may be more accurate, it doesn’t help when users don’t know the
        complete name.
    </p>

    <h4>3. No Typo tolerance

    </h4>
    <p>Another problem that arises with the default Shopify search using “AND” logic is the lack of typo tolerance. Eg.
        if a user searches for “wireles mouse” instead of “wireless mouse”, a competent e-commerce search should take
        them to the correct page instead of a zero results page. This obviously creates a lot of friction between the
        store and the customer.
    </p>

    <h4>4. Filters only on search results page
    </h4>

    <p>The default Shopify search only displays filters after a user has reached the search page. Now it is common for
        e-commerce stores to display filters as the user is searching so as to make their user journey as smooth as
        possible. This also cuts down on the loading time and helps take users to their desired product faster.
    </p>

    <h4>5. Irrelevant results for long tail queries
    </h4>

    <p>Shopify’s default search does not handle long tail search queries well. Long tail queries are usually the ones
        that are twice as likely to convert as head queries. While they may not have a lot of volumes, your on-site
        search should be able to handle them effectively. Eg. “blue and white mug”
    </p>

    <h4>6. No weighted search
    </h4>

    <p>Shopify’s default search does not allow e-commerce platforms to add weights to products. These weights allow
        e-commerce platforms to boost or bury products when a related keyword is searched. This is also called
        “searchandising” and is used to promote popular products that might have otherwise gotten buried in the search
        results page.
    </p>


    <a href="/blog/searchtap-vs-searchanise/">
        <img src="../../img/blog/using-searchanise-on-your-shopify-store.png" alt="SearchTap vs Searchanise" class="mt10"></a>

    <div class="post-title">

        <h4 class="mt10">How can a third party solution like SearchTap.io improve your e-commerce search
        </h4>
    </div>
    <p>Shopify businesses have started to see that hosted third-party solutions may be the best way to get a competent
        search without it being a strain on their resources. This is why many users are switching to using hosted search
        solutions like SearchTap.io.
    </p>
    <p>Apart from offering synonyms, weighted search, etc, and other features expected from an e-commerce search,
        SearchTap.io also improve the search user experience immensely by making the search faster and more
        accurate.</p>

    <p>With an expert team that builds, implements, and maintains e-commerce search for big brands and startups,
        SearchTap.io is already serving 15 million searches per month.
    </p>

    <p>The improvements that SearchTap.io would offer to improve your e-commerce search experience are things like:
    </p>

    <ul class="bullets">
        <li>Preserving your site design while offering a better search experience
        </li>
        <li>Dynamic filters or faceting to allow users to refine their search as they are searching
        </li>
        <li>Typo tolerance to power through minor errors made by users
        </li>
        <li>Search as you type so that your store can start showing results as soon as a user starts typing in the
            search bar
        </li>
        <li>Customer success team that handles implementation and troubleshooting
        </li>
        <li>Custom zero result pages to try and keep users engaged for longer
        </li>
        <li>Searchandising to promote certain products when particular keywords are searched
        </li>
        <li>Searchandising to promote certain products when particular keywords are searched
        </li>
        <li>Custom banners that appear when users interact with the search bar
        </li>
        <li>Customer support for implementation and troubleshooting when required
        </li>
        <li>Implementing updates without disrupting service to your customers
        </li>
    </ul>

    <p>Reduce friction between the user and the storefront so as to shorten the user journey. The easier, the user can
        get to their desired product, the easier they are going to be to convert.
    </p>

</div>
