---
id: 20
title: Redesign your site search with best practices to increase your ROI
description:
layout: blog-main
permalink: blog/redesigning-search/
---

<div class="blog-content">

    <p>
        As the retail space becomes more and more competitive, businesses are looking for ways to optimize conversions
        on their site without spending too much time and resources away from core projects. More and more conversion
        experts have narrowed down on improving site search as the next step in increasing profitability.


    </p>

<p>
    Site search is one of the easiest ways a store can look at when they try to increase conversions and revenue. It has the double benefit of not only improving site navigation leading to better user experience but plays a crucial role in streamlining a shopper’s purchase journey.

</p>

 <p>
     Yet, we’ve come across many stores that have a poor search experience. The reasons have ranged from poorly optimized search, confusing UX/UI, or lacking conversion tools on the search results page. With all this in mind, we’ve come up with a basic guide for upcoming e-commerce brands and stores to get started.

 </p>




    <div class="post-title">

        <h4 class="mt10">Where to place the search box

        </h4>

    </div>


<p>
    One of the first decisions a store will have to make is where they will place their search box. To answer this question let’s first understand where do people expect to find your
    <a href="https://www.searchtap.io/ecommerce-search/" target="_blank">e-commerce search box</a> on desktop or mobile. This also impacts the placement of filters for the search results page.
</p>

    <p>A common rule that is referred to is the <a href="https://www.nngroup.com/articles/f-shaped-pattern-reading-web-content/" target="_blank">F-shaped pattern of reading</a>. This highlights the most viewed portions of the screen when a visitor is looking for navigation tools to help them explore the site.
    </p>

    <img src="../../img/blog/pasted-image-0.png" class="img-responsive mb24" style="max-width: 300px;">


    <p>For mobile, you can take this a step further by looking at the screen resolutions and viewports. Viewports are the user's visible area of a web page and are generally much smaller than you might expect, even for high-resolution phones.
    </p>

    <p>Research shows that the <a href="https://mediag.com/wp-content/uploads/2018/03/MG_PopularScreenResolutions_Graph-3.pdf" target="_blank">most popular viewports</a> are 414 x 896 and 375 x 812 for Apple and 411 x 731 and 360 x 740 for Android phones. Also, look at your analytics to get data relevant to your store. When the search bar or tab appears within these dimensions, it makes mobile shopping experiences exponentially better.
    </p>



    <div class="post-title">

        <h4 class="mt10">Size of the search field

        </h4>

    </div>


    <p>

        Stores will also have to look at how much space the search bar needs. What is important here is that a visitor
        can comfortably enter their query no matter how long it is. The recommended length for the bar is at least 27
        characters so it can accommodate multiple words without obscuring search query.

    </p>

    <p>If this space is too cramped, like it can be on the smaller screens of mobile visitors, it will lead to a lot of typos which could result in zero-result pages based on how well your e-commerce search is optimized.
    </p>

    <img src="../../img/blog/pasted-image-1.png" class="img-responsive mb24" style="max-width: 300px;">



    <div class="post-title">

        <h4 class="mt10">Show results faster


        </h4>

    </div>


    <p>

        Speed is becoming a crucial factor for site search. With the increase in the speed of mobile internet networks
        and broadband lately, shoppers want sites to load faster and search results to appear immediately like they do
        with Google. Seeing this demand from the online retail stores, search technology introduced <a href="https://www.searchtap.io/features/">search-as-you-type
            technology</a>. This advancement in search technology shows users relevant results right from the first keystroke.

    </p>

    <p>This enabled visitors to discover more of your site with less typing and increased search speed which leads to higher conversion. This technology was supported by strong typo tolerance as well and it delivered search results directly instead of taking people to a “did you mean page”. While these seemed like small improvements in UX, they had a big impact on conversion and revenue.
    </p>

    <img src="../../img/blog/search-as-you-type.gif" class="img-responsive mb24" style="max-width: 300px;">



    <div class="post-title">

        <h4 class="mt10">Improve search page layout



        </h4>

    </div>


<p>
    Having a competent e-commerce search is the first step but it is equally important to give visual feedback to search users. You could try to create a custom search page that keeps in line with your site’s visual design. Stores also make use of various call-to-actions like buy now, add to cart, or wishlist on the search results page itself so that customers can make a purchase easily if something catches their eye. Make sure that the buttons do not overlap or obscure any information.

</p>

   <p>Another important tip is not to remove the search query when a visitor is seeing the results. This helps users to refine or edit their search with ease and doesn’t break their flow while they are navigating.
   </p>

    <img src="../../img/blog/Search-page-layout.png" class="img-responsive mb24" style="max-width: 300px;">


    <div class="post-title">

        <h4 class="mt10">Make search simpler
        </h4>

    </div>


  <p>Many sites make use of filters on their search results page but often this complicates a visitor’s search journey thanks to irrelevant options that take them to dead ends. That is why stores have started to use smart dynamic filters which automatically remove irrelevant options to simplify this journey.
  </p>

    <p>Another overlooked part of this process is creating relevant tags and categories that make it easier for searching your store’s offerings. Make use of subcategories because these can show your customers the range of your offerings and how to best navigate your store to find what they are looking for. Always make sure that you display the number of results available for the options otherwise customers might end up on a no results page and exit.
    </p>

    <img src="../../img/blog/pasted-image-2.png" class="img-responsive mb24" style="max-width: 300px;">


    <div class="post-title">

        <h4 class="mt10">Showcase product information
        </h4>

    </div>


   <p>When it comes to optimizing the search results page, it's important to not only use detailed product images but present relevant information about them to give shoppers a complete picture. If shoppers have access to more information than just the price, they are more inclined to click-through to a product. Different stores can list information that seems pertinent to their offerings like electronic accessory stores can list compatibility, warranty, Bluetooth or wired while an apparel store can show various sizes available and alternate colours among others.
   </p>

    <p>Customers consider information like price, description, ratings, etc when making a search. Including this information from the start gives users access to the product without them having to click through and keeps users engaged for longer.
    </p>

    <img src="../../img/blog/pasted-image-3.png" class="img-responsive mb24" style="max-width: 300px;">





    <div class="post-title">

        <h4 class="mt10">Conclusions</h4>

    </div>

 <p>You can use all this information to create a better layout for your search page. E-commerce websites are recommended to use grid-based view more than the list view. It’s more aesthetically appealing for use by shoppers as it allows them to carefully consider the product before clicking through.
 </p>

    <p>Optimizing search can be very rewarding for an e-commerce site. Many existing search tools can deliver on these fronts but they will take time and expertise to work as intended. This is a big reason why many e-commerce stores are shifting to third-party solutions like SearchTap. Our team of search experts has helped many retailers revamp their search experiences and improve conversions. Let us know how we can help you by
        <a href="https://www.searchtap.io/request-demo/" target="_blank">following this link</a> .
    </p>


    <blockquote>
        <i class="italic-highlight">
            SearchTap.io has helped many e-commerce stores improve their site search but also increase search
            conversions by
            30-40%. You can learn more by
            <a href="/request-demo" target="_blank">booking a personalized demo</a> with us or
            emailing us at
            <a href="mailto:hello@searchtap.io">hello@searchtap.io</a>.
        </i>
    </blockquote>


</div>

