---
id: 25
title: 'Listening to your shoppers with Search Analytics'
description:
layout: blog-main
permalink: blog/search-analytics/
---

<div class="blog-content">


    <div class="post-title">

        <h5 class="mt10">A guide for eCommerce stores on how to use search analytics</h5>

    </div>

<p>
    Analytics has been at the heart of sound decision-making, and one of the most important sources of direct customer feedback is finally getting the attention it deserves. Search analytics is an upcoming branch of conversion optimization that has started to make its importance felt with small and medium businesses as well. With easy access to a variety of tools, there is no reason you should keep ignoring this metric.

</p>

<p>
    Site search serves as a direct form of communication between your store and your customers. Major eCommerce retail businesses have been using search analytics to optimize their shopping experiences. The question that often comes next for SMEs is what data points to look at and what insights to derive from them.

</p>

<p>
    This guide will give eCommerce stores a clear picture of what information you can get from your <b>Google Analytics</b> itself.

</p>

    <div class="post-title">

        <h4 class="mt10">Starting Search Tracking
        </h4>

    </div>

    <p>
        When a new visitor comes on your website, the search bar is the best way they can navigate your store to get to the products they want to buy. But, you need to be able to track these users first.

    </p>

    <p>
        So before we start, check to see if the site search tracking is enabled on your site.

        Head over the <b>​Admin​</b> panel and select the <b>​View​</b> for which you want to conduct the research.
    </p>

    <img src="../../img/blog/admin-view.png" class="img-responsive mb24 max-width500">

    <p>
        In the View Settings and scroll down to the Site Search Tracking. Enable this option to be able to track your site search.

    </p>

    <img src="../../img/blog/site-search-setting.png" class="img-responsive mb24 max-width400">

    <p>Here, turn the Site Search Tracking on. Make sure you check the “Strip query parameter” box to be able to track the search queries on your GA.
    </p>


    <div class="testimonial-msg " style="background-color: #f0f2fb; border-radius: 4px;">

        <div class="row">

            <div class="col-md-2">
                <div class="client-img-x mt10">
                    <img src="https://d33wubrfki0l68.cloudfront.net/3b88efa62d9d72f78e60c27f8c70925d8b63c117/90e6e/img/testi/2.jpg">
                </div>
            </div>

            <div class="col-md-10">

                <p class="lead bold mb6" style="color: #333;">“Search now regularly contributes around 40% of our website

                    <br>revenues.”</p>

                <h5 class="mb0" style="font-weight: 600;">Ajay Khanda</h5>
                <h5 class="mb0" style="font-weight: 400;">CEO, Glen Appliances</h5>

            </div>
        </div>

    </div>

    <div class="post-title">

        <h4 class="mt10">Tracking Search Users
        </h4>

    </div>


    <p>
        These reports will also need you to apply an additional segment for search users. The simple way is to simply click on the <b>“​Add Segment Button​”</b> then select the <b>“​Performed Site Search​”</b> segment.

    </p>

    <p>If you’re using a ​third-party app or plugin​, you might also need to create a custom segment to gauge your search users. Below you’ll find the ​steps to quickly create a <b>custom segment</b> for you to capture your search users.</p>


    <p>As part of the first step to create this segment, perform just a quick search on your store. This will give you the <b>​URI​</b> for the search page on your store. It will look like this:

    </p>


    <img src="../../img/blog/search-chocolate.png" class="img-responsive mb24 max-width200">

    <p>Keep this in mind as it will come up in a bit.

    </p>

    <p>For now, select any report from the left-hand tab in your GA.

    </p>


    <div class="post-title">

        <h5 class="mt10">Step 1.

        </h5>

    </div>

    <p>
        Open any report and click on the <b>“​Add Segment”​</b> tab on top.
    </p>



    <img src="../../img/blog/audience.png" class="img-responsive mb24 max-width500">



    <div class="post-title">

        <h5 class="mt10">Step 2.

        </h5>

    </div>

    <p>Click on the <b>"​New Segments​"</b> button on the top left of the pop-up.</p>

    <img src="../../img/blog/New-Segments.png" class="img-responsive mb24 max-width500">

    <div class="post-title">

        <h5 class="mt10">Step 3.

        </h5>

    </div>

   <ol class="number">
       <li>Next, click on <b>"​Conditions​"</b> in the <b>"​Advanced​"</b> Tab.</li>
       <li>From here choose <b>"​Users​"</b> from <b>"​Filter​"</b>
       </li>
       <li>Then select <b>"​Page​"</b> from the dropdown menu.
       </li>
       <li>Here is where your <b>URI</b> comes in. Type in your store’s search URI from earlier. For this example, we’ve typed in <b>"​/search?q​"</b> in the text box.
       </li>
       <li>Remember to keep a distinct name the segment. We’ve called our <b>"​Engaged with Search​"</b>. Finally, save your new segment.  </li>
   </ol>

    <img src="../../img/blog/engaged-with-search.png" class="img-responsive mb24 max-width500">



<p>This segment will now reflect the number of users that came on your site and used the search bar.

</p>
    <p>We measure the interactions of the users instead of counting sessions as this offers more profound insight into the data.

    </p>
    <p>Once you’ve set this up, you can use this across reports to see how your search is performing. Let’s go over some crucial reports that you can see in Google Analytics for you to use when analysing the performance of your site search.

    </p>

    <div class="testimonial-msg " style="background-color: #f0f2fb; border-radius: 4px;">

        <div class="row">

            <div class="col-md-2">
                <div class="client-img-x mt10">
                    <img src="../../img/blog/YashGangwal-Founder.png">
                </div>
            </div>

            <div class="col-md-10">

                <p class="lead bold mb6" style="color: #333;">“We didn’t expect that a search solution would help us improve our conversions and our storefront as well.”</p>

                <h5 class="mb0" style="font-weight: 600;">Yash Gangwal</h5>
                <h5 class="mb0" style="font-weight: 400;">Founder, Urban Monkey</h5>

            </div>
        </div>

    </div>

    <div class="post-title">

        <h4 class="mt10">Audience Reports

        </h4>

    </div>

    <p>Let’s start by analysing the absolute number of search users on your site and how they contribute to the pageviews and sessions. Looking at Audience reports is important to tell how many of your site visitors are using search and if they are finding what they need.

    </p>

    <div class="post-title">

        <h5 class="mt10">1. Overview


        </h5>

    </div>

    <img src="../../img/blog/audience-reports.png" class="img-responsive mb24 max-width650">

    <p>Applying the “Performed Site Search” or your custom search segment will show you how many search ​users​ you had your site. Here you will also see the contribution of search users to the total <b>​Pageviews​</b> and <b>​Sessions​</b>.

    </p>

    <p>You can also extrapolate the ​<b>Average Pages Viewed</b>​ by each search users by using the Number of Search Users and Pageviews. Typically, you would want this value to be more than 2-3X of average pageviews/user.

    </p>

    <p>A good search experience will also reflect in the <b>​Avg. Session Duration</b>​ metric. As search users are high-intent users, they typically have longer Avg. Session Duration. Using both this and the above, you can estimate how engaged your audience is with the search on your store.

    </p>

    <p>Having a poor score in both is indicative of the search not delivering proper results which can cause a high <b>​Bounce Rate​</b> for search users as well. When it comes to search users, Bounce Rate means how many people exited the site after their first search. This is an important metric as eCommerce visitors tend to form a lasting impression of your store based on this one search. Studies indicate that many users who bounce after the first search did not return to the site at all.

    </p>

    <div class="post-title">

        <h5 class="mt10">2. Geography</h5>

    </div>

    <img src="../../img/blog/world-map-analytics.png" class="img-responsive mb24 max-width650">

    <p>It’s important to understand where most of your search traffic is coming from as they can usually be the most loyal customers. It’s also an excellent opportunity to recognize locations which are generating a lot of searches but not enough revenue.

    </p>

    <p>You can create a custom segment based on which location you want to study and see how they interact with the site. You can find the breakup in the ​<b>Audience > Geo > Location</b>​ report. Ideally, you should narrow down to the city level if possible so that this data can be put to full use.

    </p>

    <p>You should be able to see what are the most popular searches in particular geographies. This insight could then fuel what your strategies are going to be in those places.

    </p>

    <div class="testimonial-msg " style="background-color: #f0f2fb; border-radius: 4px;">

        <div class="row">

            <div class="col-md-2">
                <div class="client-img-x mt10">
                    <img src="https://d33wubrfki0l68.cloudfront.net/1df0b5c3dab0e2deecdbb4982e53b636099f4866/8f95b/img/success-stories/amydus/kartik.png">
                </div>
            </div>

            <div class="col-md-10">

                <p class="lead bold mb6" style="color: #333;">“We were able to better engage our visitors across devices, and that really helped drive up our revenues. We  knew that improving our search was necessary, but the results from SearchTap’s product exceeded our expectations.”</p>

                <h5 class="mb0" style="font-weight: 600;">Kartik Spara</h5>
                <h5 class="mb0" style="font-weight: 400;">CEO, Amydus</h5>

            </div>
        </div>

    </div>

    <div class="post-title">

        <h4 class="mt10">Behavior Reports
        </h4>

    </div>

    <p>Next, we will be looking at the behaviour reports. Using the search users segment you should get an insight into what the interactions of search users on your site are. Since we have already covered Bounce Rates in the Audience Reports, we will jump straight to the search terms.

    </p>

    <div class="post-title">

        <h5 class="mt10">1. Search Terms

        </h5>

    </div>

    <img src="../../img/blog/search-terms.png" class="img-responsive mb24 max-width-600">


 <p>You can find the most commonly searched keywords in your store. And this report will also give you what revenue they generated along with their eCommerce conversion rate. You can see these in the <b>​Behavior > Site Search > Search Terms</b> report.

 </p>
    <p>Here you should also keep an eye on the ​<b>%Search Refinements</b>​. This measures the total number of times a search term has been edited or refined by the search user to get better results.

    </p>
    <p>While this is going to be high for descriptive words like colours, sizes, or materials; having high search refinement for specific keywords can be a bad sign for your store’s search.

    </p>

    <div class="post-title">

        <h5 class="mt10">2. Search Events


        </h5>

    </div>

    <img src="../../img/blog/search-events.png" class="img-responsive mb24 max-width-600">

    <p>Search events are not captured by Google Analytics innately, but you can set up events to trigger when visitors interact with search. We recommend setting up search-related events like capturing the most used filters. Once set up you will be able to find these in the ​<b>Behavior > Events > Top Events</b>​.

    </p>

    <p>Since this data is collected directly from customer interactions, the data from this report can be the ​ basis of a marketing or SEO campaign​. They represent the most interacted categories of your site. Focusing on and understanding what makes these categories popular will go a long way to make your store profitable.

    </p>

    <p>These reports will let you know what popular keywords are being searched and what categories are most popular with your audience. You can also use data from the search terms report to set up new tags or categories to improve the product findability in your store.

    </p>

    <div class="testimonial-msg " style="background-color: #f0f2fb; border-radius: 4px;">

        <div class="row">

            <div class="col-md-2">
                <div class="client-img-x mt10">
                    <img src="../../img/blog/ayesha-alam.png">
                </div>
            </div>

            <div class="col-md-10">

                <p class="lead bold mb6" style="color: #333;">“Search is now contributing more than 35% of our revenue, and our mobile conversion and engagement rates have never been higher.”</p>

                <h5 class="mb0" style="font-weight: 600;">Ayesha Alam</h5>
                <h5 class="mb0" style="font-weight: 400;">Head of Marketing & Strategy,

                    PropShop24  </h5>

            </div>
        </div>

    </div>

    <div class="post-title">

        <h4 class="mt10">eCommerce Reports

        </h4>

    </div>

    <p>Like any other CRO exercise, search optimization has to reflect in terms of a positive ROI. Let’s see how you can gauge the revenue impact of this activity. Make sure that you have Enhanced eCommerce enabled on your GA account to take full advantage of the reporting you can get.

    </p>

    <div class="post-title">

        <h5 class="mt10">1. Overview

        </h5>

    </div>

    <img src="../../img/blog/eCommerce-Reports.png" class="img-responsive mb24 max-width-600">

    <p>You can access this report in the <b>​Conversions > eCommerce > Overview​</b> tab. From here, you can measure four metrics that are essential to business decision making. These are ​<b>eCommerce Conversion Rate​, ​Transactions​,</b> and ​<b>Revenue</b>​.

    </p>
    <p>Typically, we find the search user eCommerce conversion rate should be around double the site average conversion rate. We’ve noticed that a well-implemented search also improves the revenue contribution to the site.

    </p>

    <p>The revenue contribution of search users should also be 15-25%, and the search-led transactions should also be similar. Anything below this means that the search on your store is not very helpful to visitors and they are not finding the products they want to buy.

    </p>

    <p>You should work on optimizing your search else it will always be an aspect of your site that will be lagging.

    </p>

    <div class="post-title">

        <h5 class="mt10">2. Product Performance

        </h5>

    </div>

    <img src="../../img/blog/Product-Performance.png" class="img-responsive mb24 max-width-600">

    <p>It’s relevant to look at what products are bringing in the revenue for your store. If there is an item that is generating a lot of traffic for you but not converting,

    </p>

    <p>The same scenario can occur when talking about search traffic as well. There might be some products that are very popular when it comes to search queries but are not getting converted. Have a look at what is stopping the visitor from making a purchase. Is it the price, lack of variants, shipping costs, or something else.

    </p>

    <p>While these metrics are an invaluable way to measure the ROI you get from your search, remember that they might be low if you’ve not optimized your store search at all.

    </p>

    <p>Even after optimization, you could see that while the conversion rate might increase, and transactions may take some time to grow at the same rate. Sometimes the reverse of this can also happen. Don’t worry; this is just part of the process and represents the next part of the challenge. Use the learnings from the reports above to plan your next steps.

    </p>

    <div class="testimonial-msg " style="background-color: #f0f2fb; border-radius: 4px;">

        <div class="row">

            <div class="col-md-2">
                <div class="client-img-x mt10">
                    <img src="https://mk0timesnextw7n7qiu0.kinstacdn.com/wp-content/uploads/2019/12/suta.jpg">
                </div>
            </div>

            <div class="col-md-10">

                <p class="lead bold mb6" style="color: #333;">“We saw a positive impact from day one. We don’t think our old search could even come close to matching what we’ve seen with SearchTap. Our engagement metrics have seen a big uptick since we improved our search.”</p>

                <h5 class="mb0" style="font-weight: 600;">Sujata and Taniya Biswas</h5>
                <h5 class="mb0" style="font-weight: 400;">Founders, Suta </h5>

            </div>
        </div>

    </div>


    <div class="post-title">

        <h4 class="mt10">Conclusion
        </h4>

    </div>

    <p>Search optimization has far-reaching consequences in business. Our clients have used search analytics to base key marketing campaigns around them. Some have even realized gaps in their product offerings by studying their search term data.

    </p>

    <p>The ever-changing landscape of eCommerce makes attracting and retaining customers a challenge. The search is an element that is always going to be crucial for a stellar shopping experience. Acting on the direct feedback stores get from these search users can go along way in ensuring profitability for businesses.

    </p>

    <p>At SearchTap, our clients have benefited from our fast and relevant search we offer and routinely monitor their search term data from our dashboard. Our product is easily customizable and integrates with any eCommerce platform ranging from Shopify, Shopify Gold, Magento, WooCommerce, OpenCart, to even custom platforms.

    </p>

    <blockquote>
        <i class="italic-highlight">
            SearchTap.io has helped many e-commerce stores improve their site search but also increase search
            conversions by
            30-40%. You can learn more by
            <a href="/request-demo" target="_blank">booking a personalized demo</a> with us or
            emailing us at
            <a href="mailto:hello@searchtap.io">hello@searchtap.io</a>.
        </i>
    </blockquote>


</div>

