---
id: 24
title: Boost Your Product Discovery and Conversions With Synonyms
description:
layout: blog-main
permalink: blog/synonyms/
---

<div class="blog-content">

    <div class="post-title">

        <h4 class="mt10">Helping visitors find better results
        </h4>

    </div>

<p>Synonyms are a great tool to help your customers reach their desired products and deliver a complete eCommerce search experience. A product can have many different names which are used interchangeably based on a variety of factors like colloquialisms, slang, abbreviations, or just the natural evolution of language.
</p>

<p>
    What happens when your store’s site search is not able to understand these terms? Customers using the search will see irrelevant results or worse will end up on no-result pages and as a result, they will bounce. These users are less likely to return to your store in the future as well. This simple step can give you a huge advantage as
    <a href="https://baymard.com/blog/ecommerce-search-query-types" target="_blank">less than 70% of stores</a> have working synonym searches.

</p>

<p>
    But how will a store get to know what to set as the correct synonyms? This is where looking at the search analytics becomes so useful. This data is filled with insights about what your customers are searching for, but also what they expect to find in your store.

</p>


    <div class="post-title">

        <h4 class="mt10">Synonyms for achieving better product discovery</h4>

    </div>


<p>
    SearchTap search helps improve product discoverability by letting stores customize their synonyms. Within just a few clicks, you can set up a set of keywords that are related to the existing product names in your store. By telling SearchTap that two keywords are related, whenever a search user searches for either word, they will get relevant search results. A common example is the words <b>“pants”</b> and <b>“trousers”</b>. For an apparel store, having these words set as synonyms would ensure that search users can always find the right fit for their wardrobes.

</p>

    <p>
        SearchTap goes a step further by letting you set up two sorts of synonyms. These are one-way and <span style="text-decoration: underline;">two-way synonyms</span>.
    </p>

    <p>
        These let you gain more control over your search results so that you can guide shoppers on your store better. By creating specialized product buckets for particular keywords, you can make sure that search users can find something they find interesting when they use the search bar.

    </p>

    <p>Let’s take a closer look at these types of synonyms.
    </p>

   <p>
      1.  <b>One Way Synonyms</b> - This is useful in creating a set where one keyword doesn’t exist in the indexed data. For example, take a shoe store that sells
       “slip-on” but don’t have “moccasins” featuring in any of the searchable fields. As a result, when a search user would search for
       “moccasins” they wouldn’t see any results. This can set the One-Way Synonym for <b>“moccasins” => “slip-on”</b> to solve this problem.

   </p>

    <img src="../../img/blog/1-way.png" class="img-responsive mb24" style="max-width: 300px;">


    <p>
        2. <b>Two Way Synonyms</b> - In this keyword set, both words can be used interchangeably to define the same product. Let’s take the example of the apparel store from earlier. They have 22 products called “pants” and 17 products called “trousers”. Now, whenever a search user comes and searches for either of those terms, they will not see the entire catalog. So this store can set <b>“pants” <=> “trousers”</b> as a Two-Way synonym to mean the same piece of clothing. A search on either keyword will show all relevant results, in our example 39.

    </p>

    <img src="../../img/blog/2-way.png" class="img-responsive mb24" style="max-width: 300px;">

    <div class="post-title">

        <h4 class="mt10">Tips when selecting synonyms
        </h4>

    </div>


<p>
    So you have your search analytics but are puzzled at which keywords to use as the synonyms? Search users give out a lot of information when they interact with the search bar on your store. Typically, here are some quantifications of common search terms.

</p>


    <img src="../../img/blog/synonym-stats.jpg" class="img-responsive mb0" style="max-width: 600px;">

    <small class="mb24" style="display: block;">Source: Deconstructing E-Commerce Search: The 8 Most Common Query Types, Baymard Institute
    </small>

    <p>
        Let’s unpack this information before going ahead. According to this study, search users are more likely to use descriptors of the product they are searching for (such as features, use cases, categories) rather than the product itself. This is interesting because it gives us an indication of the role of the search bar on an eCommerce website. A crafty eCommerce store should utilize this sort of data to improve the search relevance of their site search by using synonyms. More people engaging with your store and converting is also a great sign for your SEO.

    </p>

    <p>
        Here are a few handy pointers that you should consider when you set synonyms for your business:
    </p>

<ol class="number">

<li>Create synonyms for commonly misspelt words</li>
    <li>Create synonyms for plurals that use an irregular pattern. Eg. “knives” = “knife”
    </li>

    <li>Set synonyms according to the local language usage you sell. Eg. “Home Printer” for “All-in-one Printer”
    </li>
    <li>Set a generic product name as a synonym in case you’re using proprietary names.
    </li>

    <li>Set “sale” or “Christmas” as synonyms for relevant products during festive and sale season.
    </li>

    <li>Set category names as synonyms so that customers can quickly find products.
    </li>

    <li>Use abbreviations as synonyms such as “MCU” for  “Marvel Avengers”.
    </li>

</ol>




    <div class="post-title">

        <h4 class="mt10">Next steps with Synonyms</h4>

    </div>

<p>
    The true art of using proper synonyms is creating tags and content that will make it easy for anyone to browse through your website. It’s good practice to even think of them <b>Compound Keywords</b> so as to make it appear more naturally across your store. After all, these are words that a core part of your audience is searching for.

</p>

    <p>
        Shopify stores have a bit of an advantage here thanks to its in-house CDN and it even has the option for integrating with third-party CDNs for scalability. Stores on other platforms can choose a specialized CDN to better serve your target geography. Have a look at your <b>Audience > Geo > Location</b> report to get a clear picture of where your audience comes from.

    </p>

   <p>
       SearchTap’s dashboard gives you access to your search analytics so that you can have another window into your target audience’s behaviour. Using these insights along with those from your SEO research, you will be able to set up all sorts of synonyms.
   </p>

    <p>
        You will get all this and a new understanding of your audience with SearchTap. We would love to know <a
                href="https://www.searchtap.io/request-demo" target="_blank">what you want in your site search</a>. Our customer success team can connect over a quick call to and understand how we can deliver better sales and profitability with SearchTap.

    </p>



    <blockquote>
        <i class="italic-highlight">
            SearchTap.io has helped many e-commerce stores improve their site search but also increase search
            conversions by
            30-40%. You can learn more by
            <a href="/request-demo" target="_blank">booking a personalized demo</a> with us or
            emailing us at
            <a href="mailto:hello@searchtap.io">hello@searchtap.io</a>.
        </i>
    </blockquote>


</div>

