---
id: 21
title: 'Understanding Customer Lifetime Value & How to Maximize it: Part I'
description:
layout: blog-main
permalink: blog/understanding-customer/
---

<div class="blog-content">



    <div class="post-title">

        <h4 class="mt10">Part I: Calculating CLTV


        </h4>

    </div>


    <p>
        The secret for an eCommerce store, of any size, to have long term profitability is maximizing their Customer Lifetime Value or <strong>CLTV</strong>. In an ideal situation, the customers you get should not only make a purchase from your store frequently but also make more valuable purchases and be loyal to your brand. The challenge for eCommerce retailers comes in when creating such a shopping experience that makes this process of repeat purchases easier for their customers. So let’s breakdown what goes into its calculation first and see where business owners can improve.



    </p>

    <p>
        CLTV is actually a time-bound metric which comes in handy when you want to measure business performance over some time. To calculate it, you will need to track a few parameters on your store. These are:

    </p>

    <ul class="list-unstyled check-mark">

        <li><b>AOV</b> is the Average Order Value for the year
        </li>

        <li><b>PF</b> is Purchase Frequency of your clients
        </li>

        <li><b>ALT</b> is the Average Customer Lifetime in years
        </li>

        <li><b>AGM</b> is the Average Gross Margin
        </li>

    </ul>

    <p>As for the calculation for CLTV, the formula is as follows:
    </p>

    <p class="purple-box">
        CLTV = AOV x PF x ALT X AGM
    </p>

    <p>Let’s understand the components of the formula and see what they say a business. It will help us in understanding what to do when we want to maximize our CLTV.
    </p>


    <div class="post-title">

        <h4 class="mt10">Average Order Value (AOV)


        </h4>

    </div>


    <p>AOV is the amount of money a customer spends each time they make a purchase on your store in a given time frame. To calculate it, simply divide the total revenue for the said period by the total orders.
    </p>

    <p class="purple-box">AOV = (Total Revenue)/(No. of Orders)
    </p>


    <p>For example, let’s say that in the last month, you've made sales totalling $50,000 and this came from 2000 orders. Then your store's AOV would be  $25.
    </p>

    <p>The importance of knowing your store's AOV comes into play when you want to have a benchmark of your customer's purchase behaviour. It is a very important parameter in evaluating many KPIs but for now, we will focus on CLTV.
    </p>

    <p>Anyway, increasing AOV usually means that customers are making more purchases than earlier or are making more expensive purchases.
    </p>



    <div class="post-title">

        <h4 class="mt10">Purchase frequency (PF)

        </h4>

    </div>


    <p>Purchase Frequency tells you on average, how many purchases a customer makes in a given time period. Usually, this time frame is taken to be a month. This lets you can set a benchmark for your store that you can revisit every quarter to see how your business has progressed. Generally, PF is calculated on a yearly basis.
    </p>

    <p class="purple-box">
        PF = (No. of Purchases) / (No. of Unique Purchases)

    </p>

    <p>So let's assume that a store processes 10,000 orders in a year and of them, 4,000 were unique means that PF is 2.5.</p>

    <p>It’s important to note that this calculation should be made using unique purchases only. Now with a clear idea of how often your customers make a purchase in a given year, you can use this data to influence customers to come back for making repeat purchases. You can also feed this data to calculate how often a customer comes back for making a repeat purchase.
    </p>

    <p>Increasing PF means that you are effectively able to retain your customer base and attract them to make routine purchases on your store.
    </p>



    <div class="post-title">

        <h4 class="mt10">Average Customer Lifetime (ALT)



        </h4>

    </div>


    <p>ALT is a simple calculation to illustrate how many customers you can expect to retain on a month-on-month basis. It uses Churn Rate, which is an uncommon metric for eCommerce stores. To calculate Churn for your eCommerce store, you simply look at the number of unique users at the start or end of each period.
    </p>

    <p>There are 2 ways you can represent ALT:</p>

    <p class="purple-box">
        ALT = 1 / (Churn Rate)

    </p>

    <p class="text-center">OR
    </p>

    <p class="purple-box">
        ALT = (Users at the start of period)/ [(Users at the start of period) - (Users at the end of period)]
    </p>

    <p>So if a store has 500 customers at the start of the month, and by the end, there are 472 the ALT will be 18 months.
    </p>

    <p>This gives you a quick reference as to when to send messaging with high-conversion rates to your customers. If their purchases are going to drop off after a set number of days, you can also try to engage them more as they grow closer to the end of their life cycle.
    </p>


    <div class="post-title">

        <h4 class="mt10">Average Gross Margin (AGM)
        </h4>

    </div>


    <p>To find AGM, we need to first understand Gross Margin. Gross Margin measures the profit you make per product sold. It takes into account the cost of goods sold (COGS) and subtracts it from the selling price of the product. For the CLTV calculation, we will take the average value of the Gross Margin.
    </p>


    <p class="purple-box">
        AGM = Avg. of [(Selling Price) - (COGS)]
    </p>

    <p>Let’s take a case where the GM of 5 different products in a store are $1, $2, $3, $4, and $6. The AGM for these products is $4.</p>

    <p>The AGM is a great way to see the spend that you make on your product offerings from a broad perspective. It also helps you identify places where you can utilize better economies of scale to reduce prices. Some stores can also look at increasing their sale prices, even if by a little bit as it can have a significant impact on your bottom-line.
    </p>


    <div class="post-title">

        <h4 class="mt10">What is our CLTV</h4>

    </div>

    <p>In our example store, we’ve made a lot of hypotheses but here is what we know:</p>


    <ul class="list-unstyled check-mark">

        <li>Our <b>AOV</b> is $25</li>
        <li>Our <b>PF</b> is 2.5 times per month
        </li>
        <li>Our <b>ALT</b> is 18 months
        </li>
        <li>Our <b>AGM</b> is $4
        </li>

    </ul>

    <p>So now using the formula above we can find the CLTV for our example store:
    </p>

    <p class="purple-box">
        CLTV = AOV x PF x ALT X AGM
    </p>

    <p class="purple-box">
        = 25 x 2.5 x 18 x 4
    </p>

    <p class="purple-box">
        = $ 2700
    </p>



    <p>Now, you might now have a lot of this information if you’re just starting out and there are lots of assumptions that the formula makes, but you should dismiss this calculation based on that. It’s very hard to get accurate numbers to accurately calculate the CLTV but there are still some fantastic insights in there.
    </p>

    <p>Getting an estimate, however rough of what revenue you can expect to generate from your target audience is essential to the long-term profitability of your business.
    </p>


    <blockquote>
        <i class="italic-highlight">
            SearchTap.io has helped many e-commerce stores improve their site search but also increase search
            conversions by
            30-40%. You can learn more by
            <a href="/request-demo" target="_blank">booking a personalized demo</a> with us or
            emailing us at
            <a href="mailto:hello@searchtap.io">hello@searchtap.io</a>.
        </i>
    </blockquote>


</div>



