---
id: 16
title: Which KPIs and metrics can take your e-commerce store to more profitability
description:
layout: blog-main
permalink: blog/which-kpis-and-metrics-can-take-your-e-commerce-store-to-more-profitability/
---

<div class="blog-content">


    <p>With the help of platforms like Shopify, Magento, and BigCommerce, businesses have been able to get their stores
        online. While many of these e-commerce stores are catering to niche tastes and preferences and business seems to
        be doing well, the reality is that many e-commerce players are not profitable.
    </p>

    <p>The best tool for any e-commerce business in their journey to profitability is analytics. It forms the core of
        decision making. But not all the data from analytics will have an equal contribution to your store’s
        profitability. To take the best course of action, you must first make sure you are using the correct data.
    </p>

    <p>With so many metrics to choose from it is important to understand which Key Performance Indicators (KPIs) you
        need to chase and which ones are vanity metrics?
    </p>

    <div class="post-title">

        <h4 class="mt10">Most KPIs are metrics but metrics are not KPIs</h4>

    </div>

    <p><b>Metrics </b> are the <b>quantifiable measurements</b> that you can make about your site. What makes
        <b>KPIs</b> different is that they are used as <b>business performance indicators</b>.
    </p>


    <p>While both contain information that will help your e-commerce store grow, KPIs relate to business goals and how
        you measure up. Metrics, on the other hand, are more about what will help you achieve your desired levels of
        KPIs. Take for example the number of page views - an increase in page views, while a good sign, does not
        directly translate into higher conversions for your platform.
    </p>

    <p>Analysis of KPIs also tends to be very subjective. As your business goals will be different so will the level you
        are targeting with these KPIs. The best KPIs are those which are attainable with a reasonable bit of effort.
        That is why the goto KPI for many established e-commerce businesses is the conversion rate.
    </p>

    <p>For small and medium e-commerce stores, the scenario is a bit different. With so much competition, it’s a bad
        idea to be so focused on growth that you do not pay attention to other retention and revenue metrics. On top of
        this, your limited time and resources mean that you cannot follow each KPI that might be relevant to your
        business.
    </p>

    <p>A simple solution is instead of choosing to optimize one KPI and selecting 4-6 metrics that support it. This is
        called the One Main Metric (OMM) approach and is a great way to practice lean analytics for your store. This
        gives your e-commerce store a business goal while at the same time not burdening your team.
    </p>


    <div class="post-title">

        <h4 class="mt10">Important KPIs e-commerce stores should focus on</h4></div>

    <div class="post-title">

        <h5 class="mt10">Average Order Value (AOV)
        </h5></div>


    <p>AOV can be said to be the amount of money each customer spends on your store over a given period of time. It
        forms the basis of many other KPIs that are followed by data scientists. While it does not describe the profit
        potential of a store, it is instrumental in providing an understanding of how a store can become profitable.
    </p>

    <p class="text-center" style="font-style:italic;"><b>AOV = (Total Revenue)/(No. of Orders)</b></p>

    <p>AOV also does not take into account if there have been multiple transactions from the same account or individual
        values of those orders. Yet, increasing AOV is one of the best ways to measure success as it can be easily used
        to create other more complex and customised KPIs.
    </p>

    <div class="post-title">

        <h5 class="mt10">Customer Lifetime Value (CLTV or CLV)
        </h5></div>


    <p>CLTV is the estimated amount a customer will spend on the total purchases they make on your e-commerce store in
        their lifetime. Typically, the lifetime for an e-commerce shopper is considered to be 12-24 months. It is
        central to estimating your store’s profitability over time. Knowing your CLTV will help shape other business
        decisions relating to customer acquisition and retention. There are many complicated models that confuse more
        than clarify how a business can calculate this KPI. Yet, it will be the basis of your profit strategy and you
        can break down the calculation as follows:

    </p>


    <p class="text-center" style="font-style: italic;"><b> CLTV = AOV x PF x ALT X AGM</b></p>

    <p class="lead">Where</p>


    <ul class="bullets">
        <li>AOV is the Average Order Value for the year</li>
        <li>PF is Purchase Frequency of your clients</li>
        <li>ALT is the Average Customer Lifetime in years</li>
        <li>AGM is the Average Gross Margin</li>
    </ul>

    <p>You can customize this equation by analyzing the CLTV of different segments like location, product categories,
        etc. to suit your business.
    </p>

    <div class="post-title">

        <h5 class="mt10">Cost Per Acquisition (CPA)</h5>
    </div>


    <p>CPA measures the total cost of acquiring a new user. That user may be in the form of a sign-up, a new
        registration, or new activation. It may eventually turn into a paying customer. You can track how much you are
        spending to increase your store’s revenue. You can use this to measure the financial impact of your marketing
        campaigns and strategy. You can calculate CPA by:

    </p>

    <p class="text-center" style="font-style: italic;"><b>CPA = (Total Campaign Costs)/(Conversions)</b></p>


    <p>By using AOV and CLTV you can set an acceptable range for the desired CPA and use that as a benchmark the success
        and budget for your marketing activities. It can also be used for measuring the success of micro-conversions
        (like newsletter signups, email signup, etc.). It is not typically prefered by e-commerce businesses as they
        have many variable costs but it is a useful metric to keep track of.
    </p>


    <div class="post-title">

        <h5 class="mt10">Return on Ad Spend (ROAS)</h5>
    </div>

    <p>ROAS is simply the amount of revenue you generate for each dollar you spend on advertising. This gives more
        detail on individual channels or campaigns while CPA is more centred around strategic goals. ROAS is the ratio
        of the revenue generated to the total cost incurred.
    </p>

    <p class="text-center" style="font-style: italic;"><b>ROAS for a Campaign = (Revenue)/(Cost)</b></p>


    <p>Because of it being capable of using the variable costs instead of fixed cost like CPA, ROAS is more popular for
        e-commerce KPIs. Another difference between CPA and ROAS is that while CPA can be open variable, most companies
        prefer to have a ROAS around 4:1 or 5:1 range for a successful campaign. While this figure can vary depending on
        your store, keep in mind that if you’re getting a low ROAS then you might consider reducing ad expenditures.</p>

    <p>Now that we’ve looked at some of the best ways you can benchmark the growth of your e-commerce store, let’s look
        at how you can select the best one for your business.</p>

    <p>Remember to have your enhanced e-commerce and search analytics enabled on Google Analytics so you can easily
        track these metrics along with many others that will help you as your business grows.
    </p>

    <a href="/blog/improve-conversions-with-search-analytics/">
        <img src="/img/blog/banner1.jpg" class="img-responsive center-block mb24">
    </a>

    <div class="post-title">

        <h4 class="mt10">How to set attainable KPIs for your store</h4>
    </div>

    <p>Setting proper benchmarks and time frames is essential to track success. But with KPIs being subjective, how do
        you pick one that will be a good indicator of success for your online business. Here are some simple steps to
        help you arrive at the answer:
    </p>

    <ul class="bullets">
        <li><b>Industry Analysis -</b> What are some KPIs that are followed by your peers and industry leaders? Also,
            take a look at some of the benchmarks set and you could base your KPIs around that.
        </li>
        <li><b>Company Analysis -</b> What stage of growth is your company in? Depending on whether you are a new
            startup or a business in the growth phase, your business goals are going to be different.
        </li>
        <li><b>Long-term goals -</b> Having a clear vision of what level you want your business to operate will help
            shape your e-commerce goals. Attach a mathematical value to this so you can work back from it to set yearly
            targets.
        </li>
        <li><b>Current performance -</b> You need to keep an eye on how the supporting metrics are performing. If they
            are not in-line with a particular KPI, you will have an uphill task ahead of you.
        </li>
        <li><b>Identify areas you can improve -</b> What aspects of your site would you need to improve to meet your
            targeted KPI. Also, keep in mind the timeframe for these changes. Start with smaller incremental changes
            before you tackle big ones.
        </li>
    </ul>

    <p>The most important step of any activity involving analytics is the measurement of the result followed by an
        analysis of your actions and refinement of your plan. Now let’s take a look into some metrics that will keep you
        on track to achieve your KPIs.
    </p>

    <blockquote style="line-height: 32px; font-style:italic;">
        Analytics forms the backbone of SearchTap.io’s product. Our hosted search solution provides fast and accurate
        search along with actionable search analytics data which you can use to formulate SEO and marketing strategies.
    </blockquote>

    <div class="post-title">

        <h4 class="mt10 bold">Metrics that will help grow your e-commerce business
        </h4>
    </div>

    <div class="post-title">

        <h5 class="mt10">1. Traffic Metrics</h5>
    </div>

    <p>While traffic metrics are very important to track on-site audiences, it should not be your highest priority.
        These metrics tell you how your site visitors arrive on your site and what they do when they arrive. It is very
        important to know your customers so you can figure out how to serve them best. You can look at:</p>

    <ul class="">
        <li>a. Pages/Session - This is the average number of page views per session of your site visitors.</li>
        <li>b. Avg. Session Duration - This tells you how long a visitor usually engages with your site.
        </li>
        <li>c. Devices - You can see how many visitors are coming to your site via mobile vs desktop.
        </li>
        <li>d. Bounce Rate - To check how many visitors came on your site and exited after looking at only one page.
        </li>
        <li>e. New Users vs Returning - You can check how many users on your site are returning customers and what are
            they shopping for.
        </li>
    </ul>

    <div class="post-title">

        <h5 class="mt10">2. Add to Cart Rate
        </h5></div>

    <p>Add to Cart Rate tells you how many visitors added a product to their cart. With this data, you can check if you
        are targeting the right audience. You can monitor this by setting up specific Goals and Events for your store.
        It can also check if there is a difference in the pricing and customer expectation of your offerings by looking
        at how popular it is by looking at
        <a href="/features" target="_blank">Search Terms</a> from search analytics. You can also use this data to get a
        deeper understanding into cart abandonment on your store.</p>

    <p class="text-center" style="font-style: italic"><b>Add to Cart Rate = (No. of “Add to Cart” Sessions)/ (Total No.
            of Sessions) x 100
        </b></p>

    <div class="post-title">

        <h5 class="mt10">3. Search Refinements

        </h5></div>

    <p>Search Refinement metric can tell you if your <a href="/ecommerce-search">e-commerce search</a> is providing
        relevant results. Once a user enters a search query, the results page should have the appropriate results from
        which they can choose the desired product. Usually, you can expect to find the home page as the page with the
        most search refinements. In case there is a product page that is also showing up frequently, then there is a
        mismatch in customer expectations.</p>

    <div class="post-title">

        <h5 class="mt10">4. Search Exits

        </h5></div>

    <p>Search Exits tell you how many users exited your site after using search. Like Search Refinement, this is a great
        metric for telling if there is a customer expectation mismatch. You can use insights from this and search
        refinements to see if you can work to reduce cart abandonment.
    </p>

    <a href="/ecommerce-search">
        <img src="/img/blog/banner2.jpg" class="img-responsive center-block mb24">
    </a>

    <div class="post-title">

        <h5 class="mt10">5. Time After Search

        </h5></div>

    <p>Time after search reflects how engaged a visitor is on your site. The longer a visitor stays on the site after
        their first search, the higher is the chance that they will convert on subsequent visits. You can combine this
        with another metric like <b>Page/Session</b> so you can see what products are garnering the most interest.
    </p>

    <div class="post-title">

        <h5 class="mt10">6. Churn Rate</h5></div>

    <p>Churn Rate is the number of visitors who do not come back to your site. While this metric is traditionally used
        for SaaS business models, it can be modified slightly so as to fit the e-commerce model. A customer is said to
        have “churned” if they have not made a purchase in a predetermined number of days. Churn rate can give you a
        picture of your company’s growth. A spike in this metric could mean that your customers are reacting to a change
        in price, product or competitor.
    </p>

    <p class="text-center" style="font-style: italic"><b>Churn Rate = (No. of churns in prev. month)/(No. of churns in
            the current month)x100</b></p>

    <div class="post-title">

        <h5 class="mt10">7. Abandonment Rate
        </h5></div>

    <p>Understanding Abandonment Rate is crucial to improving your store’s conversion rate. This metric tells you how
        many users added a product to the cart but did not complete the checkout process. The most common reasons for
        abandonment are hidden charges like shipping fees, no secure checkout, complicated checkout process, limited
        payment options among others.
    </p>

    <p class="text-center" style="font-style: italic"><b>Abandonment Rate = (No. of completed transactions)/(No. of “Add
            to Cart” sessions)x100
        </b></p>

    <div class="post-title">

        <h5 class="mt10">8. Customer Retention Rate</h5>
    </div>

    <p>Customer Retention Rate (CRR) is the other side of the coin and tells you how effective your store has been in
        getting repeat purchases. A healthy CRR is very important for having a good CLTV and a low CPA. As the cost of
        retaining customers is much lower than acquisition cost, it is essential for businesses to keep this high. It
        also shows that your store has a low churn rate.
    </p>

    <p class="text-center" style="font-style: italic"><b>CRR = [(Number of customers at end of a month) - (New customers
            acquired during that month)] / (Number of customers at the beginning of month) x 100
        </b></p>

    <div class="post-title">

        <h5 class="mt10">9. Net Promoter Score
        </h5>
    </div>

    <p>Net Promoter Score (NPS) is calculated by sending a 10-point survey to customers who have completed a purchase.
        It is used to gauge how likely a person is to recommend your site to a friend. Users are requested to rate their
        experience on the scale of 1-10 (where 10 is the highest). They are then segregated according to the rating they
        gave with 9-10 being promoters, people who will act as social advocates of your brand. 8-7 are neutrals or
        passives and anything below 6 is a detractor. You can get in touch with some neutrals and detractors to
        understand why they had a poor experience.
    </p>

    <div class="post-title">

        <h5 class="mt10">10. Purchase Frequency</h5>
    </div>

    <p>Purchase Frequency tells you the average number of visits a user makes to your store before they make a purchase.
        You can set a benchmark for your store that you can revisit very quarter to see how your business has
        progressed. You can base email or marketing campaigns and prompting users to make a purchase with the data given
        to you by Purchase Frequency.
    </p>

    <p class="text-center" style="font-style: italic"><b>Purchase Frequency = (No. of Purchases)/12 x 100
        </b></p>

    <div class="post-title">

        <h5 class="mt10">11. Order Gap Analysis</h5>
    </div>

    <p>Order Gap Analysis (OGA) shows the average time gap between purchases of a single customer. The data you get from
        this can be used to incentivise shoppers for repeat purchases by introducing exclusive discount or bundles. It
        is very important to keep customers coming back to your store if you want profitability.
    </p>

    <p class="text-center" style="font-style: italic"><b>OGA = (Purchase Frequency)/365
        </b></p>

    <div class="post-title">

        <h5 class="mt10">12. Email CTRs and Open Rates
        </h5>
    </div>

    <p>Email Click-Through Rates (CTRs) and Open Rates are very important engagement metrics. They reflect how well you
        communicate with your audience. Your store’s email list is a very important resource. Using CTRs and Open Rates
        you can segment your audience so that your email campaigns have a better chance of generating sales. You can
        also guarantee repeat customers based on how often and what you communicate with your customers.
    </p>

    <p>Email Open Rate shows how many people open your email.</p>

    <p class="text-center" style="font-style: italic"><b>Email Open Rate = (No. of Opened Emails)/[(Total Email
            sent)-(Emails bounced)] x 100
        </b></p>

    <p>Email CTR shows how many people click through the call to action (CTA) on your email.
    </p>

    <p class="text-center" style="font-style: italic"><b>Email CTR = (No. of Clicks)/[(Total Email sent)-(Emails
            bounced)] x 100
        </b></p>

    <div class="post-title">

        <h4 class="mt10">Conclusion</h4>
    </div>

    <p>For a small or medium e-commerce store, it is best that you start out by focussing your energy at improving one
        key metric that relates to your business. Make sure that the benchmark you set for your KPI is achievable
        otherwise it would lead to a lot of frustration. As you grow, your KPI might also need to be adjusted.
    </p>

    <p>You can keep track other relevant metrics to see your progress weekly or monthly as you prefer. If you ignore
        these metrics to focus solely on one KPI, you will be hindering your business’ strategic growth. With so many
        analytics available to e-commerce platforms, there should be no reason that you should take business decisions
        blindly.
    </p>

    <blockquote>
        <i class="italic-highlight">
            Our clients have reported an increase in revenues by 20-40% by improving website search. If you want to
            understand how our search solution can help you, reach out to us at
            <a href="mailto:hello@searchtap.io">hello@searchtap.io</a> or follow this link to <a href="/request-demo"
                                                                                                 target="_blank">book a
                demo</a>.
        </i>

    </blockquote>

</div>

