---
title: Subscribe to SearchTap
description: Learn why online stores are choosing SearchTap for all their search & discovery needs. Sign up for our 14-day free trial today.
layout: layout-empty
permalink: plans/monthly-signup-usd/
---

<section class="free-bg pt16 pb32" style="height: 100vh">

    <div class="container">

        <div class="row">

            <a href="/" class="logo-light-m">
                <img src="/img/searchtap_logo.png" alt="SearchTap Logo"
                     class="img-responsive center-block pb16 mt16 logo-light-m mb24"></a>

            <div class="signup">

                <div class="col-sm-6">

                    <style>
                        .mbt40 {
                            margin-top: 40px;
                            margin-bottom: 40px;
                        }
                    </style>

                    <div class="feature bordered text-center" style="padding-bottom:0px !important;">


                        <h5 class=" uppercase text-dark _600 mb5 mt18" style="padding-top: 2px;">Join Us</h5>
                        <p class="text-dark">
                            Discover how you can use SearchTap to customize, analyze and build an amazingly
                            effective search experience for your users
                        </p>

                        <img src="/img/plans/subscribe.png" class="img-responsive center-block mbt40" width="200">


                        <a href="javascript:void(0)"
                           class="plan-btn mb10"
                           data-cb-type="checkout"
                           data-cb-plan-id="sign-up-usd">subscribe</a>

                        <p class="mb0 text-dark">By signing up you agree to our
                            <a target="_blank" href="/terms" class="text-info"
                               style="color:#0073FC;">Terms </a>

                            & <a target="_blank" href="/privacy-policy"
                                 class="text-info"
                                 style="color:#0073FC;">Privacy Policy.</a>
                        </p>

                    </div>
                </div>

                <div class="col-sm-6"
                     style="padding-right:0px; padding-left:0px; border-left:1px solid #f1f1f1; padding-bottom:0px !important; background:#fbfbfb; margin-bottom:0px; overflow:hidden;">

                    <div class="text-center">

                        <div class="gray-bg feature bordered sign-up pd what-in">
                            <h5 class="uppercase text-dark _600 mb5">The Ultimate Search !</h5>
                            <p class="text-dark">

                                Everything you need to create a fantastic search journey.


                            </p>
                            <hr class="">
                            <h5 class=" uppercase _600 text-dark mb5">Trusted by leading brands</h5>

                            <p class="text-dark mb5 text-green">

                            </p>

                            <p class="text-dark">

                                <img src="/img/plans/clients-logo.png" class="img-responsive center-block">
                                <!---You can upgrade the trial account directly to a paid account after your trial expires without any search data being lost.-->

                            </p>

                            <hr>

                            <h5 class=" uppercase _600 text-dark mb5">CUSTOMERS <i class="ti-heart"></i> SEARCHTAP
                            </h5>

                            <div class="my-testimonial-item text-center center-block">
                                <p class="my-testimonial-text text-dark">
                                    SearchTap's hosted Search as a Service is amazingly powerful. It’s like, having
                                    search on steroids.

                                </p>

                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                <div class="testimonial-user text-center center-block">
                                    <img src="/img/testi/2.jpg"
                                         class="thumb testimonial-photo center-block text-center"
                                         alt="Split Testing Software - Customer Testimonial" style="float:left;">
                                    <div class="details">
                                        <div class="name ellipsis">Ajay Khanda</div>
                                        <small class="f10">CEO, Glen Appliances</small>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
