---
title: VoxPop Case Study, Improvement of Search Stats
brand: VoxPop
layout: case-study
industry: Fashion, Lifestyle
platform: Magento
about: Voxpop is a leading online shopping website with a wide collection of iconic and emerging pop culture merchandise. They have a dominant following of millennial consumers with brands such as Disney, Marvel, Star Wars, DC Comics and Warner Brothers.
summary: Voxpop needed a replacement for the ineffective default Magento search that provided fast, relevant results and was easy to integrate. After testing multiple on-site search providers, Voxpop wanted to give SearchTap’s site search a try (and they never went back to using any other site-search solution).
stat1: 25ms
stat1_title: Search Speed on the website
stat2: 15%
stat2_title: Reduced load on servers
stat3: 20%
stat3_title: Increased time spent by visitor
stat4: 2 Weeks
stat4_title: Implementation Time
---

<div class="post-snippet mb32">
    <div class="post-title">

        <a href="#">
            <h4 class="inline-block">Beautiful website, disappointing search</h4>
        </a>
    </div>

    <hr>
    <p>
        Since the launch of their website back in 2013, Voxpop was using Magento’s native
        site search.
        Over the years, they analyzed customers were constantly experiencing laggy,
        irrelevant search and
        knew it was time to switch to a search solution that was fast, relevant and could
        improve product
        discovery.
    </p>

    <ul class="list-unstyled blog-style">
        <li>
            Magento’s native site search was not just slow but also had trouble
            understanding shoppers’
            intention and misguided them for the simplest of queries.
        </li>


        <li>
            Users looking for a “t-shirt” would see no results if they searched with the
            terms “tee” or
            “tshirt”. The default search provided no option to setup synonyms which they
            clearly wanted.
        </li>
        <li>
            They were also struggling with “Zero Results” being shown for spelling mistakes
            which users
            often make. A search for “Supermn” would yield no results which compelled
            potential customers to
            drop off.
        </li>

        <li>
            The search was unable to remove out-of-stock items from the search results which
            resulted in
            increased exit rates.
        </li>
    </ul>


    <p>Voxpop clearly needed a search solution that was fast, relevant and had powerful
        features like
        search-as-you-type, typo-tolerance and dynamic filters that the native search
        lacked.</p>

</div>

<div class="post-snippet mb32">

    <div class="post-title">

        <a href="#">
            <h4 class="inline-block">The Solution</h4>
        </a>
    </div>

    <hr>
    <p>
        To resolve their onsite search challenges, Voxpop chose SearchTap’s hosted search
        and integrated <a href="/magento-search" target="_blank">Magento Extension </a></p>

    <ul class="list-unstyled blog-style">
        <li>
            Features like search-as-you-type anticipated what users were searching for in
            first 3-4
            keystrokes. This enabled them to find relevant results in seconds resulting in
            better
            click-throughs and conversion rates.
        </li>


        <li>
            SearchTap’s typo-tolerance capabilities would show auto-corrected, relevant
            results for even the
            most complex spelling errors/typos.
        </li>
        <li>
            Synonyms sets were configured to improve search relevancy and also correct
            common spelling
            mistakes.
        </li>

        <li>
            Real time indexing kept their extensive catalog up to date. Any latest product
            additions, price
            changes or inventory updates ensured customers were always searching across an
            up to date
            catalog.
        </li>
    </ul>

    <!---
  <div class="testimonialss bg-secondary">
  <p class="text-italic">SearchTap was an out-of-the-box search solution with a hands-on client implementation team. We recommend them to eCommerce websites & brands of all sizes.<br>

  <small class="text-green">- Xyz, abc, Voxpop</small>
  </p>
  </div>   ---->

</div>

<div class="post-snippet mb32">

    <div class="post-title">

        <a href="#">
            <h4 class="inline-block">Impact</h4>
        </a>
    </div>

    <hr>
    <p class="mb10">
        Voxpop was able to get SearchTap integrated in about two weeks. They were impressed
        with highly
        relevant results as compared to the native magento search.
    </p>

    <p class="mb10">
        The search speed had <strong class="text-green">80X</strong> improvement. The
        average search speed
        came down from <strong class="text-green">2 seconds</strong> to <strong
                class="text-green ">25ms</strong> with SearchTap. </p>

    <p class="mb10">
        With search being powered by SearchTap, the load on Magento Servers reduced by
        <strong
                class="text-green">30%</strong> compared to default magento search. </p>

    <p class="mb10">
        VoxPop was also able to see their average visitor time on website increasing by
        <strong
                class="text-green">20%</strong> compared to the period when they were using
        default magento
        search.
    </p>

    <p class="mb0">
        Additionally using the search analytics, the marketing team at VoxPop can now better
        understand
        customer behavior and drive crucial decision making.
    </p>


</div>

<!--end of post snippet-->


<section class="stories-tab pt10 pb0 mb0" style="padding:0px !important;">
    <div class="">
        <div class="col-md-6 ">

            <h5 class="mb5" style="color:#777;"><strong>Top Search Queries</strong></h5>

            <div class="table-responsive">

                <table class="table table-striped" style="padding-left:0px;">
                    <thead style="padding-left:0px;">
                    <tr style="background-color:#47b475;">
                        <th width="37%">
                            <button disabled id="btn-admin"
                                    class="btn btn-sm btn-default mb0"
                                    style="text-transform:none !important; background-color:transparent !important; color:#fff !important; font-size:13px; opacity:1; font-weight:600;">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filter
                            </button>
                        </th>
                        <th width="30%">
                            <button disabled id="btn-admin"
                                    class="btn btn-sm btn-default mb0 pull-right"
                                    style="text-transform:none !important; opacity:1; background-color:transparent !important; border-color:transparent !important; padding:0px !important; color:#fff !important; font-size:13px; font-weight:600;">
                                1-10 of 205 <i class="fa fa-chevron-right"
                                               aria-hidden="true"
                                               style="font-size:10px;"></i></button>
                        </th>
                    </tr>
                    <tr class="">
                        <th>Query</th>
                        <td align="right"><strong>Hits</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tab-color">
                        <td>game of thrones</td>
                        <td align="right">3639</td>
                    </tr>
                    <tr>
                        <td>harry potter


                        </td>
                        <td align="right">2388</td>
                    </tr>
                    <tr class="tab-color">
                        <td>batman</td>
                        <td align="right">2075</td>
                    </tr>
                    <tr class="">
                        <td>flash</td>
                        <td align="right">1739
                        </td>
                    </tr>
                    <tr class="tab-color">
                        <td>superman</td>
                        <td align="right">1582</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6 ">
            <h5 class="mb5" style="color:#777;"><strong>Top Zero Result Queries</strong>
            </h5>
            <div class="table-responsive">
                <table class="table table-striped" style="padding-left:20px;">
                    <thead style="padding-left:20px;">
                    <tr style="background-color:#47b475;">
                        <th width="38%">
                            <button disabled id="btn-admin"
                                    class="btn btn-sm btn-default mb0"
                                    style="text-transform:none !important; opacity:1; background-color:transparent !important; color:#fff !important; font-size:13px; font-weight:600;">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filter
                            </button>
                        </th>
                        <th width="29%" align="right">
                            <button disabled id="btn-admin"
                                    class="btn btn-sm btn-default mb0 pull-right"
                                    style="text-transform:none !important; background-color:transparent !important; border-color:transparent !important; opacity:1; padding:0px !important; color:#fff !important; font-size:13px; font-weight:600;">
                                1-10 of 47 <i class="fa fa-chevron-right" aria-hidden="true"
                                              style="font-size:10px;"></i></button>
                        </th>
                    </tr>
                    <tr class="">
                        <th>Query</th>
                        <td align="right"><strong>Hits</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tab-color">
                        <td>hoodie</td>
                        <td align="right">115</td>
                    </tr>
                    <tr>
                        <td>hoodies


                        </td>
                        <td align="right">105</td>
                    </tr>
                    <tr class="tab-color">
                        <td>naruto</td>
                        <td align="right">82</td>
                    </tr>
                    <tr class="">
                        <td>jacket</td>
                        <td align="right">66</td>
                    </tr>
                    <tr class="tab-color">
                        <td>jackets</td>
                        <td align="right">60</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>

<blockquote>
    We’ve found SearchTap’s search analytics to be a goldmine of invaluable
    data - learning about the top search queries, queries with zero results, etc. and using these
    reports to make necessary changes to drive crucial business decisions.
</blockquote>

<!--<div class="testimonialss  bg-secondary" style="padding:14px;">-->
<!--<p class="text-italic mb0">-->

<!--</p>-->
<!--</div>-->