---
title: pricing
date: 2017-11-23 10:55:24
---

<section class="pt64 pb32 bg-secondary2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">

                <h2 class=" mb16 text-white">Startup, SME or Enterprise, we've got you covered! </h2>
                <p class="lead mb64 text-white">
                    Try SearchTap free for 14 days.
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">

            <div class="col-md-6">
                <div class="border-box" style="padding-left:0px !important;">
                    <div class="col-md-6 col-sm-6 padding-left0 padding-right0 mb24 bg-white mobmt"
                         style="border-left:;">
                        <div class="pricing-table pt-1 text-center premium">

                            <div class="price-bg">

                                <h5 class="uppercase mb0"><strong>Startup</strong></h5>
                            </div>
                            <div class="price_price _100 mt10" id="premium-price-text" style="display: block;">
                                <span class="_100 pr3 " style="">$ </span>
                                <p id="business-price-text" class="odometer odometer-auto-theme"
                                   style="overflow:hidden;">
                                    129
                                <div class="odometer-inside">
                                    <small class="pr4">/ month</small>
                                </div>

                                </p>

                            </div>

                            <div class="pr5">
                                <small class="uppercase clearfix ">billed monthly</small>

                                <small class="text-green _600 hidden">OR <strong>$ <span id="business-price-monthly"
                                                                                         class="_600">159</span>
                                        month-to-month</strong></small>

                                <div class="clearfix"></div>

                                <small class=" _600"><strong><span id="business-price-monthly-pages"
                                                                   class="_600 text-green">10,000</span>
                                        pages/products</strong></small>
                            </div>


                            <div class="pslider ml20 mr20 mt10" style="">
                                <div id="pricing-slider" class="pricing-slider">

                                </div>


                                <h5 class="subscribers-text mt39 mb0  _600">
                                    Searches
                                </h5>


                                <div class="mb10"></div>


                                <a class="btn btn-filled btn-lg mb10 mt0" style=" border-radius:4px;"
                                   href="/free-trial">Get
                                    Started</a>

                                <p class=" mb0 text-green _600">Best for</p>
                            </div>
                            <p class="plr17">
                                Individuals, Bloggers & Small
                                Businesses
                            </p>
                        </div>


                    </div>

                    <div class="col-md-6 col-sm-6 padding-left0 padding-right0 mb24 bg-white mobmt"
                         style="border-left:;">
                        <div class="pricing-table pt-1 text-center premium">

                            <div class="price-bg">

                                <h5 class="uppercase mb0"><strong>BUSINESS</strong></h5>
                            </div>
                            <div class="price_price _100 mt10" id="premium-price-textt" style="display: block;">
                                <span class="_100 pr3 " style="">$ </span>
                                <p id="startup-price-text" class="odometer odometer-auto-theme"
                                   style="overflow:hidden;">
                                    129
                                <div class="odometer-inside">
                                    <small class="pr4">/ month</small>
                                </div>

                                </p>

                            </div>

                            <div class="pr5">
                                <small class="uppercase clearfix ">billed monthly</small>

                                <small class="text-green _600 hidden">OR <strong>$ <span id="startup-price-monthly"
                                                                                         class="_600">159</span>
                                        month-to-month</strong></small>

                                <div class="clearfix"></div>

                                <small class=" _600"><strong><span id="startup-price-monthly-pages"
                                                                   class="_600 text-green">10,000</span> pages/products</strong>
                                </small>
                            </div>


                            <div class="pslider ml20 mr20 mt10" style="">
                                <div id="pricing-sliderr" class="pricing-slider">

                                </div>


                                <h5 class="subscribers-text mt39 mb0  _600">
                                    Searches
                                </h5>


                                <div class="mb10"></div>


                                <a class="btn btn-filled btn-lg mb10 mt0" style=" border-radius:4px;"
                                   href="/free-trial">Get
                                    Started</a>

                                <p class=" mb0 text-green _600">Best for</p>


                            </div>
                            <p class="plr17">
                                High Traffic Websites, Ecommerce Businesses & Agencies
                            </p>

                        </div>

                        <style>
                            .plr17 {
                                padding-left: 27px;
                                padding-right: 27px;
                            }
                        </style>
                    </div>

                    <hr class=" mb10 wd70">

                    <div class="col-md-12">


                        <h5 class=" text-center _600 mt16">What's Included</h5>

                        <div class="row mr20 ml20">

                            <div class="col-md-6">
                                <div class="whatin-in">
                                    <ul class="list-unstyled whatin-li ">
                                        <li><i class="ti-search icon-xs"></i> Autocomplete</li>
                                        <li><i class="ti-bolt icon-xs"></i> Instant Search</li>
                                        <li><i class="ti-pin-alt icon-xs"></i> Custom Result Ranking <span
                                                    style="color:red; font-size:9.5px; position:relative; top:-5px; left:-1px;">BETA</span>
                                        </li>
                                        <li><i class="ti-exchange-vertical icon-xs"></i> Relevance Scoring</li>
                                        <li><i class="ti-check-box icon-xs"></i> Autocorrect</li>
                                        <li><i class="ti-filter icon-xs"></i> Smart Dynamic Filters</li>
                                        <li><i class="ti-loop icon-xs"></i> Custom Synonyms</li>
                                        <li><i class="ti-mobile icon-xs"></i> Mobile Device Support</li>
                                        <li><i class="ti-marker-alt icon-xs"></i> Highlighting</li>

                                        <li><i class="ti-infinite icon-xs"></i> Automatic Reindexing</li>


                                        <li><i class="ti-files icon-xs"></i> Document Support (PDF, MS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Word,
                                            Rich text)
                                        </li>


                                    </ul>
                                </div>


                            </div>

                            <div class="col-md-6">
                                <div class="whatin-in">
                                    <ul class="list-unstyled whatin-li ">

                                        <li><i class="ti-control-shuffle icon-xs"></i> Cross Domain Search</li>

                                        <li><i class="ti-arrow-top-left icon-xs"></i> HTTP + HTTPS support</li>
                                        <li><i class="ti-time icon-xs"></i> 90 Days Analytics History</li>
                                        <li><i class="ti-stats-up icon-xs"></i> Engagement Metrics</li>
                                        <li><i class="ti-pulse icon-xs"></i>Behavioral Insights</li>
                                        <li><i class="ti-bar-chart-alt icon-xs"></i> Daily Search Reports</li>
                                        <li><i class="ti-settings icon-xs"></i> Developer API Access</li>
                                        <li><i class="ti-user icon-xs"></i> Upto 3 Users & Accounts</li>
                                        <li><i class="ti-email icon-xs"></i> Email Support</li>
                                        <li><i class="ti-link icon-xs"></i> Multiple Integrations</li>
                                        <li><i class="ti-key icon-xs"></i> Extensions & Plugin Support</li>


                                    </ul>
                                </div>

                            </div>


                        </div>

                        <div class="text-center mb24 " style="margin-top:20px;">

                            <h5 class="mt0 mb0 text-green mb2"><span class="_600">14 day trial</span> - 1,000
                                searches/1,000
                                pages & products limit</h5>

                        </div>

                        <a class="btn btn-lg btn-filled mt16 center-block pbt1" style="margin-right: auto;"
                           href="/free-trial">Free Trial</a>

                    </div>


                </div>


            </div>

            <div class="col-md-6 col-sm-6 ">
                <div class="pricing-table pt-1 text-center emphasis" style="min-height:1065px;">

                    <div class="price-bg mb10 emphasis" style="background:#47b475; border-bottom:1px solid #fff;">
                        <h5 class="uppercase"><strong>Enterprise</strong></h5>

                    </div>

                    <small class=" clearfix mb0  mt0 uppercase">Starts from</small>


                    <span class="price mb0 mt0 mmt">$999<small
                                style="font-size:16px; line-height: normal;">/ month</small></span>

                    <small class="uppercase clearfix mt0 pb64 mmts">billed monthly</small>
                    <div class="mt16 mb16"></div>

                    <hr class="mb0 mt64 wd70 light-green">
                    <div class="clearfix"></div>

                    <h5 class="mb10 text-center  mt16" style=" font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;">Email us at:

                        <a href="mailto:sales@searchtap.io" class="">sales@searchtap.io</a>
                    </h5>

                    <div class="clearfix"></div>
                    <a class="btn btn-white btn-lg mb10 mt64 " style=" border-radius:4px; margin-top:70px;"
                       href="/request-demo">Request a Demo</a>
                    <p class="mb0 _600">Best for</p>

                    <p class="" style="margin-bottom:20px;">
                        Enterprises & Large Agencies
                    </p>


                    <hr class=" mb10 mt0 wd70 light-green">

                    <div class="col-md-12 text-left">


                        <h5 class=" text-center _600 mt16 mb0">What's Included</h5>
                        <p class="text-center mb0">Everything in Startup & Business Plans<br>
                            <span class="_600 font14" style="font-size:20px;">+</span></p>

                        <div class="row mr20 ml20">

                            <div class="col-md-6">
                                <div class="whatin-in">
                                    <ul class="list-unstyled whatin-li">

                                        <li><i class="ti-map-alt icon-xs"></i> Geo-location Search</li>
                                        <li><i class="ti-world icon-xs"></i> Multiple Language Support</li>
                                        <li><i class="ti-search icon-xs"></i> Advanced Search</li>
                                        <li><i class="ti-infinite icon-xs"></i> On Demand Indexing</li>

                                        <li><i class="ti-lock icon-xs"></i> Enterprise Security</li>
                                        <li><i class="ti-location-pin icon-xs"></i> Geo-distributed Datacenters</li>
                                        <li><i class="ti-cloud icon-xs"></i> Onsite Hosting Option</li>
                                        <li><i class="ti-server icon-xs"></i> Server Redundancy</li>

                                        <li><i class="ti-bolt icon-xs"></i> Real Time Content Updates</li>

                                        <li><i class="ti-stats-up icon-xs"></i> Full Analytics History</li>
                                        <li><i class="ti-settings  icon-xs"></i> Analytics API</li>

                                    </ul>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="whatin-in">
                                    <ul class="list-unstyled whatin-li ">
                                        <li><i class="ti-user icon-xs"></i> Unlimited Users & Accounts</li>
                                        <li><i class="ti-headphone-alt icon-xs"></i> Priority Phone Support</li>
                                        <li><i class="ti-heart icon-xs"></i> Search Consultation</li>
                                        <li><i class="ti-panel icon-xs"></i> Relevance Tuning Consultation</li>
                                        <li><i class="ti-id-badge icon-xs"></i> Dedicated Account Manager</li>
                                        <li><i class="ti-write icon-xs"></i> Monthly Account Review</li>
                                        <li><i class="ti-thumb-up icon-xs"></i> Premium Onboarding</li>
                                        <li><i class="ti-blackboard icon-xs"></i> Product Training</li>
                                        <li><i class="ti-bookmark-alt icon-xs"></i> Commercial Terms of Use</li>
                                        <li><i class="ti-receipt icon-xs"></i> Service Level Agreement (SLA)</li>


                                    </ul>
                                </div>

                            </div>

                            <div class="text-center" style="margin:0 auto;">


                            </div>
                            <div class="clearfix"></div>
                            <div class="text-center mb24 " style="margin-top:20px;">

                                <h5 class="mt0 mb0 mb2"><span class="_600">14 day trial</span> - 1,000
                                    searches/1,000
                                    pages &amp; products limit</h5>

                            </div>
                            <a class="btn btn-lg btn-white" href="/request-demo"
                               style=" width:100%; border-radius:4px; height:48px; ">Contact sales</a>


                        </div>

                    </div>

                </div>
                <!--end of pricing table-->
            </div>
            <!--end of row-->
            <div class="clearfix"></div>

            <div class="col-md-12">
                <p class="mt10">
                    <small>
                        <strong>
                            Please note: Limits apply to all plans based on search traffic, pages and objects indexed,
                            frequency of indexing, and other core operations.
                            <br/> All prices are in US Dollars unless specified
                            otherwise.
                        </strong>
                    </small>
                </p>
            </div>

        </div>
    </div>
    <!--end of container-->
</section>

<hr/>

<section class="pt0 pb0">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class=" mb0 mt10">
                    Trusted by leading brands</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/bazaarcart.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/voxpop.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/mybabycart.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/jaypore.png" class="img-responsive center-block">
            </div>


            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/idecorama.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/it-depot.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/IWS.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="/img/clients/rentsher.png" class="img-responsive center-block">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6"><img src="/img/clients/glen-logo.png"
                                                         class="img-responsive center-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-6"><img src="/img/clients/my-waitlist.png"
                                                         class="img-responsive center-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-6"><img src="/img/clients/kraftdirect.png"
                                                         class="img-responsive center-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-6"><img src="/img/clients/scrapoye.png"
                                                         class="img-responsive center-block"></div>


        </div>
        <!--end of row-->
    </div>

</section>