---
title: Plug and Play Search Solution for Websites, Mobile Apps and Enterprise Softwares
---

<section class="banner-s fullscreen image-bg pt30 pb30">

    <ul class="slides" style="background-image: url('./img/hosted_site_search.jpg') !important;">
        <li class="flex-active-slide"
            style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">

            <div class="container">

                <div class="row">

                    <div class="col-md-8 col-sm-12 col-xs-12 moblie-banner mt10">
                        <h1 class="mb40 mb-xs-16 large text-white">The world
                            is complex.
                            <br> Search shouldn’t be.</h1>
                        <h6 class="uppercase mb10 text-white">Plug and play search solution for websites, mobile
                            applications and enterprise softwares.</h6>
                        <p class="lead mb10 text-white" style="line-height: normal">
                            Use SearchTap to customize, analyze and build an amazingly effective search
                            experience for your users with minimal IT involvement and no infrastructure investment.
                        </p>

                        <h6 class="uppercase mb10 text-white">Plans start at $59/month</h6>

                        <a class="btn btn-lg btn-filled btn-r mt10 mb10" href="/pricing"
                           style="border-radius: 4px !important; border-color: #fff; box-shadow: 0px 0px 32px #3ca267;">Pricing</a>

                        <a class="btn btn-lg btn-filled-2 btn-r mt10 mb10" href="/features"
                           style="border-radius:4px !important; border-color: #fff !important;">Features</a>

                        <div class="clearboth"></div>

                    </div>

                    <div class="form-container">

                        <div class="col-md-4 col-sm-12 col-xs-12 text-center moblie-banner homepage-form-container">

                            <div class="hm-form">
                                <div class="re-right">

                                    <form name="Homepage Request Demo" class="text-center form-email"
                                          id="requestDemoForm"
                                          method="POST" netlify-honeypot="bot-field" data-netlify="true">

                                        <h3 class="mb10 text-dark">Looking for a personalised demo?
                                        </h3>
                                        <div class="brd4"></div>
                                        <p class="lead mb-xs-12 text-green mt10" style="color: #777 !important;">
                                            Speak with a Search expert so we can learn about your unique goals.
                                        </p>

                                        <div>

                                            <div class="alert alert-success text-center" id="leadCreated"
                                                 style="display: none">
                                                Thank you for your interest in SearchTap. Our search experts will
                                                contact
                                                you to schedule a demo shortly!
                                            </div>

                                            <div class="alert alert-danger text-center" id="leadNotCreated"
                                                 style="display: none">
                                                Please enter valid details.
                                            </div>

                                            <label>
                                                <input name="bot-field"/>
                                            </label>

                                            <input type="text" id="name" name="Name"
                                                   class="col-md-12" placeholder="Name"
                                                   required/>

                                            <input type="number" id="number" name="Phone"
                                                   class="col-md-12" placeholder="Phone"
                                                   required/>

                                            <input type="email" id="email" class="col-md-12 mt8"
                                                   placeholder="Company Email" name="Email" required/>

                                            <div data-netlify-recaptcha="true"></div>

                                            <div class="col-md-12">

                                                <button type="submit" id="requestDemoFormSubmit"
                                                        style=" border-radius:4px !important;">Schedule demo
                                                </button>
                                            </div>

                                        </div>

                                    </form>

                                </div>

                            </div>


                        </div>

                    </div>
                </div>
                <!--end of row-->
            </div>
        </li>

    </ul>

</section>

<div class="row logo-brd">

    <div class="col-lg-10 col-lg-offset-1">
        <div class="logo-carousel">

            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                <ul class="slides">

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Liberty" src="./img/clients/searchtap_for_liberty.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Mamaearth" src="./img/clients/searchtap_for_mamaearth.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Hipvan" src="./img/clients/searchtap_for_hipvan.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Killer Jeans" src="./img/clients/searchtap_for_killer_jeans.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Voxpop" src="./img/clients/searchtap_for_voxpop.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Portronics" src="./img/clients/searchtap_for_portronics.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Headphonezone" src="./img/clients/searchtap_for_headphonezone.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Glen" src="./img/clients/searchtap_for_glen.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Amydus" src="./img/clients/searchtap_for_amydus.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Rentsher" src="./img/clients/searchtap_for_rentsher.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Gocoop" src="./img/clients/searchtap_for_gocoop.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="MyWaitlist" src="./img/clients/searchtap_for_mywaitlist.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Femella" src="./img/clients/searchtap_for_femella.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Jade Blue" src="./img/clients/searchtap_for_jadeblue.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Propshop24" src="./img/clients/searchtap_for_propshop24.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Sugar Cosmetics" src="./img/clients/searchtap_for_sugarcosmetics.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Ultykhopdi" src="./img/clients/searchtap_for_ultykhopdi.png" draggable="false">
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <img alt="Postergully" src="./img/clients/searchtap_for_poster-gully.png" draggable="false">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!--end of logo slider-->
</div>

<section class="mb15 pb0 pt16 mt16">
    <div class="container">
        <div class="row mb24 mb-xs-24">
            <div class="col-md-12 col-sm-12 text-center">
                <h2>What is SearchTap?</h2>
                <p style="margin-bottom:12px;">
                    It is a subscription based
                    <strong class="_700">hosted search solution</strong> for websites (eCommerce, Media and
                    Publishing), mobile
                    applications and enterprise softwares. With investments in unrivalled technology and
                    best in class cloud infrastructure, SearchTap helps you build the best search experience
                    for your users and offers
                    <strong>world class speed and reliability</strong> right from the very the first keystroke.
                    Under
                    the hood, we use
                    <strong>advanced predictive analytics</strong> and
                    <strong>language modeling algorithms</strong> to help users find most relevant information
                    within
                    your data.
                </p>

                <p style="margin-bottom:12px;">Power packed with features like
                    <strong>autocomplete, facets, location based results, multiple language support, relevance
                        customization</strong>
                    and much more, SearchTap offers an amazingly
                    <strong>powerful search experience</strong>. Our search platform also comes with a
                    <strong>“All in one” integrated dashboard</strong> that weaves user behaviour and search
                    trends
                    history to show you the whole story that lives within your search data.

                </p>

                <p>Integrating our search technology software is dead-simple: copy-paste a javascript code
                    snippet
                    in your website once and you are ready to go live! </p>

                        <a class="btn btn-lg btn-filled btn-r mt24" href="/request-demo">Schedule a personalised demo</a>

            </div>
        </div>
        <!--end of row-->
        <div class="row mb0 mb-xs-24">
            <div class="col-md-10 col-md-offset-1">
                <img alt="Faceted Search" class="cast-shadow center-block"
                     src="/img/faceted_search.png">
            </div>
        </div>
        <!--end of row-->

        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<hr>


<section class="pb0 mb32 pt32">
    <div class=" container">
        <div class="col-md-12 col-sm-12 text-center">
            <h3 class="mb64">Easy to use & Smarter than you can imagine.</h3>

            <div class="col-sm-3">
                <div class="boxed">
                    <div class="text-center center-block">
                        <i class="ti-shield icon"></i>
                    </div>
                    <span class="easy-text text-center">AMAZINGLY POWERFUL</span>

                    <ul class="list-unstyled esy-list">
                        <li> Ultra Fast & Accurate Results</li>
                        <li>Multiple Language Support</li>
                        <li> Adaptive Machine Learning Algorithm</li>
                        <li>Robust & Secure Cloud Infrastructure
                        </li>


                    </ul>
                </div>
                <!--end of feature-->
            </div>

            <div class="col-sm-3">
                <div class=" boxed">
                    <div class="text-center ">
                        <i class="ti-wand icon"></i>
                    </div>
                    <span class="easy-text text-center">FULLY CUSTOMISABLE
                                    </span>

                    <ul class="list-unstyled esy-list">
                        <li>Custom Result Ranking
                        </li>
                        <li> Smart Dynamic Filters</li>
                        <li>Geo-Location based Search Results</li>

                        <li> Optimised for Mobile Devices</li>

                    </ul>
                </div>
                <!--end of feature-->
            </div>

            <div class="col-sm-3">
                <div class=" boxed">
                    <div class="text-center center-block">
                        <i class="ti-infinite icon"></i>
                    </div>
                    <span class="easy-text  text-center">EASY TO INTEGRATE</span>

                    <ul class="list-unstyled esy-list">
                        <li> Code Free Setup</li>
                        <li> Seamless Real-time Indexing</li>
                        <li> Multiple Platform Integrations</li>
                        <li>Guided Setup by Search Specialists</li>

                    </ul>
                </div>
                <!--end of feature-->
            </div>

            <div class="col-sm-3">
                <div class=" boxed">
                    <div class="text-center">
                        <i class="ti-pulse icon"></i>
                    </div>
                    <span class="easy-text text-center">INTELLIGENT INSIGHTS</span>

                    <ul class="list-unstyled esy-list">
                        <li> Actionable Analytics</li>
                        <li>Simple & Intuitive Dashboards</li>
                        <li>Daily Search Reports</li>
                        <li>Top Searches & Zero Result Queries</li>


                    </ul>
                </div>
                <!--end of feature-->
            </div>

            <!--end of icon tabs-->

            <div class="clearboth"></div>

            <a class="btn btn-lg btn-filled btn-r mt24" href="/features" style="border-radius:4px;">View All
                Features</a>

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<hr>

<section class="pt0 pb0 mt0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mb64 pt32 text-center">Powerful features for you. Superior experience for your
                    visitors. </h3>
            </div>
        </div>

        <div class="row ">
            <div class="col-sm-12 mb-xs-16">
                <img alt="e-commerce Site Search" src="/img/ecommerce_site_search.png">
            </div>

        </div>


        <div class="row masonry fadeIn" style="position: relative; height: 406px;">
            <div class="masonry-item col-md-3 col-sm-12 col-xs-12"
                 style="position: absolute; left: 0px; top: 0px;">
                <div class="feature f-box  p32 pt16 pb0 mb0">
                                    <span class="pull-right">
                                        <i class="ti-shopping-cart icon-sm"></i>
                                    </span>
                    <h5 class="mb0 italic">eCommerce</h5>
                    <ul class="point-list">
                        <li>
                            <i class="ti-angle-right font-size10"></i> Magento
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Shopify
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> PrestaShop
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> WooCommerce
                        </li>
                    </ul>

                </div>
            </div>

            <div class="masonry-item col-md-3 col-sm-12 col-xs-12"
                 style="position: absolute; left: 0px; top: 0px;">
                <div class="feature f-box p32 pt16 pb0 mb0">
                                    <span class="pull-right">
                                        <i class="ti-layout-media-left-alt icon-sm"></i>
                                    </span>
                    <h5 class="mb0 italic">Media/Publishing</h5>
                    <ul class="point-list">
                        <li>
                            <i class="ti-angle-right font-size10"></i> WordPress
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Drupal
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Joomla
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> HTML Websites
                        </li>
                    </ul>

                </div>
            </div>


            <div class="masonry-item col-md-3 col-sm-12 col-xs-12"
                 style="position: absolute; left: 390px; top: 0px;">
                <div class="feature f-box p32 pt16 pb0 mb0">
                                    <span class="pull-right">
                                        <i class="ti-mobile icon-sm"></i>
                                    </span>
                    <h5 class="mb0 italic">Mobile Apps</h5>
                    <span></span>
                    <ul class="point-list">
                        <li>
                            <i class="ti-angle-right font-size10"></i> iOS
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Android
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Windows
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Hybrid
                        </li>
                    </ul>

                </div>
            </div>
            <div class="masonry-item col-md-3 col-sm-12 col-xs-12"
                 style="position: absolute; left: 780px; top: 0px;">
                <div class="feature f-box  p32 pt16 pb0 mb0">
                                    <span class="pull-right">
                                        <i class="ti-plus icon-sm"></i>
                                    </span>
                    <h5 class="mb0 italic">More </h5>
                    <ul class="point-list">
                        <li>
                            <i class="ti-angle-right font-size10"></i> Customer Support
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Knowledge Management
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Document Management
                        </li>

                        <li style="border:none;">
                            <i class="ti-angle-right font-size10"></i> Web Applications
                        </li>

                    </ul>

                </div>
            </div>
        </div>

    </div>
    <!-- end of container-->
</section>

<hr>

<section class="pb32 mb32 pt32">
    <div class="container">

        <div class="row mb64 mb-xs-24">
            <div class="col-md-12 col-sm-12 text-center">
                <h3>We like to work in silence, our search makes all the noise</h3>
            </div>
        </div>


        <div class="row v-align-children">
            <div class="col-sm-6 col-md-5">
                <div class="row logo-area">

                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <img src="img/clients/searchtap_for_liberty.png" alt="SearchTap for Liberty"
                             class=" img-responsive center-block" width="237"
                             height="147" style="position:relative; top:-5px;">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/searchtap_for_gocoop.png" alt="SearchTap for Gocoop"
                             class=" img-responsive center-block" width="237"
                             height="147">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/searchtap_for_voxpop.png" alt="SearchTap for Voxpop"
                             class=" img-responsive center-block" width="237"
                             height="147">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/searchtap_for_jaypore.png" alt="SearchTap for Jaypore"
                             class=" img-responsive center-block" width="237"
                             height="147">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/searchtap_for_portronics.png" alt="SearchTap for Portronics"
                             class="img-responsive center-block" width="237"
                             height="147">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/searchtap_for_mywaitlist.png" alt="SearchTap for MyWaitlist"
                             class=" img-responsive center-block" width="237"
                             height="147">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/searchtap_for_glen.png" alt="SearchTap for Glen India"
                             class=" img-responsive center-block" width="237"
                             height="147">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/searchtap_for_qtrove.png" alt="SearchTap for Qtrove"
                             class=" img-responsive center-block" width="237"
                             height="147">
                    </div>


                </div>

            </div>
            <div class="col-sm-6 col-md-offset-1 p0">
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="section__content clearfix">
                        <div class="card effect__hover">
                            <div class="bg-green">
                                <div class="vertitcal-text">
                                <h1 class="large  text-white robot-s"> 28%
                                </h1>
                                <h5 class="uppercase text-white">Revenue
                                    <br> Contribution
                                </h5>
                                </div>
                            </div>
                            <div class="card__back">

                                <h4 class="mb0 text-dark text-uppercase _700 font-20 v-txt">Qtrove</h4>

                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                </div>
                <!--end 6 col-->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="section__content clearfix">
                        <div class="card effect__hover">
                            <div class="bg-green">
                                <div class="vertitcal-text">
                                <h1 class="large  text-white robot-s"> 2x

                                </h1>
                                <h5 class="uppercase text-white"> Pages / Session
                                </h5>
                            </div>
                            </div>
                            <div class="card__back">
                                <h4 class="mb0 text-dark text-uppercase _700 font-20 v-txt">Liberty</h4>

                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /card -->
                </div>
                <!--end 6 col-->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="section__content clearfix">
                        <div class="card effect__hover">
                            <div class="bg-green">
                                <div class="vertitcal-text">
                                <h1 class="large  text-white robot-s"> 4x

                                </h1>
                                <h5 class="uppercase text-white">Ecommerce
                                    <br> Conversion Rate</h5>
                            </div>
                            </div>
                            <div class="card__back">
                                <h4 class="mb0 text-dark text-uppercase _700 font-20 v-txt">Glen</h4>

                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /card -->
                </div>
                <!--end 6 col-->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="section__content clearfix">
                        <div class="card effect__hover">
                            <div class="bg-green">
                                <div class="vertitcal-text">
                                <h1 class="large  text-white robot-s"> 44%

                                </h1>
                                <h5 class="text-white uppercase">Decrease in
                                    <br> Bounce Rate</h5>
                            </div>
                            </div>
                            <div class="card__back">
                                <h4 class="mb0 text-dark text-uppercase _700 font-20 v-txt">Headphonezone</h4>

                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /card -->
                </div>
                <!--end 6 col-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- todo: Not sure where this is used, check with ravish-->
<section class="hidden bg-gray pt16 pb10 bg-border hidden-xs">
    <div class="container-fluid2">
        <div class="row  md-offset-2">

            <div class="col-sm-2 text-center">
                <h4 class="text-center mb0   _600 text-green "> 4ms </h4>
                <p class="mb16 mb-xs-24 font-noraml">
                    Average search speed
                </p>
            </div>
            <div class="col-sm-2 text-center">
                <h4 class="text-center mb0  _600  text-green"> 42 </h4>
                <p class="mb16 mb-xs-24 font-noraml">
                    Geo distributed data centers
                </p>
            </div>

            <div class="col-sm-2 text-center">
                <h4 class="text-center mb0  _600 text-green ">2.3mm+ </h4>
                <p class="mb16 mb-xs-24 font-noraml">
                    Search queries served
                </p>
            </div>

            <div class="col-sm-2 text-center ">
                <h4 class="text-center mb0  _600 text-green"> 560k </h4>
                <p class=" mb16 mb-xs-24 font-noraml">
                    Web pages indexed
                </p>
            </div>

            <div class="col-sm-2 text-center ">
                <h4 class="text-center mb0  _600 text-green"> 99.99% </h4>
                <p class=" mb16 mb-xs-24 font-noraml">
                    Uptime of the servers
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>