---
title: Plug and Play Search Solution for Websites, Mobile Apps and Enterprise Softwares
---


<section class="banner-s bg-dark cover fullscreen image-slider
    slider-all-controls controls-inside overlay image-bg parallax">

    <ul class="slides">
        <li class="overlay image-bg bg-light ">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="img/home-bg.jpg"/>
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div
                            class="col-md-10 col-sm-12 col-xs-12  col-md-offset-1 col-sm-offset-0 col-xs-offset-0 text-center moblie-banner">
                        <h1 class="mb40 mb-xs-16 large text-white">The world is complex.
                            <br/> Search shouldn’t be.</h1>
                        <h6 class="uppercase mb10 text-white">Plug and play search solution for websites, mobile
                            applications and enterprise softwares.</h6>
                        <p class="lead mb10 text-white">
                            Use SearchTap to customize, analyze and build an amazingly effective search
                            experience
                            <br/>for your users with minimal IT involvement and no infrastructure investment.
                        </p>

                        <h6 class="uppercase mb10 text-white">Plans start at $59/month</h6>

                        <form id="getStartedFormMobile">

                            <a href="free-trial.html" class="btn btn-lg btn-filled center-block mobile-btn"
                               id="getStarted"> Signup for free account</a>

                        </form>

                        <form name="Home Page Signup Form" data-netlify="true"
                              class="halves form-newsletter home-input-box col-sm-offset-2 hidden-xs">


                            <input type="text" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="emailToStart" name="email"
                                   class=" signup-name-field news" placeholder="enter your email address "
                                   required style="width:50%; color:#333;">


                            <button type="submit" class="" id="getStarted">GET STARTED</button>


                        </form>

                        <div class="clearboth"></div>


                        <div class="col-md-12 text-center">
                            <h6 class=" mb16 text-white sp2">
                                Sign up to get a 14 day free trial!


                            </h6>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </li>

    </ul>
</section>

<section class=" mb32 pb64 pt16 mt16">
    <div class="container">
        <div class="row mb24 mb-xs-24">
            <div class="col-md-12 col-sm-12 text-center">
                <h2>What is SearchTap?</h2>
                <p style="margin-bottom:12px;">
                    It is a subscription based
                    <strong class="_700">hosted search solution</strong> for websites (eCommerce, Media and
                    Publishing), mobile
                    applications and enterprise softwares. With investments in unrivalled technology and
                    best in class cloud infrastructure, SearchTap helps you build the best search experience
                    for your users and offers
                    <strong>world class speed and reliability</strong> right from the very the first keystroke.
                    Under
                    the hood, we use
                    <strong>advanced predictive analytics</strong> and
                    <strong>language modeling algorithms</strong> to help users find most relevant information
                    within
                    your data.
                </p>

                <p style="margin-bottom:12px;">Power packed with features like
                    <strong>autocomplete, facets, location based results, multiple language support, relevance
                        customization</strong>
                    and much more, SearchTap offers an amazingly
                    <strong>powerful search experience</strong>. Our search platform also comes with a
                    <strong>“All in one” integrated dashboard</strong> that weaves user behaviour and search
                    trends
                    history to show you the whole story that lives within your search data.

                </p>

                <p>Integrating our search technology software is dead-simple: copy-paste a javascript code
                    snippet
                    in your website once and you are ready to go live! </p>

                <p class="text-green" style="line-height:18px;">
                    <strong>
                        <a href="free-trial.html" class="">Signup for a FREE 14 day trial today</a>
                        <span style="color:#333;">or</span>
                        <a href="request-demo.html" class="">Schedule a personalised demo.</a>
                    </strong>
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row mb0 mb-xs-24">
            <div class="col-md-10 col-md-offset-1">
                <img alt="Pic" class="cast-shadow center-block"
                     src="/img/dynamic-filters.png">
            </div>
        </div>
        <!--end of row-->

        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<hr>


<section class="pb0 mb32 pt32">
    <div class=" container">
        <div class="col-md-12 col-sm-12 text-center">
            <h3 class="mb64">Easy to use. Smarter than you can imagine.</h3>

            <div class="col-sm-3">
                <div class="boxed">
                    <div class="text-center center-block">
                        <i class="ti-shield icon"></i>
                    </div>
                    <span class="easy-text text-center">AMAZINGLY POWERFUL</span>

                    <ul class="list-unstyled esy-list">
                        <li> Ultra Fast & Accurate Results</li>
                        <li>Multiple Language Support</li>
                        <li> Adaptive Machine Learning Algorithm</li>
                        <li>Robust & Secure Cloud Infrastructure
                        </li>


                    </ul>
                </div>
                <!--end of feature-->
            </div>

            <div class="col-sm-3">
                <div class=" boxed">
                    <div class="text-center ">
                        <i class="ti-wand icon"></i>
                    </div>
                    <span class="easy-text text-center">FULLY CUSTOMISABLE
                                    </span>

                    <ul class="list-unstyled esy-list">
                        <li>Custom Result Ranking
                        </li>
                        <li> Smart Dynamic Filters</li>
                        <li>Geo-Location based Search Results</li>

                        <li> Optimised for Mobile Devices</li>

                    </ul>
                </div>
                <!--end of feature-->
            </div>

            <div class="col-sm-3">
                <div class=" boxed">
                    <div class="text-center center-block">
                        <i class="ti-infinite icon"></i>
                    </div>
                    <span class="easy-text  text-center">EASY TO INTEGRATE</span>

                    <ul class="list-unstyled esy-list">
                        <li> Code Free Setup</li>
                        <li> Seamless Real-time Indexing</li>
                        <li> Multiple Platform Integrations</li>
                        <li>Guided Setup by Search Specialists</li>

                    </ul>
                </div>
                <!--end of feature-->
            </div>

            <div class="col-sm-3">
                <div class=" boxed">
                    <div class="text-center">
                        <i class="ti-pulse icon"></i>
                    </div>
                    <span class="easy-text text-center">INTELLIGENT INSIGHTS</span>

                    <ul class="list-unstyled esy-list">
                        <li> Actionable Analytics</li>
                        <li>Simple & Intuitive Dashboards</li>
                        <li>Daily Search Reports</li>
                        <li>Top Searches & Zero Result Queries</li>


                    </ul>
                </div>
                <!--end of feature-->
            </div>

            <!--end of icon tabs-->

            <div class="clearboth"></div>

            <a class="btn btn-lg btn-filled btn-r mt24" href="features.html" style="border-radius:4px;">View All
                Features</a>

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<hr>

<section class="pt0 pb0 mt0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mb64 pt32 text-center">Powerful features for you. Superior experience for your
                    visitors. </h3>
            </div>
        </div>

        <div class="row ">
            <div class="col-sm-12 mb-xs-16">
                <img src="/img/home-ui.png">
            </div>

        </div>


        <div class="row masonry fadeIn" style="position: relative; height: 406px;">
            <div class="masonry-item col-md-3 col-sm-12 col-xs-12"
                 style="position: absolute; left: 0px; top: 0px;">
                <div class="feature f-box  p32 pt16 pb0 mb0">
                                    <span class="pull-right">
                                        <i class="ti-shopping-cart icon-sm"></i>
                                    </span>
                    <h5 class="mb0 italic">eCommerce</h5>
                    <ul class="point-list">
                        <li>
                            <i class="ti-angle-right font-size10"></i> Magento
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Shopify
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> PrestaShop
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> WooCommerce
                        </li>
                    </ul>

                </div>
            </div>

            <div class="masonry-item col-md-3 col-sm-12 col-xs-12"
                 style="position: absolute; left: 0px; top: 0px;">
                <div class="feature f-box p32 pt16 pb0 mb0">
                                    <span class="pull-right">
                                        <i class="ti-layout-media-left-alt icon-sm"></i>
                                    </span>
                    <h5 class="mb0 italic">Media/Publishing</h5>
                    <ul class="point-list">
                        <li>
                            <i class="ti-angle-right font-size10"></i> WordPress
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Drupal
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Joomla
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> HTML Websites
                        </li>
                    </ul>

                </div>
            </div>


            <div class="masonry-item col-md-3 col-sm-12 col-xs-12"
                 style="position: absolute; left: 390px; top: 0px;">
                <div class="feature f-box p32 pt16 pb0 mb0">
                                    <span class="pull-right">
                                        <i class="ti-mobile icon-sm"></i>
                                    </span>
                    <h5 class="mb0 italic">Mobile Apps</h5>
                    <span></span>
                    <ul class="point-list">
                        <li>
                            <i class="ti-angle-right font-size10"></i> iOS
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Android
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Windows
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Hybrid
                        </li>
                    </ul>

                </div>
            </div>
            <div class="masonry-item col-md-3 col-sm-12 col-xs-12"
                 style="position: absolute; left: 780px; top: 0px;">
                <div class="feature f-box  p32 pt16 pb0 mb0" style="min-height:">
                                    <span class="pull-right">
                                        <i class="ti-plus icon-sm"></i>
                                    </span>
                    <h5 class="mb0 italic">More </h5>
                    <ul class="point-list">
                        <li>
                            <i class="ti-angle-right font-size10"></i> Customer Support
                        </li>
                        <li>
                            <i class="ti-angle-right font-size10"></i> Knowledge Management
                        </li>
                        <li style="border:;">
                            <i class="ti-angle-right font-size10"></i> Document Management
                        </li>

                        <li style="border:none;">
                            <i class="ti-angle-right font-size10"></i> Web Applications
                        </li>

                    </ul>

                </div>
            </div>
        </div>

    </div>
    <!-- end of container-->
</section>

<hr>

<section class="pb32 mb32 pt32">
    <div class="container">

        <div class="row mb64 mb-xs-24">
            <div class="col-md-12 col-sm-12 text-center">
                <h3>We like to work in silence, our search makes all the noise</h3>
            </div>
        </div>


        <div class="row v-align-children">
            <div class="col-sm-6 col-md-5">
                <div class="row logo-area">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/bazaarcart.png" class="img-responsive center-block" width="237"
                             height="147">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/voxpop.png" class=" img-responsive center-block" width="237"
                             height="147">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/mybabycart.png" class=" img-responsive center-block" width="237"
                             height="147">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/jaypore.png" class=" img-responsive center-block" width="237"
                             height="147">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/idecorama.png" class=" img-responsive center-block" width="237"
                             height="147">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/it-depot.png" class=" img-responsive center-block" width="237"
                             height="147">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="img/clients/rentsher.png" class=" img-responsive center-block" width="237"
                             height="147">
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <img src="img/clients/IWS.png" class=" img-responsive center-block" width="237"
                             height="147" style="position:relative; top:-5px;">
                    </div>


                </div>

            </div>
            <div class="col-sm-6 col-md-offset-1 p0">
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="section__content clearfix">
                        <div class="card effect__hover">
                            <div class="bg-green">
                                <h1 class="large  text-white robot-s"> 73
                                    <span class="small text-white robot-s">%</span>
                                </h1>
                                <h5 class="uppercase text-white">Increase in
                                    <br> Enquiries
                                </h5>
                            </div>
                            <div class="card__back">

                                <h5 class=" mb0">Wisdom Mart</h5>
                                <p class="uppercase text-green">
                                    <a href="/coming-soon">Details</a>
                                </p>


                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                </div>
                <!--end 6 col-->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="section__content clearfix">
                        <div class="card effect__hover">
                            <div class="bg-green">
                                <h1 class="large  text-white robot-s"> 40
                                    <span class="small text-white robot-s">%</span>
                                </h1>
                                <h5 class="uppercase text-white">Increase in
                                    <br> Online SALES</h5>
                            </div>
                            <div class="card__back">
                                <h5 class=" mb0">KM Industrial Corp</h5>
                                <p class="uppercase text-green">
                                    <a href="/coming-soon">Details</a>
                                </p>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /card -->
                </div>
                <!--end 6 col-->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="section__content clearfix">
                        <div class="card effect__hover">
                            <div class="bg-green">
                                <h1 class="large  text-white robot-s"> 132
                                    <span class="small text-white robot-s">%</span>
                                </h1>
                                <h5 class="uppercase text-white">INCREASE IN app
                                    <br> engagement score</h5>
                            </div>
                            <div class="card__back">
                                <h5 class=" mb0">Legal Eagle</h5>
                                <p class="uppercase text-green">
                                    <a href="/coming-soon">Details </a>
                                </p>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /card -->
                </div>
                <!--end 6 col-->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="section__content clearfix">
                        <div class="card effect__hover">
                            <div class="bg-green">
                                <h1 class="large  text-white robot-s"> 65
                                    <span class="small text-white robot-s">%</span>
                                </h1>
                                <h5 class="text-white uppercase">INCREASE IN
                                    <br> Monthly SEARCHES</h5>
                            </div>
                            <div class="card__back">
                                <h5 class=" mb0">Coral Knowledge Services</h5>
                                <p class="uppercase text-green">
                                    <a href="/coming-soon">Details</a>
                                </p>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /card -->
                </div>
                <!--end 6 col-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- todo: Not sure where this is used, check with ravish-->
<section class="hidden bg-gray pt16 pb10 bg-border hidden-xs">
    <div class="container-fluid2">
        <div class="row  md-offset-2">

            <div class="col-sm-2 text-center">
                <h4 class="text-center mb0   _600 text-green "> 4ms </h4>
                <p class="mb16 mb-xs-24 font-noraml">
                    Average search speed
                </p>
            </div>
            <div class="col-sm-2 text-center">
                <h4 class="text-center mb0  _600  text-green"> 42 </h4>
                <p class="mb16 mb-xs-24 font-noraml">
                    Geo distributed data centers
                </p>
            </div>

            <div class="col-sm-2 text-center">
                <h4 class="text-center mb0  _600 text-green ">2.3mm+ </h4>
                <p class="mb16 mb-xs-24 font-noraml">
                    Search queries served
                </p>
            </div>

            <div class="col-sm-2 text-center ">
                <h4 class="text-center mb0  _600 text-green"> 560k </h4>
                <p class=" mb16 mb-xs-24 font-noraml">
                    Web pages indexed
                </p>
            </div>

            <div class="col-sm-2 text-center ">
                <h4 class="text-center mb0  _600 text-green"> 99.99% </h4>
                <p class=" mb16 mb-xs-24 font-noraml">
                    Uptime of the servers
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>